Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

304334: Container apps improvement (Provision container app environment) (#149)
  .azuredevops/deploy-platform-core-portal.yaml
  infra/core/env-shared/network/virtual-network.parameters.json
  infra/core/env-shared/portal-api/managed-identity/managed-identity.bicepparam
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
  infra/core/env-shared/portal/containerapp-dns-zone/containerapp-dns-zone.bicep
  infra/core/env-shared/portal/containerapp-dns-zone/containerapp-dns-zone.bicepparam
  infra/core/env-shared/portal/flexible-server-zone/flexible-server-zone.bicep
  infra/core/env-shared/portal/flexible-server/flexible-server.bicepparam
  infra/core/env-shared/portal/key-vault/key-vault.bicepparam
  infra/core/env-shared/portal/managed-identity/managed-identity.bicepparam
  infra/core/env-shared/portal/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

...
  README.md
Due: none

SFD add members
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

add user
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

fix
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Test reloader..
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

sec vnet peering
  .azuredevops/deploy-platform-core-portal.yaml
  infra/bootstrap/env/scripts/Trigger-VNetPeering.ps1
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml

point to main branch
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

344253: SSV to Sec vnet peering (#151)
  .azuredevops/deploy-platform-core-portal.yaml
  infra/bootstrap/env/scripts/Trigger-VNetPeering.ps1
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Point cluster to feature/debug-event-hub
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

policy fix
  .azuredevops/deploy-platform-bootstrap-env.yaml
  infra/common/policy/policy-diagnostic-settings-assignment.bicep
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

dev
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

test
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

dependency
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

null check
  infra/common/policy/policy-diagnostic-settings-assignment.bicep
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

check if property exists
  infra/common/policy/policy-diagnostic-settings-assignment.bicep
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

policyDefinitionId
  infra/common/policy/policy-diagnostic-settings-assignment.bicep
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

conditional execution
  infra/common/policy/policy-diagnostic-settings-assignment.bicep
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

fix
  infra/common/policy/policy-diagnostic-settings-assignment.bicep
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

branch update
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

Fix the monitoring job condition.
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Fix the monitoring job condition. (#153)
  .azuredevops/deploy-platform-core-env.yaml
Due: none

include PRD envieonment
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-build-agent.yaml
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

Restructure and rename flux notification folders
  .azuredevops/deploy-platform-core-fluxnotificationapi.yaml
  infra/core/env-shared/flux-notification-apis/event-hub/event-hub.bicep
  infra/core/env-shared/flux-notification-apis/event-hub/event-hub.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Update portal PR and trigger paths
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

Rename flux notification pipeline
  .azuredevops/deploy-platform-core-fluxnotification.yaml
Due: none

Update branches to point to main
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-core-fluxnotification.yaml
Due: none

Reset branch to main
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Add RBAC on cluster to Platform Users group.
  infra/core/env/managed-cluster/.bicep/cluster-rbac.bicep
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Update dependency.
  infra/core/env/managed-cluster/.bicep/cluster-rbac.bicep
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

333875: Flux Post Deployment Tests infrastructure (#150)
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-core-fluxnotification.yaml
  .azuredevops/deploy-platform-core-portal.yaml
  infra/bootstrap/env-shared/event-hub/namespace.bicep
  infra/bootstrap/env-shared/event-hub/namespace.bicepparam
  infra/core/env-shared/flux-notification-apis/event-hub/event-hub.bicep
  infra/core/env-shared/flux-notification-apis/event-hub/event-hub.bicepparam
  infra/core/env/app-configuration/config-data/config-data.json
  infra/core/env/event-hub/event-hub-secret-rbac.bicep
  infra/core/env/event-hub/event-hub-secret-rbac.bicepparam
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Add KV role assignment.
  infra/core/env/key-vault/application-keyvault-params/key-vault.bicepparam
  infra/core/env/key-vault/key-vault.bicep
  infra/core/env/key-vault/platform-keyvault-params/key-vault.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Update.
  infra/core/env/key-vault/application-keyvault-params/key-vault.bicepparam
  infra/core/env/key-vault/platform-keyvault-params/key-vault.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Update.
  infra/bootstrap/env-shared/key-vault/platform-key-vault.parameters.json
  infra/core/env-shared/portal/key-vault/key-vault.bicep
  infra/core/env-shared/portal/key-vault/key-vault.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Update.
  infra/core/env/key-vault/key-vault.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

added MI bicep
  .azuredevops/deploy-platform-core-fluxnotification.yaml
  infra/core/env-shared/flux-notification-apis/managed-identity/adocallbackapp-managed-identity.bicep
  infra/core/env-shared/flux-notification-apis/managed-identity/adocallbackapp-managed-identity.bicepparam
  infra/core/env-shared/flux-notification-apis/managed-identity/fluxnotificationapp-managed-identity.bicep
  infra/core/env-shared/flux-notification-apis/managed-identity/fluxnotificationapp-managed-identity.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

ssv_tst * env
  .azuredevops/deploy-platform-core-fluxnotification.yaml
Due: none

main branch
  .azuredevops/deploy-platform-core-fluxnotification.yaml
Due: none

updated deployResources logic
  .azuredevops/deploy-platform-core-fluxnotification.yaml
Due: none

Add flux notification storage acount
  .azuredevops/deploy-platform-core-fluxnotification.yaml
  infra/core/env-shared/flux-notification-apis/storage-account/storage-account.bicep
  infra/core/env-shared/flux-notification-apis/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml
