Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

.azuredevops/deploy-platform-bootstrap-env-shared.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
  ...

.azuredevops/deploy-platform-bootstrap-env.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-bootstrap-serviceconnections.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-CDO-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-bootstrap.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-build-agent.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SND1-VMSS
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-core-env-shared.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core-env-tenant.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      variableFiles:
      - /pipelines/vars/common.yaml@_self
  ...

.azuredevops/deploy-platform-core-portal.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

Add pre stage to build agent pipeline (#116)
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

refactored scope for child resource
  infra/core/env-shared/portal/container-apps-env/.bicep/set-secret.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

refactored scope for child resource (#117)
  infra/core/env-shared/portal/container-apps-env/.bicep/set-secret.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Added ruleset
  infra/core/env/front-door/front-door.bicep
  infra/core/env/front-door/front-door.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

lock object updated
  infra/core/env/front-door/front-door.bicep
Due: .azuredevops/deploy-platform-core.yaml

cdn.profile:0.4.4-prerelease
  infra/core/env/front-door/front-door.bicep
Due: .azuredevops/deploy-platform-core.yaml

287384: HSTS header ruleset (#119)
  infra/core/env/front-door/front-door.bicep
  infra/core/env/front-door/front-door.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

FFD-AADGroups creation using platfrom AAD pipeline
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  infra/bootstrap/tenant/config/aad-groups/FFD-AADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/FFD-AADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap.yaml

Branchfilter * to Create FFD groups in Defra from feature branch
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
Due: none

updated AD group powershell module to update AD group owners and members
  scripts/modules/aad-groups/aad-groups.psm1
Due: none

Added Update-GroupMembers and owners method
  scripts/modules/aad-groups/aad-groups.psm1
Due: none

updated aad group manifest
  infra/bootstrap/tenant/config/aad-groups/FFD-AADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/FFD-AADGroups.defradev.json
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap.yaml

removed temporary FFD changes
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  infra/bootstrap/tenant/config/aad-groups/FFD-AADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/FFD-AADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap.yaml

users as variables
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap.yaml

filePathsForTransform path update
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
Due: none

-ErrorAction Stop
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap.yaml

noescape
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap.yaml

negative testing with -ErrorAction Stop
  scripts/modules/aad-groups/aad-groups.psm1
Due: none

debug
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defra.json
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap.yaml

Change the service connection for the CDN.
  .azuredevops/deploy-platform-core-env.yaml
Due: none

module fixes
  scripts/modules/aad-groups/aad-groups.psm1
Due: none

add AAG-Users-ADP-PlatformEngineers owners
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap.yaml

logging
  scripts/modules/aad-groups/aad-groups.psm1
Due: none

Update deploy-platform-core-env.yaml for Azure Pipelines
  .azuredevops/deploy-platform-core-env.yaml
Due: none

ref main
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap.yaml

deploymentBranches updated
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
Due: none

300903 : Platform AAD groups update members and owners (#120)
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap.yaml

Move Public DNS zone to SEC.
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Correct AFD & WAF name in template parameters.
  infra/core/env/front-door/azure-waf.parameters.json
  infra/core/env/front-door/front-door.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Correct WAF policy name.
  infra/core/env/front-door/azure-waf.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Debug.
  infra/core/env/front-door/azure-waf.bicep
Due: .azuredevops/deploy-platform-core.yaml

Create AD Groups for ADP Portal
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  infra/bootstrap/tenant/config/aad-groups/portalAADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/portalAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap.yaml

Revert.
  infra/core/env/front-door/azure-waf.bicep
Due: .azuredevops/deploy-platform-core.yaml

Changed the branch main to sm/298311-createadgroup
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
Due: none

Extra close paranthesis fix
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
Due: none

Updated the trigger branch name
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
Due: none

Updated the name of the Group
  infra/bootstrap/tenant/config/aad-groups/portalAADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/portalAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap.yaml

Space removed from Group name
  infra/bootstrap/tenant/config/aad-groups/portalAADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/portalAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap.yaml

Updated file path for filePathsForTransform
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
Due: none

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor
