Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus

route table update and nsg
  infra/core/env-shared/network/route-table.bicepparam
  infra/core/env-shared/network/virtual-network.parameters.json
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
Due: .azuredevops/deploy-platform-core.yaml

updated bicep param to json file
  infra/core/env-shared/network/route-table.bicepparam
  infra/core/env-shared/network/route-table.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

bicep param
  infra/core/env-shared/network/route-table.bicepparam
  infra/core/env-shared/network/route-table.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

remove hard-coded values
  infra/core/env/managed-cluster/.bicep/data-collection-rule-association.bicep
  infra/core/env/managed-cluster/.bicep/monitoring-reader.bicep
  infra/core/env/managed-cluster/.bicep/prometheus-logs-requisites.bicep
  infra/core/env/managed-cluster/.bicep/prometheus-rule-groups.bicep
  infra/core/env/managed-cluster/aks-cluster.bicep
  infra/core/env/managed-cluster/aks-cluster.bicepparam
  infra/core/env/observability/grafana.bicep
  infra/core/env/observability/grafana.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

change monitoring reader to monitoring data reader
  infra/core/env/managed-cluster/.bicep/monitoring-data-reader.bicep
  infra/core/env/managed-cluster/.bicep/monitoring-reader.bicep
  infra/core/env/managed-cluster/.bicep/prometheus-logs-requisites.bicep
Due: .azuredevops/deploy-platform-core.yaml

initial commit
  infra/core/access-control/flexible-server/Dockerfile
  infra/core/access-control/flexible-server/scripts/Grant-FlexibleServerAccess.ps1
Due: .azuredevops/deploy-platform-core.yaml

Initial commit
  infra/core/access-control/flexible-server/scripts/Grant-FlexibleServerAccess.ps1
Due: .azuredevops/deploy-platform-core.yaml

fix
  infra/core/access-control/flexible-server/Dockerfile
  infra/core/access-control/flexible-server/scripts/Grant-FlexibleServerAccess.ps1
Due: .azuredevops/deploy-platform-core.yaml

fix
  infra/core/access-control/flexible-server/scripts/Grant-FlexibleServerAccess.ps1
Due: .azuredevops/deploy-platform-core.yaml

fix
  .vscode/settings.json
  infra/core/access-control/flexible-server/scripts/Grant-FlexibleServerAccess.ps1
Due: .azuredevops/deploy-platform-core.yaml

fix
  infra/core/access-control/flexible-server/scripts/Grant-FlexibleServerDBAccess.ps1
Due: .azuredevops/deploy-platform-core.yaml

Data collection endpoint test
  infra/core/env/managed-cluster/.bicep/prometheus-logs-requisites.bicep
Due: .azuredevops/deploy-platform-core.yaml

Remove enableAzureMonitorProfileMetrics from main cluster template
  infra/core/env/managed-cluster/.bicep/monitoring-data-reader.bicep
  infra/core/env/managed-cluster/.bicep/prometheus-logs-requisites.bicep
  infra/core/env/managed-cluster/aks-cluster.bicep
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Revert to original prometheus automation test
  infra/core/env/managed-cluster/.bicep/prometheus-logs-requisites.bicep
  infra/core/env/managed-cluster/.bicep/prometheus-rule-groups.bicep
Due: .azuredevops/deploy-platform-core.yaml

set enableAzureMonitorProfileMetrics to true
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

test ssv3
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
  infra/core/env-shared/portal/flexible-server-zone/flexible-server-zone.bicepparam
  infra/core/env-shared/portal/flexible-server/flexible-server.bicepparam
  infra/core/env-shared/portal/key-vault/key-vault.bicepparam
  infra/core/env-shared/portal/managed-identity/managed-identity.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

updated branch
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

disabled trigger for draft PR
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

updated subnet
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
  infra/core/env-shared/portal/flexible-server/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

updated subnet
  infra/core/env-shared/portal/key-vault/key-vault.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Enable Grafana API Key
  infra/core/env/observability/grafana.bicep
Due: .azuredevops/deploy-platform-core.yaml

Update AKS cluster bicep to use release version
  infra/core/env/managed-cluster/.bicep/monitoring-data-reader.bicep
  infra/core/env/managed-cluster/aks-cluster.bicep
  infra/core/env/observability/.bicep/monitoring-reader.bicep
Due: .azuredevops/deploy-platform-core.yaml

Rename prometheus resources
  infra/core/env/managed-cluster/.bicep/monitoring-data-reader.bicep
  infra/core/env/managed-cluster/.bicep/prometheus-logs-requisite-resources.bicep
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Updated servicebus custom role to manage topic subscriptions
  infra/core/tenant/role-definitions/servicebus.bicep
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Updated servicebus custom role to manage topic subscriptions (#95)
  infra/core/tenant/role-definitions/servicebus.bicep
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

App Reg Automation
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
Due: .azuredevops/deploy-platform-core.yaml

Portal App Reg
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core.yaml

fix
  infra/core/access-control/flexible-server/scripts/Grant-FlexibleServerAccess.ps1
  infra/core/access-control/flexible-server/scripts/Grant-FlexibleServerDBAccess.ps1
Due: .azuredevops/deploy-platform-core.yaml

Data driven Set-RoleAssignments script
  .azuredevops/deploy-platform-bootstrap-env.yaml
  infra/bootstrap/env/config/role-assignments/tier2-role-assignments.json
  infra/bootstrap/env/scripts/Set-RoleAssignments.ps1
Due: .azuredevops/deploy-platform-bootstrap.yaml

debug with # New-AzRoleAssignment
  .azuredevops/deploy-platform-bootstrap-env.yaml
  infra/bootstrap/env/scripts/Set-RoleAssignments.ps1
Due: .azuredevops/deploy-platform-bootstrap.yaml

Debug Set-RoleAssignments.ps1
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none
