Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-fluxnotification.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-fluxnotificationapi.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-iam.yaml: any of: infra/core/iam
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/env/kms-key-rotation
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

update
  infra/core/env/front-door/front-door-waf.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

add group owner
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

update
  infra/core/env/front-door/adp-portal/front-door-waf.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

aad group with owner
  .azuredevops/deploy-platform-core-iam.yaml
  infra/core/iam/subscription/aad-groups/accessgroups.snd1.json
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

updated branch
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

updated file path
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

updated group owners and group name
  infra/core/iam/subscription/aad-groups/accessgroups.snd1.json
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

updated json
  .azuredevops/deploy-platform-core-iam.yaml
  infra/core/iam/subscription/aad-groups/clusteraccessgroup.json
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

monitoring group
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-core-iam.yaml
  infra/core/env/insights/aad-groups/monitoringpublishergroup.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

point to main branch
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

337878: Updated group with owners (#189)
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-core-iam.yaml
  infra/core/env/insights/aad-groups/monitoringpublishergroup.json
  infra/core/iam/subscription/aad-groups/clusteraccessgroup.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

added snd4 access group
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defra.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

test
  infra/core/env/front-door/adp-portal/front-door-waf.bp
  infra/core/env/front-door/adp-portal/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

added snd4 access group (#190)
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defra.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

without escape
  infra/core/env/front-door/adp-portal/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

escape
  infra/core/env/front-door/adp-portal/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

removed duplicate
  infra/core/env/front-door/adp-portal/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

debug
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml

test without check
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml

update module
  infra/bootstrap/tenant/scripts/Create-AADGroups.ps1
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

dbug
  infra/bootstrap/tenant/scripts/Create-AADGroups.ps1
Due: .azuredevops/deploy-platform-bootstrap.yaml

Write-Host
  infra/bootstrap/tenant/scripts/Create-AADGroups.ps1
Due: .azuredevops/deploy-platform-bootstrap.yaml

update az
  infra/bootstrap/tenant/scripts/Create-AADGroups.ps1
Due: .azuredevops/deploy-platform-bootstrap.yaml

added build agent
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  infra/bootstrap/tenant/scripts/Create-AADGroups.ps1
Due: .azuredevops/deploy-platform-bootstrap.yaml

389987: Fix for bootstrap tenant pipeline (#191)
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  infra/bootstrap/tenant/scripts/Create-AADGroups.ps1
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

update
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/front-door/adp-portal/front-door-waf.bp
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  .azuredevops/deploy-platform-core-env.yaml
Due: none
