Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

.azuredevops/deploy-platform-bootstrap-env-shared.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
  ...

.azuredevops/deploy-platform-bootstrap-env.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-bootstrap-serviceconnections.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-CDO-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-bootstrap-tenant.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      variableFiles:
      - /pipelines/vars/common.yaml@_self
  ...

.azuredevops/deploy-platform-bootstrap.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-build-agent.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SND1-VMSS
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core-env-shared.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv_dev
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core-env-tenant.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      variableFiles:
      - /pipelines/vars/common.yaml@_self
  ...

runAsPreJob: false
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

Added apiAuthBackendAppRegClientIdSecretValue
  infra/core/env-shared/app-registrations/callback-api-client.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

App reg dependency
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

get keyvault script
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/scripts/Get-KeyVaultSecret.ps1
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

customrole
  .azuredevops/deploy-platform-core-iam.yaml
  infra/core/iam/.bicep/role-assignment.bicep
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicep
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

env
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

Add missing dollar sign
  infra/core/env-shared/scripts/Get-KeyVaultSecret.ps1
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

scope
  infra/core/iam/.bicep/role-assignment.bicep
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicep
Due: .azuredevops/deploy-platform-core.yaml

UPdate variable name
  infra/core/env-shared/app-registrations/callback-api-client.json
  infra/core/env-shared/scripts/Get-KeyVaultSecret.ps1
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

without scope
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

Move Get Backend App ClientID from Keyvault job
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

MOve app reg creation jobs
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

Try with file transform from common
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

test
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicep
Due: .azuredevops/deploy-platform-core.yaml

scope subscription
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

pre script removed
  .azuredevops/deploy-platform-core-iam.yaml
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

try
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

test3
  .azuredevops/deploy-platform-core-iam.yaml
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicep
Due: .azuredevops/deploy-platform-core.yaml

test4
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicep
Due: .azuredevops/deploy-platform-core.yaml

test5
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicep
Due: .azuredevops/deploy-platform-core.yaml

test 6
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicep
Due: .azuredevops/deploy-platform-core.yaml

test6
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

test6
  .azuredevops/deploy-platform-core-iam.yaml
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

test7
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

portalAppPrincipalId
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

test8
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

tes9
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

removed unused code
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicep
Due: .azuredevops/deploy-platform-core.yaml

Update README.md
  README.md
Due: none

test10
  infra/core/iam/.bicep/role-assignment.bicep
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicep
Due: .azuredevops/deploy-platform-core.yaml

point to main branch
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

Added group name variables in manifest.json
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_DEV.json
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_TST.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

stg name changed
  infra/core/env-shared/adp-portal/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

update storage name
  infra/core/env-shared/adp-portal/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

revert the storage name
  infra/core/env-shared/adp-portal/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Add build name to pipeline
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-fluxnotification.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-fluxnotificationapi.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor
