Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

.azuredevops/deploy-platform-bootstrap-env-shared.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
  ...

.azuredevops/deploy-platform-bootstrap-env.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-bootstrap-serviceconnections.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-CDO-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-bootstrap-tenant.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      variableFiles:
      - /pipelines/vars/common.yaml@_self
  ...

.azuredevops/deploy-platform-bootstrap.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-build-agent.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SND1-VMSS
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core-env-shared.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv_dev
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core-env-tenant.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      variableFiles:
      - /pipelines/vars/common.yaml@_self
  ...

Grant read access to Platform team (#182)
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_PRE.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Update to correct service principal as the owner in Defra
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_PRD.json
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_PRE.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

portal client id
  infra/core/env-shared/adp-portal/managed-identity/managed-identity.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

ADP-PORTAL-MI-CLIENT-ID
  infra/core/env-shared/adp-portal/managed-identity/managed-identity.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

371158: Store Portal Client ID in Keyvault (#184)
  infra/core/env-shared/adp-portal/managed-identity/managed-identity.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Update azure-waf-baseline.bicepparam
  infra/core/env/front-door/azure-waf-baseline.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Update azure-waf-baseline.bicep
  infra/core/env/front-door/azure-waf-baseline.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

one line
  infra/core/env/front-door/azure-waf-baseline.bicep
  infra/core/env/front-door/azure-waf-baseline.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

corrected owner for pre and prd
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_PRD.json
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_PRE.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

temp changes to reprodcue issue
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_DEV.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

debug issue with ##vso[task.logissue type=error]
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_DEV.json
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

debug exit 1
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_DEV.json
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

debug
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml

debug 2
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml

Add govuk waf error page
  infra/core/env/front-door/waf-error/.gitignore
  infra/core/env/front-door/waf-error/README.md
  infra/core/env/front-door/waf-error/astro.config.mjs
  infra/core/env/front-door/waf-error/integrations/copy-govuk.mjs
  infra/core/env/front-door/waf-error/integrations/trim-css.mjs
  infra/core/env/front-door/waf-error/package.json
  infra/core/env/front-door/waf-error/src/env.d.ts
  infra/core/env/front-door/waf-error/src/layouts/Layout.astro
  infra/core/env/front-door/waf-error/src/pages/index.astro
  infra/core/env/front-door/waf-error/tsconfig.json
  infra/core/env/front-door/waf-error/yarn.lock
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Custom Storage Account Data Reader and Writer roles
  .azuredevops/deploy-platform-core-tenant.yaml
  infra/core/tenant/role-definition/storageaccount-data-reader-role.bicep
  infra/core/tenant/role-definition/storageaccount-data-reader-role.json
  infra/core/tenant/role-definition/storageaccount-data-writer-role.bicep
  infra/core/tenant/role-definition/storageaccount-data-writer-role.json
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Added parameters files
  infra/core/tenant/role-definition/storageaccount-data-reader-role.parameters.json
  infra/core/tenant/role-definition/storageaccount-data-writer-role.parameters.json
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Change to main branch
  .azuredevops/deploy-platform-core-tenant.yaml
Due: none

Add govuk waf error page (#186)
  infra/core/env/front-door/waf-error/.gitignore
  infra/core/env/front-door/waf-error/README.md
  infra/core/env/front-door/waf-error/astro.config.mjs
  infra/core/env/front-door/waf-error/integrations/copy-govuk.mjs
  infra/core/env/front-door/waf-error/integrations/trim-css.mjs
  infra/core/env/front-door/waf-error/package.json
  infra/core/env/front-door/waf-error/src/env.d.ts
  infra/core/env/front-door/waf-error/src/layouts/Layout.astro
  infra/core/env/front-door/waf-error/src/pages/index.astro
  infra/core/env/front-door/waf-error/tsconfig.json
  infra/core/env/front-door/waf-error/yarn.lock
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Storage Account data roles (#187)
  .azuredevops/deploy-platform-core-tenant.yaml
  infra/core/tenant/role-definition/storageaccount-data-reader-role.bicep
  infra/core/tenant/role-definition/storageaccount-data-reader-role.parameters.json
  infra/core/tenant/role-definition/storageaccount-data-writer-role.bicep
  infra/core/tenant/role-definition/storageaccount-data-writer-role.parameters.json
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

fix
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_DEV.json
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

debug
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_DEV.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

revert temp changes
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_DEV.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

update
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_DEV.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

385461: Entra ID Group Owner Validation (#188)
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_PRD.json
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_PRE.json
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

update
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/front-door/adp-portal/azure-waf.bicep
  infra/core/env/front-door/adp-portal/azure-waf.bicepparam
  infra/core/env/front-door/azure-waf.bicep
  infra/core/env/front-door/baseline/azure-waf.bicep
  infra/core/env/front-door/baseline/azure-waf.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  .azuredevops/deploy-platform-core-env.yaml
Due: none

update
  infra/core/env/front-door/adp-portal/azure-waf.bicepparam
  infra/core/env/front-door/baseline/azure-waf.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  infra/core/env/front-door/baseline/azure-waf-baseline.bicep
  infra/core/env/front-door/baseline/azure-waf-baseline.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/front-door/adp-portal/azure-waf-baseline.bicep
  infra/core/env/front-door/adp-portal/azure-waf-baseline.bicepparam
  infra/core/env/front-door/azure-waf-baseline.bicep
  infra/core/env/front-door/azure-waf-baseline.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  infra/core/env/front-door/azure-waf-baseline.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  .azuredevops/deploy-platform-build-agent.yaml
  .azuredevops/deploy-platform-core-env-shared.yaml
  .azuredevops/deploy-platform-core-iam.yaml
  .azuredevops/deploy-platform-core-tenant.yaml
  .azuredevops/deploy-platform-kmskeyrotation.yaml
  .azuredevops/deploy-platform-sec-env.yaml
  .azuredevops/publish-platform-nginxplus.yaml
  .azuredevops/publish-powershell-docker-image.yaml
  infra/core/env/front-door/azure-waf-baseline.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/front-door/azure-waf-baseline.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-fluxnotification.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-fluxnotificationapi.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-iam.yaml: any of: infra/core/iam
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor
