Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

.azuredevops/deploy-platform-bootstrap-env-shared.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
  ...

.azuredevops/deploy-platform-bootstrap-env.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-bootstrap-serviceconnections.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-CDO-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-bootstrap-tenant.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      variableFiles:
      - /pipelines/vars/common.yaml@_self
  ...

.azuredevops/deploy-platform-bootstrap.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-build-agent.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SND1-VMSS
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core-env-shared.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core-env-tenant.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      variableFiles:
      - /pipelines/vars/common.yaml@_self
  ...

updated rg
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

secServiceConnection
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

draft false
  .azuredevops/deploy-platform-core-env.yaml
Due: none

subscriptionName
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

Added platform-db-aad-admin to shared postgres server
  infra/core/env-shared/flexible-server/flexible-server.bicep
  infra/core/env-shared/flexible-server/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

remove policy
  .azuredevops/deploy-platform-sec-env.yaml
  infra/sec/policy/.bicep/policy-assignment.bicep
  infra/sec/policy/.bicep/policy-definition.bicep
  infra/sec/policy/policy-definition-deploy.bicep
  infra/sec/policy/policy-definition-deploy.parameters.json
  infra/sec/policy/policy-diagnostic-settings-assignment.bicep
  infra/sec/policy/policy-diagnostic-settings-assignment.parameters.json
Due: .azuredevops/deploy-platform-sec-env.yaml

log analytics workspace
  infra/sec/application-gateway/application-gateway.bicep
  infra/sec/application-gateway/application-gateway.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

policy-definition for PostgreSQLDB
  .azuredevops/deploy-platform-bootstrap-env.yaml
  infra/common/policy/.bicep/policy-definition.bicep
  infra/common/policy/policy-definition-deploy.bicep
  infra/common/policy/policy-definition-deploy.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

rv/353153
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

updated policy name
  infra/common/policy/policy-definition-deploy.bicep
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

updated policy def id
  infra/common/policy/policy-diagnostic-settings-assignment.bicep
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

fix
  infra/core/env-shared/adp-portal/storage-account/storage-account.bicep
  infra/core/env-shared/adp-portal/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

categoryGroup param added
  infra/common/policy/policy-definition-deploy.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

point to main branch
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

rv/353153
  .azuredevops/deploy-platform-bootstrap-env.yaml
  infra/common/policy/policy-definition-deploy.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Flux MI Keyvault rbac
  infra/core/env-shared/flux-notification/managed-identity/adocallbackapp-managed-identity.bicep
  infra/core/env-shared/flux-notification/managed-identity/adocallbackapp-managed-identity.bicepparam
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicep
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

updated all logs
  infra/common/policy/policy-definition-deploy.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

added FLUXNOTIFY-MI-CLIENT-ID in keyvault
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

name updated
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Enable PRD env for SEC resources
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

Enable PRD env for SEC resources (#163)
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

updated role def
  infra/common/policy/policy-definition-deploy.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

without role
  infra/common/policy/policy-definition-deploy.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

pg-flex-server-dgn-settings-policyDef
  infra/common/policy/policy-definition-deploy.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

add module
  infra/core/env-shared/adp-portal/storage-account/.bicep/storesecret.bicep
  infra/core/env-shared/adp-portal/storage-account/storage-account.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Secret level rbac
  infra/core/env-shared/flux-notification/managed-identity/adocallbackapp-managed-identity.bicep
  infra/core/env-shared/flux-notification/managed-identity/adocallbackapp-managed-identity.bicepparam
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicep
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

update parameter
  infra/core/env-shared/adp-portal/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

roleDefinitions
  infra/common/policy/policy-definition-deploy.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

role def id
  infra/common/policy/policy-definition-deploy.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

role sub
  infra/common/policy/policy-definition-deploy.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

removed assignment
  infra/common/policy/policy-definition-deploy.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update feature branch
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/adp-portal/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

policy def id
  infra/common/policy/policy-definition-deploy.parameters.json
  infra/common/policy/policy-diagnostic-settings-assignment.bicep
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

get tenant resource id
  infra/common/policy/policy-diagnostic-settings-assignment.bicep
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

dev1
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

remove unused policy def
  .azuredevops/deploy-platform-bootstrap-env.yaml
  infra/common/policy/.bicep/policy-definition.bicep
  infra/common/policy/policy-definition-deploy.bicep
  infra/common/policy/policy-definition-deploy.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

test in dev1
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

uncommented "event-hub-secret-rbac"
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicep
  infra/core/env/app-configuration/config-data/config-data.json
  infra/core/env/event-hub/event-hub-secret-rbac.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

point to main branch
  .azuredevops/deploy-platform-bootstrap-env.yaml
  infra/common/policy/policy-diagnostic-settings-assignment.bicep
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-fluxnotification.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-fluxnotificationapi.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor
