Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus

Add reader permissions to Grafana to resolve errors in Dashboard
  infra/core/env/managed-cluster/.bicep/prometheus-logs-requisite-resources.bicep
Due: .azuredevops/deploy-platform-core.yaml

added portal dns name
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

Update flux dashboards ps script
  infra/core/env/scripts/New-FluxDashboards.ps1
Due: .azuredevops/deploy-platform-core.yaml

Change contains to notcontains
  infra/core/env/scripts/New-FluxDashboards.ps1
Due: .azuredevops/deploy-platform-core.yaml

portalEntraApp
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

Update FluxDashboard Powershell script
  infra/core/env/scripts/New-FluxDashboards.ps1
Due: .azuredevops/deploy-platform-core.yaml

revert flux branch to main
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

added storage account
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/portal/storage-account/storage-account.bicep
  infra/core/env-shared/portal/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

added private endpoint
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/portal/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

updated vnet Name
  infra/core/env-shared/portal/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

updated app name
  infra/core/env-shared/network/route-table.bicepparam
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

Update to the env
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
  infra/core/env-shared/portal/flexible-server-zone/flexible-server-zone.bicepparam
  infra/core/env-shared/portal/flexible-server/flexible-server.bicepparam
  infra/core/env-shared/portal/key-vault/key-vault.bicepparam
  infra/core/env-shared/portal/managed-identity/managed-identity.bicepparam
  infra/core/env-shared/portal/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

Restructure bootstrap pipeline
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-core-env-shared.yaml
  .azuredevops/deploy-platform-core-tenant.yaml
  infra/bootstrap/env-shared/container-registry/platform-container-registry.bicep
  infra/bootstrap/env-shared/container-registry/platform-container-registry.parameters.json
  infra/bootstrap/env-shared/key-vault/platform-key-vault.bicep
  infra/bootstrap/env-shared/key-vault/platform-key-vault.parameters.json
  infra/core/tenant/role-definition/flexible-server-writer-role.bicep
  infra/core/tenant/role-definition/flexible-server-writer-role.parameters.json
  infra/core/tenant/role-definition/servicebus-writer-role.bicep
  infra/core/tenant/role-definition/servicebus-writer-role.parameters.json
  infra/core/tenant/role-definition/storageaccount-writer-role.bicep
  infra/core/tenant/role-definition/storageaccount-writer-role.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Update pipeline
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
Due: none

Comment Policy Assignments
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
Due: none

Updates
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
Due: none

updated env variable
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

Updates
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

update env
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
  infra/core/env-shared/portal/storage-account/storage-account.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

point to main branch
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

update trigger
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

275548: Add flux dash boards to grafana (#97)
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/managed-cluster/.bicep/prometheus-logs-requisite-resources.bicep
  infra/core/env/observability/dashboards/flux-application-deployments.json
  infra/core/env/observability/dashboards/flux-cluster-stats.json
  infra/core/env/observability/dashboards/flux-control-plane.json
  infra/core/env/observability/grafana.bicep
  infra/core/env/observability/grafana.parameters.json
  infra/core/env/scripts/New-FluxDashboards.ps1
Due: .azuredevops/deploy-platform-core.yaml

Use latest versions of bicep modules
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Revert back to flux pre-release version
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Updated app reg api permissions
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

added switches for conditional deployment
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

Update flux extension bicep to latest version
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

tier2 roleassignment using bicep
  .azuredevops/deploy-platform-bootstrap-env.yaml
  infra/bootstrap/env/role-assignment/.bicep/shared-acr-uaa.bicep
  infra/bootstrap/env/role-assignment/.bicep/shared-resourcegroup-contributor.bicep
  infra/bootstrap/env/role-assignment/.bicep/subscription-rbac.bicep
  infra/bootstrap/env/role-assignment/tier2-role-assignments.bicep
  infra/bootstrap/env/role-assignment/tier2-role-assignments.bicepparam
Due: .azuredevops/deploy-platform-bootstrap.yaml

subcriptionRoleAssignments param name fix
  infra/bootstrap/env/role-assignment/tier2-role-assignments.bicepparam
Due: .azuredevops/deploy-platform-bootstrap.yaml

277122: Replace aks and flux bicep module prerelease versions with latest versions (#98)
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

debug rbac in snd2
  .azuredevops/deploy-platform-bootstrap-env.yaml
  infra/bootstrap/env/role-assignment/tier2-role-assignments.bicep
  infra/bootstrap/env/role-assignment/tier2-role-assignments.bicepparam
Due: .azuredevops/deploy-platform-bootstrap.yaml

Policy assignments
  .azuredevops/deploy-platform-core-env.yaml
  infra/common/policy/.bicep/policy-assignment.bicep
  infra/common/policy/assignment.bicep
  infra/common/policy/assignment.bicepparam
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Core env shared pipeline
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

scope: "Subscription"
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

targetScope = 'subscription'
  infra/bootstrap/env/role-assignment/tier2-role-assignments.bicep
Due: .azuredevops/deploy-platform-bootstrap.yaml

serviceConnectionVariableName: "subscriptionName"
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

RBAC using script approach
  .azuredevops/deploy-platform-bootstrap-env.yaml
  infra/bootstrap/env/role-assignment/.bicep/shared-acr-uaa.bicep
  infra/bootstrap/env/role-assignment/.bicep/shared-resourcegroup-contributor.bicep
  infra/bootstrap/env/role-assignment/.bicep/subscription-rbac.bicep
  infra/bootstrap/env/role-assignment/tier2-role-assignments.bicep
  infra/bootstrap/env/role-assignment/tier2-role-assignments.bicepparam
Due: .azuredevops/deploy-platform-bootstrap.yaml

script fix
  infra/bootstrap/env/scripts/Set-RoleAssignments.ps1
Due: .azuredevops/deploy-platform-bootstrap.yaml

ref set to main
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

ssv platform keyvault
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml
