Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

.azuredevops/deploy-platform-bootstrap-env-shared.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
  ...

.azuredevops/deploy-platform-bootstrap-env.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-bootstrap-serviceconnections.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-CDO-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-bootstrap-tenant.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      variableFiles:
      - /pipelines/vars/common.yaml@_self
  ...

.azuredevops/deploy-platform-bootstrap.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-build-agent.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SND1-VMSS
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core-env-shared.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv_dev
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core-env-tenant.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      variableFiles:
      - /pipelines/vars/common.yaml@_self
  ...

Grant global read permissions
  .azuredevops/deploy-platform-core-env.yaml
Due: none

pass in object id
  infra/core/env/global-read-permissions/global-read-permissions.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Add Key Vault Reader access to application keyvault
  infra/core/env/global-read-permissions/global-read-permissions.bicep
  infra/core/env/global-read-permissions/global-read-permissions.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Assign app config data reader
  infra/core/env/global-read-permissions/global-read-permissions.bicep
  infra/core/env/global-read-permissions/global-read-permissions.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Test permission at subscription level
  infra/bootstrap/env-shared/global-read-permissions/global-read-permissions.bicep
  infra/bootstrap/env-shared/global-read-permissions/global-read-permissions.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Update pipeline
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
Due: none

Update deployment name
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
Due: none

Fix path
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
Due: none

Fix path again
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
Due: none

Add target scope subscription
  infra/bootstrap/env-shared/global-read-permissions/global-read-permissions.bicep
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Test getting object id dynamically
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  infra/bootstrap/env-shared/global-read-permissions/global-read-permissions.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Update script
  infra/core/tenant/scripts/Get-EntraGroupObjectId.ps1
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Add serviceConnectionVariableName
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/global-read-permissions/global-read-permissions.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Use variable from common repo
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Update naming
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-core-env.yaml
  infra/bootstrap/env-shared/global-read-permissions/global-read-permissions.bicepparam
  infra/bootstrap/env-shared/global-team-permissions/global-team-permissions.bicep
  infra/bootstrap/env-shared/global-team-permissions/global-team-permissions.bicepparam
  infra/core/env/global-team-permissions/global-team-permissions.bicep
  infra/core/env/global-team-permissions/global-team-permissions.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

avm module
  infra/core/env/search-service/module/main.bicep
  infra/core/env/search-service/module/shared-private-link-resource/main.bicep
  infra/core/env/search-service/search-service.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Reset branches
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-core-env.yaml
Due: none

search service version update
  infra/core/env/search-service/search-service.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

382090 : searchservice module update to avm (#213)
  infra/core/env/search-service/module/main.bicep
  infra/core/env/search-service/module/shared-private-link-resource/main.bicep
  infra/core/env/search-service/search-service.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Test resource lock on ACR
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/container-registry/application-container-registry.bicep
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Add parameter
  infra/core/env/container-registry/application-container-registry.bicep
  infra/core/env/container-registry/application-container-registry.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Add conditions around existing delete locks
  infra/core/env/front-door/adp-portal/internal/front-door-waf.parameters.json
  infra/core/env/front-door/baseline/external/front-door-waf.parameters.json
  infra/core/env/front-door/baseline/internal/front-door-waf.parameters.json
  infra/core/env/front-door/front-door-waf.bicep
  infra/core/env/front-door/front-door.bicep
  infra/core/env/front-door/front-door.parameters.json
  infra/core/env/key-vault/application-keyvault-params/key-vault.bicepparam
  infra/core/env/key-vault/key-vault.bicep
  infra/core/env/key-vault/platform-keyvault-params/key-vault.bicepparam
  infra/core/env/managed-cluster/aks-cluster.bicep
  infra/core/env/managed-cluster/aks-cluster.bicepparam
  infra/core/env/open-ai/open-ai.bicep
  infra/core/env/open-ai/open-ai.bicepparam
  infra/core/env/private-dns-zone/aks-cluster-zone.bicep
  infra/core/env/private-dns-zone/aks-cluster-zone.parameters.json
  infra/core/env/public-dns-zone/dns-zone.bicep
  infra/core/env/public-dns-zone/dns-zone.parameters.json
  infra/core/env/redis-cache/redis-cache.bicep
  infra/core/env/redis-cache/redis-cache.parameters.json
  infra/core/env/search-service/search-service.bicep
  infra/core/env/search-service/search-service.bicepparam
  infra/core/env/service-bus/namespace.bicep
  infra/core/env/service-bus/namespace.parameters.json
  infra/core/env/storage-account/application-storage-account.bicep
  infra/core/env/storage-account/application-storage-account.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Add monitoring reader group role assignment
  infra/core/env/insights/aad-groups/monitoringpublishergroup.json
  infra/core/env/insights/component.bicep
  infra/core/env/insights/component.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

test feature branch
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Add lock conditions around networking components
  infra/common/network/network-security-group.bicep
  infra/common/network/network-security-group.parameters.json
  infra/common/network/route-table.bicep
  infra/common/network/route-table.parameters.json
  infra/common/network/virtual-network.bicep
  infra/common/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Add more conditions for delete locks
  infra/core/env/open-ai/open-ai.bicep
  infra/core/env/postgre-sql/flexible-server.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

common scripts
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  .azuredevops/deploy-platform-core-env-shared.yaml
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-core-iam.yaml
  infra/bootstrap/tenant/scripts/Create-AADGroups.ps1
Due: .azuredevops/deploy-platform-bootstrap.yaml

354011: Assign Global Team Rbac permissions to various resources. (#212)
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-core-env.yaml
  infra/bootstrap/env-shared/global-team-permissions/global-team-permissions.bicep
  infra/bootstrap/env-shared/global-team-permissions/global-team-permissions.bicepparam
  infra/core/env/global-team-permissions/global-team-permissions.bicep
  infra/core/env/global-team-permissions/global-team-permissions.bicepparam
  infra/core/tenant/scripts/Get-EntraGroupObjectId.ps1
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Fixes
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/insights/aad-groups/monitoringGroups.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

updated path
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  .azuredevops/deploy-platform-core-env-shared.yaml
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

revert tag reference for adp-pipeline-common repo
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Add lock to flexible server zone
  infra/core/env/private-dns-zone/flexible-server-zone.bicep
  infra/core/env/private-dns-zone/flexible-server-zone.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Add lock condition to log analytics workspace
  infra/common/operational-insights/log-analytics-workspace.bicep
  infra/common/operational-insights/log-analytics-workspace.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Update resource lock
  infra/common/operational-insights/log-analytics-workspace.bicep
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

ref feature branch
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

Add conditional locks env shared resources
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  infra/bootstrap/env-shared/container-registry/platform-container-registry.bicep
  infra/bootstrap/env-shared/container-registry/platform-container-registry.parameters.json
  infra/bootstrap/env-shared/event-hub/namespace.bicep
  infra/bootstrap/env-shared/event-hub/namespace.bicepparam
  infra/bootstrap/env-shared/flexible-server-zone/flexible-server-zone.bicep
  infra/bootstrap/env-shared/flexible-server-zone/flexible-server-zone.bicepparam
  infra/bootstrap/env-shared/key-vault/platform-apps-key-vault.bicep
  infra/bootstrap/env-shared/key-vault/platform-key-vault.bicep
  infra/bootstrap/env-shared/key-vault/platform-key-vault.parameters.json
  infra/bootstrap/env-shared/key-vault/subenv1-params/platform-apps-key-vault.bicepparam
  infra/bootstrap/env-shared/key-vault/subenv2-params/platform-apps-key-vault.bicepparam
  infra/bootstrap/env-shared/log-analytics-workspace/log-analytics-workspace.bicepparam
  infra/bootstrap/env-shared/network/network-security-group.bicep
  infra/bootstrap/env-shared/network/network-security-group.bicepparam
  infra/bootstrap/env-shared/network/route-table.bicep
  infra/bootstrap/env-shared/network/route-table.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml

public keyvault
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/key-vault/application-keyvault-public-params/key-vault.bicepparam
  infra/core/env/key-vault/key-vault.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

empty vnet
  infra/core/env/key-vault/application-keyvault-public-params/key-vault.bicepparam
  infra/core/env/key-vault/key-vault.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

public keyvault
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/key-vault-public/key-vault-public.bicep
  infra/core/env/key-vault-public/key-vault-public.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

iprules
  infra/core/env/key-vault-public/key-vault-public.bicep
  infra/core/env/key-vault-public/key-vault-public.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-fluxnotification.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-fluxnotificationapi.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-iam.yaml: any of: infra/core/iam
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/env/kms-key-rotation
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor
