Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/publish-platform-nginxplus.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus

Update parameters.
  .azuredevops/deploy-platform-core.yaml
Due: none

Update.
  .azuredevops/deploy-platform-core.yaml
Due: none

Update variables.
  .azuredevops/deploy-platform-core.yaml
Due: none

Revert variable name changes.
  .azuredevops/deploy-platform-bootstrap.yaml
  .azuredevops/deploy-platform-core.yaml
  infra/bootstrap/config/app-registrations/tier2-app-registration.json
  infra/bootstrap/config/service-connections/tier2-service-connection.json
  infra/core/app-configuration/configuration-store.bicepparam
  infra/core/key-vault/application-key-vault.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Update the variable names.
  infra/core/app-configuration/config-data/config-data.json
  infra/core/scripts/Create-ConfigData.ps1
Due: .azuredevops/deploy-platform-core.yaml

Update the namespace variable key.
  infra/core/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Shared user node pool name update
  .azuredevops/publish-platform-nginxplus.yaml
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Added more logging for config script.
  infra/core/scripts/Create-ConfigData.ps1
Due: .azuredevops/deploy-platform-core.yaml

Update Project Wiki
  README.md
Due: none

Update Project Wiki (#63)
  README.md
Due: none

Content Type for config data
  infra/core/app-configuration/config-data/config-data.json
  infra/core/scripts/Create-ConfigData.ps1
Due: .azuredevops/deploy-platform-core.yaml

Update config
  infra/core/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Config data keys update
  infra/core/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Updated service var name
  infra/core/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Updates
  infra/core/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Update cluster output
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Fixed content type issue
  infra/core/scripts/Create-ConfigData.ps1
Due: .azuredevops/deploy-platform-core.yaml

fixes
  infra/core/scripts/Create-ConfigData.ps1
Due: .azuredevops/deploy-platform-core.yaml

248355: Creation of Platform variable for usage in flux (#61)
  .azuredevops/deploy-platform-core.yaml
  .azuredevops/publish-platform-nginxplus.yaml
  infra/core/app-configuration/config-data/config-data.json
  infra/core/app-configuration/configuration-store.bicep
  infra/core/app-configuration/configuration-store.bicepparam
  infra/core/app-configuration/configuration-store.parameters.json
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.bicepparam
  infra/core/managed-cluster/aks-cluster.parameters.json
  infra/core/scripts/Create-ConfigData.ps1
  scripts/modules/ps-helpers/ps-helpers.psm1
Due: .azuredevops/deploy-platform-core.yaml

Refactor the config value creation.
  .azuredevops/deploy-platform-core.yaml
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/scripts/Create-ConfigData.ps1
Due: .azuredevops/deploy-platform-core.yaml

Temporary change.
  infra/core/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Correct the subnet name.
  infra/core/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Lowercase the Platform config values.
  infra/core/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Update Nsgs for azure cni overlay
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Updates
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Priority updates
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

NSG3 Updates
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Updated description
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Update description
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Use feature branch
  .azuredevops/deploy-platform-core.yaml
Due: none

Updated system node pool subnet name update
  infra/core/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Flux config from feature branch
  infra/core/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Subscription name to lower
  infra/core/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Test the config script changes.
  .azuredevops/deploy-platform-core.yaml
Due: none
