Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/publish-platform-nginxplus.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus

ScriptType to pscore
  .azuredevops/deploy-platform-core.yaml
Due: none

Updates
  infra/core/scripts/SSH-Generate-Keys.ps1
Due: .azuredevops/deploy-platform-core.yaml

updates
  infra/core/scripts/SSH-Generate-Keys.ps1
Due: .azuredevops/deploy-platform-core.yaml

UPdates
  infra/core/scripts/SSH-Generate-Keys.ps1
Due: .azuredevops/deploy-platform-core.yaml

SSH Key secrets role assignment
  .azuredevops/deploy-platform-core.yaml
  infra/core/managed-cluster/aks-cluster.bicepparam
  infra/core/scripts/SSH-Generate-Keys.ps1
Due: .azuredevops/deploy-platform-core.yaml

Fix the AppConfigMIName value issue
  .azuredevops/deploy-platform-core.yaml
Due: none

Install Az ManagedServiceIdentity Module
  infra/core/scripts/SSH-Generate-Keys.ps1
Due: .azuredevops/deploy-platform-core.yaml

Connect AzAccount
  .azuredevops/deploy-platform-core.yaml
  infra/core/scripts/SSH-Generate-Keys.ps1
Due: .azuredevops/deploy-platform-core.yaml

Logging
  infra/core/scripts/SSH-Generate-Keys.ps1
Due: .azuredevops/deploy-platform-core.yaml

Commented role assigenment
  infra/core/scripts/SSH-Generate-Keys.ps1
Due: .azuredevops/deploy-platform-core.yaml

Update kms key
  infra/core/key-vault/application-key-vault.bicep
Due: .azuredevops/deploy-platform-core.yaml

Update 2 kms key
  infra/core/key-vault/application-key-vault.bicep
Due: .azuredevops/deploy-platform-core.yaml

Updates
  .azuredevops/deploy-platform-core.yaml
  infra/core/scripts/SSH-Generate-Keys.ps1
Due: .azuredevops/deploy-platform-core.yaml

Update function name
  infra/core/scripts/SSH-Generate-Keys.ps1
Due: .azuredevops/deploy-platform-core.yaml

Platform Variables Deployment step
  .azuredevops/deploy-platform-core.yaml
Due: none

test app config secrect link
  infra/core/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Updates
  .azuredevops/deploy-platform-core.yaml
Due: none

debug
  infra/core/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

try
  infra/core/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Updates
  infra/core/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

updates
  infra/core/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Content type update
  infra/core/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

refer from main branch
  .azuredevops/deploy-platform-core.yaml
  infra/core/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Revert flux to main branch.
  infra/core/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Deploy 2nd KV for KMS testing
  infra/core/key-vault/application-key-vault.bicep
  infra/core/key-vault/application-key-vault.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Update PE name in pipeline
  .azuredevops/deploy-platform-core.yaml
Due: none

Refactor the config value creation. (#64)
  .azuredevops/deploy-platform-core.yaml
  infra/core/app-configuration/config-data/config-data.json
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.bicepparam
  infra/core/scripts/Create-ConfigData.ps1
Due: .azuredevops/deploy-platform-core.yaml

Updates
  .azuredevops/deploy-platform-core.yaml
  infra/core/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

249140:Generate SSH Keys (#65)
  .azuredevops/deploy-platform-core.yaml
  infra/common/network/network-security-group.parameters.json
  infra/core/app-configuration/config-data/config-data.json
  infra/core/managed-cluster/aks-cluster.bicepparam
  infra/core/scripts/SSH-Generate-Keys.ps1
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Fixed config data value replace format
  infra/core/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml
