Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

.azuredevops/deploy-platform-bootstrap-env-shared.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
  ...

.azuredevops/deploy-platform-bootstrap-env.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-bootstrap-serviceconnections.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-CDO-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-bootstrap-tenant.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      variableFiles:
      - /pipelines/vars/common.yaml@_self
  ...

.azuredevops/deploy-platform-bootstrap.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-build-agent.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SND1-VMSS
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-core-env-shared.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core-env-tenant.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      variableFiles:
      - /pipelines/vars/common.yaml@_self
  ...

ad group for jeevan
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
Due: none

Jeevan AAG-Azure-ADP-SND1-PostgresDB_Reader
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Use branch
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Updates
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Change to main branch
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

AKS Enable Custom ca trust (#129)
  infra/core/env/app-configuration/config-data/config-data.json
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Use Ca root certificate branch
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Move AFD back to ADP subscription.
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Firewall secret role assignment
  infra/core/env/managed-cluster/.bicep/keyvault-secret-rbac.bicep
  infra/core/env/managed-cluster/aks-cluster.bicep
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Move AFD back to ADP subscription. (#130)
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Only set version number on initial onboarding
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/templates/programme/team/service/deploy/environment/patch-frontend.yaml
  flux-templates/templates/programme/team/service/deploy/environment/patch.yaml
  flux-templates/templates/programme/team/service/infra/environment/patch-backend.yaml
  flux-templates/templates/programme/team/service/infra/environment/patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/environment/migration-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/environment/post-migration-script-patch.yaml
Due: none

Updates
  infra/core/env/managed-cluster/aks-cluster.bicep
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Remove local testing files
  flux-templates/scripts/New-FluxServices.ps1
Due: none

Updates
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Create writer AD group for testing
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Add write-host and include implicit -FilePath param ref
  flux-templates/scripts/New-FluxServices.ps1
Due: none

306948: Added PE vars for flux manifest infra patch (#128)
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/templates/programme/team/service/deploy/environment/patch-frontend.yaml
  flux-templates/templates/programme/team/service/deploy/environment/patch.yaml
  flux-templates/templates/programme/team/service/infra/environment/patch-backend.yaml
  flux-templates/templates/programme/team/service/infra/environment/patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/environment/migration-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/environment/post-migration-script-patch.yaml
Due: none

Change to main
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Use aks version variable
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

FW secret RBAC (#131)
  infra/core/env/managed-cluster/.bicep/keyvault-secret-rbac.bicep
  infra/core/env/managed-cluster/aks-cluster.bicep
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Use debug branch
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Updates
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Added LOAD_BALANCER_SUBNET_ADDRESS_PREFIX
  infra/core/env/managed-cluster/aks-cluster.bicep
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Remove node label
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Add aks ilb subnet range post build var
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Update machine name prefix.
  infra/build-agent/Create-AdoBuildAgent.ps1
Due: .azuredevops/deploy-platform-build-agent.yaml

Added STORAGEACCOUNT_PREFIX
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Added STORAGEACCOUNT_PREFIX (#133)
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Added storageAccountPrefix: ${STORAGEACCOUNT_PREFIX}
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/templates/programme/team/service/infra/environment/patch-backend.yaml
  flux-templates/templates/programme/team/service/infra/environment/patch.yaml
Due: none

Point cluster to feature branch
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Remove quotes from the ssh-keygen command.
  infra/core/env/scripts/SSH-Generate-Keys.ps1
Due: .azuredevops/deploy-platform-core.yaml

Remove quotes from the ssh-keygen command. (#134)
  infra/core/env/scripts/SSH-Generate-Keys.ps1
Due: .azuredevops/deploy-platform-core.yaml

Revert to main branch
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

updated app name
  .azuredevops/deploy-platform-core-portal.yaml
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

rollback redirect uri change
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

248312: Implement Azure Kubernetes network policies with Calico (#132)
  infra/core/env/managed-cluster/aks-cluster.bicep
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

New-FluxServices.ps1 reveted
  flux-templates/scripts/New-FluxServices.ps1
Due: none

306948: Added STORAGEACCOUNT_PREFIX variable in Patch file (#135)
  flux-templates/templates/programme/team/service/infra/environment/patch-backend.yaml
  flux-templates/templates/programme/team/service/infra/environment/patch.yaml
Due: none

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor
