Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

Updated PR paths
  .azuredevops/publish-powershell-docker-image.yaml
Due: none

267988: Added dockerfile to execute powershell scripts inside container and pipeline to publish image (#101)
  .azuredevops/publish-powershell-docker-image.yaml
  powershell-executor/powershell-executor.Dockerfile
Due: .azuredevops/publish-powershell-docker-image.yaml

MI For DB AAD Admin
  infra/core/env/managed-identity/managed-identity.bicep
  infra/core/env/managed-identity/managed-identity.bicepparam
  infra/core/env/managed-identity/managed-identity.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

PostgreSql AAD Admin
  infra/core/env/managed-identity/managed-identity.bicep
  infra/core/env/managed-identity/managed-identity.bicepparam
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/postgre-sql/flexible-server.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Use latest module
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/postgre-sql/flexible-server.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Updates
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/postgre-sql/flexible-server.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Updates
  infra/core/env/postgre-sql/flexible-server.bicep
Due: .azuredevops/deploy-platform-core.yaml

Debug
  infra/core/env/postgre-sql/flexible-server.bicep
Due: .azuredevops/deploy-platform-core.yaml

Add flux templates to help onboard services into adp-flux-services
  flux-templates/.azuredevops/onboard-new-service.yaml
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/templates/programme/base/helm-repository.yaml
  flux-templates/templates/programme/base/kustomization.yaml
  flux-templates/templates/programme/base/patch/kustomization.yaml
  flux-templates/templates/programme/base/patch/kustomize.yaml
  flux-templates/templates/programme/environment/kustomization.yaml
  flux-templates/templates/programme/service/deploy-kustomize.yaml
  flux-templates/templates/programme/service/deploy/base/helm-release.yaml
  flux-templates/templates/programme/service/deploy/base/kustomization.yaml
  flux-templates/templates/programme/service/deploy/environment/kustomization.yaml
  flux-templates/templates/programme/service/deploy/environment/patch-ingress.yaml
  flux-templates/templates/programme/service/deploy/environment/patch.yaml
  flux-templates/templates/programme/service/infra-kustomize.yaml
  flux-templates/templates/programme/service/infra/base/aso-helm-release.yaml
  flux-templates/templates/programme/service/infra/base/image-repository.yaml
  flux-templates/templates/programme/service/infra/base/kustomization.yaml
  flux-templates/templates/programme/service/infra/environment/image-policy.yaml
  flux-templates/templates/programme/service/infra/environment/kustomization.yaml
  flux-templates/templates/programme/service/infra/environment/patch.yaml
  flux-templates/templates/programme/service/kustomization.yaml
  flux-templates/templates/programme/service/pre-deploy-kustomize.yaml
  flux-templates/templates/programme/service/pre-deploy/base/image-repository-dbmigration.yaml
  flux-templates/templates/programme/service/pre-deploy/base/kustomization.yaml
  flux-templates/templates/programme/service/pre-deploy/base/migration.job.yaml
  flux-templates/templates/programme/service/pre-deploy/environment/image-policy.yaml
  flux-templates/templates/programme/service/pre-deploy/environment/kustomization.yaml
  flux-templates/templates/programme/service/pre-deploy/environment/patch.yaml
Due: none

Set version to 1.0.1
  flux-templates/manifest/example-onboarding-manifest.json
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/templates/programme/service/deploy/base/helm-release.yaml
  flux-templates/templates/programme/service/deploy/environment/patch-ingress.yaml
  flux-templates/templates/programme/service/deploy/environment/patch.yaml
  flux-templates/templates/programme/service/infra/base/aso-helm-release.yaml
  flux-templates/templates/programme/service/infra/environment/patch.yaml
Due: none

Test force push
  flux-templates/scripts/New-FluxServices.ps1
Due: none

Tidy up Powershell script
  flux-templates/scripts/New-FluxServices.ps1
Due: none

Update types from string to array
  flux-templates/scripts/New-FluxServices.ps1
Due: none

Use AVM modules
  bicepconfig.json
  infra/core/env/postgre-sql/flexible-server.bicep
Due: .azuredevops/deploy-platform-core.yaml

Include PSHelpers
  flux-templates/scripts/New-FluxServices.ps1
Due: none

Add ps-helpers directory
  flux-templates/.azuredevops/onboard-new-service.yaml
  flux-templates/scripts/New-FluxServices.ps1
Due: none

updates
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Updates
  .azuredevops/deploy-platform-core-env.yaml
Due: none

rename portal yaml
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

public bicep config
  bicepconfig.json
  infra/core/env/postgre-sql/flexible-server.bicep
Due: .azuredevops/deploy-platform-core.yaml

Fix conditional logic to work with strictmode
  flux-templates/scripts/New-FluxServices.ps1
Due: none

force push for quicker testing
  flux-templates/scripts/New-FluxServices.ps1
Due: none

Fix ingress file
  flux-templates/templates/programme/service/deploy/environment/patch-ingress.yaml
Due: none

Changed avm
  bicepconfig.json
  infra/core/env/postgre-sql/flexible-server.bicep
Due: .azuredevops/deploy-platform-core.yaml

Change versions in flux templates to 0.1.0
  flux-templates/manifest/complete-example-onboarding-manifest.json
  flux-templates/manifest/example-onboarding-manifest.json
  flux-templates/manifest/min-onboarding-manifest.json
  flux-templates/templates/programme/service/deploy/base/helm-release.yaml
  flux-templates/templates/programme/service/deploy/environment/patch-ingress.yaml
  flux-templates/templates/programme/service/deploy/environment/patch.yaml
  flux-templates/templates/programme/service/infra/base/aso-helm-release.yaml
  flux-templates/templates/programme/service/infra/environment/image-policy.yaml
  flux-templates/templates/programme/service/infra/environment/patch.yaml
  flux-templates/templates/programme/service/pre-deploy/environment/image-policy.yaml
  flux-templates/templates/programme/service/pre-deploy/environment/patch.yaml
Due: none

updated to bicep module
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

Update to allow for programme level folder
  flux-templates/manifest/complete-example-onboarding-manifest.json
  flux-templates/manifest/min-onboarding-manifest.json
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/scripts/ffc-demo.json
  flux-templates/templates/programme/team/base/helm-repository.yaml
  flux-templates/templates/programme/team/base/kustomization.yaml
  flux-templates/templates/programme/team/base/patch/kustomization.yaml
  flux-templates/templates/programme/team/base/patch/kustomize.yaml
  flux-templates/templates/programme/team/environment/kustomization.yaml
  flux-templates/templates/programme/team/service/deploy-kustomize.yaml
  flux-templates/templates/programme/team/service/deploy/base/helm-release.yaml
  flux-templates/templates/programme/team/service/deploy/base/kustomization.yaml
  flux-templates/templates/programme/team/service/deploy/environment/kustomization.yaml
  flux-templates/templates/programme/team/service/deploy/environment/patch-ingress.yaml
  flux-templates/templates/programme/team/service/deploy/environment/patch.yaml
  flux-templates/templates/programme/team/service/infra-kustomize.yaml
  flux-templates/templates/programme/team/service/infra/base/aso-helm-release.yaml
  flux-templates/templates/programme/team/service/infra/base/image-repository.yaml
  flux-templates/templates/programme/team/service/infra/base/kustomization.yaml
  flux-templates/templates/programme/team/service/infra/environment/image-policy.yaml
  flux-templates/templates/programme/team/service/infra/environment/kustomization.yaml
  flux-templates/templates/programme/team/service/infra/environment/patch.yaml
  flux-templates/templates/programme/team/service/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/base/image-repository-dbmigration.yaml
  flux-templates/templates/programme/team/service/pre-deploy/base/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/base/migration.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/environment/image-policy.yaml
  flux-templates/templates/programme/team/service/pre-deploy/environment/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/environment/patch.yaml
Due: none

Update namespaces to match team name
  flux-templates/templates/programme/team/base/helm-repository.yaml
  flux-templates/templates/programme/team/base/patch/kustomize.yaml
  flux-templates/templates/programme/team/service/deploy/base/helm-release.yaml
  flux-templates/templates/programme/team/service/deploy/environment/patch-ingress.yaml
  flux-templates/templates/programme/team/service/deploy/environment/patch.yaml
  flux-templates/templates/programme/team/service/infra/base/aso-helm-release.yaml
  flux-templates/templates/programme/team/service/pre-deploy/base/migration.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/environment/patch.yaml
Due: none

Create feature branch
  flux-templates/scripts/New-FluxServices.ps1
Due: none

reset base helm release versions
  flux-templates/templates/programme/team/service/deploy/base/helm-release.yaml
  flux-templates/templates/programme/team/service/deploy/base/kustomization.yaml
  flux-templates/templates/programme/team/service/infra/base/aso-helm-release.yaml
  flux-templates/templates/programme/team/service/pre-deploy/base/kustomization.yaml
Due: none

Add __ENVIRONMENT__ to image-policy
  flux-templates/templates/programme/team/service/pre-deploy/environment/image-policy.yaml
Due: none

Remove duplicate dbmigration
  flux-templates/scripts/New-FluxServices.ps1
Due: none

Use flux feature branch for testing
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Build agent setup step
  .azuredevops/deploy-platform-core-env.yaml
  scripts/BuildAgentSetup.ps1
Due: none

Use ARM
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/postgre-sql/flexible-server.json
Due: .azuredevops/deploy-platform-core.yaml

Updates
  scripts/BuildAgentSetup.ps1
Due: none

Latest fixes
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/templates/programme/team/base/kustomization.yaml
  flux-templates/templates/programme/team/service/deploy/environment/patch-ingress.yaml
Due: none
