Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/publish-platform-nginxplus.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/vmss
  .azuredevops/deploy-platform-core.yaml: any of: infra, scripts, but not: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: scripts/nginxplus

Test parameter changes.
  .azuredevops/deploy-platform-core.yaml
Due: none

Variable fix.
  .azuredevops/deploy-platform-core.yaml
Due: none

Revert variable changes.
  .azuredevops/deploy-platform-core.yaml
Due: none

Variable changes.
  .azuredevops/deploy-platform-core.yaml
Due: none

parameter update.
  .azuredevops/deploy-platform-core.yaml
Due: none

Update script headers.
  scripts/Create-AdoBuildAgent.ps1
Due: .azuredevops/deploy-platform-core.yaml

Reverted the changes to core pipeline.
  .azuredevops/deploy-platform-core.yaml
Due: none

Correct pipeline triggers and branches
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml
  .azuredevops/deploy-platform-core.yaml
Due: none

Update the triggers for build agent pipeline.
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

PowerShell Helpers Module
  scripts/Publish-NginxPlus-Acr.ps1
  scripts/modules/ps-helpers/ps-helpers.psd1
  scripts/modules/ps-helpers/ps-helpers.psm1
Due: .azuredevops/deploy-platform-core.yaml

Use PS Helper Module
  scripts/Publish-NginxPlus-Acr.ps1
  scripts/modules/ps-helpers/ps-helpers.psd1
Due: .azuredevops/deploy-platform-core.yaml

Add DNS linking script.
  scripts/modules/service-connection/service-connection.psm1
  scripts/service-connection/Trigger-LinkPrivateDNSZones.ps1
Due: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-core.yaml

PR comments fix.
  .azuredevops/deploy-platform-build-agent.yaml
  scripts/Create-AdoBuildAgent.ps1
Due: .azuredevops/deploy-platform-core.yaml

223150: Publish Nginx Plus image to ACR (#31)
  .azuredevops/deploy-platform-core.yaml
  .azuredevops/publish-platform-nginxplus.yaml
  scripts/Publish-NginxPlus-Acr.ps1
  scripts/modules/ps-helpers/ps-helpers.psd1
  scripts/modules/ps-helpers/ps-helpers.psm1
Due: .azuredevops/deploy-platform-core.yaml

PR comments fix.
  scripts/Create-AdoBuildAgent.ps1
Due: .azuredevops/deploy-platform-core.yaml

Update the app reg properties.
  infra/config/app-registrations/tier2-app-registration.json
Due: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml

Remove route table from AKS subnet.
  infra/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

213700: ADO Private Build agent (#25)
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml
  .azuredevops/deploy-platform-build-agent.yaml
  .azuredevops/deploy-platform-core.yaml
  .gitignore
  infra/config/app-registrations/tier2-app-registration.json
  infra/network/subnet-nsg.parameters.json
  infra/network/virtual-network.parameters.json
  scripts/Create-AdoBuildAgent.ps1
Due: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-core.yaml

Rename the module and trigger pipeline for vnet links.
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml
  .azuredevops/deploy-platform-core.yaml
  README.md
  scripts/ado/Initialize-ServiceEndpoint.ps1
  scripts/ado/Trigger-LinkPrivateDNSZones.ps1
  scripts/ado/request-body/arm-serviceendpoint-request-body.json
  scripts/ado/request-body/endpointproxy-request-body.json
  scripts/modules/ado/ado.psd1
  scripts/modules/ado/ado.psm1
Due: .azuredevops/deploy-platform-core.yaml

Fix module directory path.
  .azuredevops/deploy-platform-core.yaml
  scripts/ado/Trigger-LinkPrivateDNSZones.ps1
Due: .azuredevops/deploy-platform-core.yaml

Updated the description statement for monitoringWorkspace
  infra/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Updated bicep and parameter file
  infra/managed-cluster/aks-cluster.bicep
  infra/managed-cluster/aks-cluster.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Update the module path.
  scripts/ado/Trigger-LinkPrivateDNSZones.ps1
  scripts/modules/ado/ado.psm1
Due: .azuredevops/deploy-platform-core.yaml

Update to function parameters.
  .azuredevops/deploy-platform-core.yaml
  scripts/ado/Trigger-LinkPrivateDNSZones.ps1
Due: .azuredevops/deploy-platform-core.yaml

195075: Enable container insight on AKS cluster (#32)
  infra/managed-cluster/aks-cluster.bicep
  infra/managed-cluster/aks-cluster.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Fix the function module.
  scripts/modules/ado/ado.psd1
Due: .azuredevops/deploy-platform-core.yaml

Test pipeline.
  .azuredevops/test.yaml
Due: none

Update script.
  scripts/ado/Trigger-LinkPrivateDNSZones.ps1
  scripts/modules/ado/ado.psm1
Due: .azuredevops/deploy-platform-core.yaml

Update the pipeline task.
  .azuredevops/deploy-platform-core.yaml
  scripts/ado/Trigger-LinkPrivateDNSZones.ps1
Due: .azuredevops/deploy-platform-core.yaml

Script fix.
  scripts/modules/ado/ado.psm1
Due: .azuredevops/deploy-platform-core.yaml

Update to api version.
  scripts/modules/ado/ado.psm1
Due: .azuredevops/deploy-platform-core.yaml

Url fix.
  scripts/modules/ado/ado.psm1
Due: .azuredevops/deploy-platform-core.yaml

Refactor pipeline.
  .azuredevops/deploy-platform-core.yaml
Due: none

Add new value to collection parameter
  .azuredevops/deploy-platform-core.yaml
Due: none

Reverted the changes.
  .azuredevops/deploy-platform-core.yaml
Due: none

Update test.yaml for Azure Pipelines
  .azuredevops/test.yaml
Due: none

Testing changes.
  .azuredevops/deploy-platform-core.yaml
Due: none

Aks Egress traffic to UDR
  infra/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Test module changes.
  scripts/ado/Trigger-LinkPrivateDNSZones.ps1
  scripts/modules/ado/ado.psd1
  scripts/modules/ado/ado.psm1
Due: .azuredevops/deploy-platform-core.yaml
