Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-fluxnotification.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-fluxnotificationapi.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-iam.yaml: any of: infra/core/iam
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/env/kms-key-rotation
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

update
  infra/core/env/front-door/baseline/external/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/front-door/adp-portal/internal/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  .azuredevops/deploy-platform-core-env.yaml
Due: none

bug fix
  infra/core/env/search-service/search-service.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

bypass azure services
  infra/core/env/search-service/search-service.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Add prometheus alerts for monitoring cluster
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/observability/prometheus-alerts-local.bicep
  infra/core/env/observability/prometheus-alerts.bicep
  infra/core/env/observability/prometheus-alerts.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

382093: replica count type fix (#207)
  infra/core/env/search-service/search-service.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Update OOM rule
  infra/core/env/observability/prometheus-alerts.bicep
  infra/core/env/observability/prometheus-alerts.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

customRolePortForwardUser
  .azuredevops/deploy-platform-core-iam.yaml
  infra/core/iam/subscription/cluster-port-forward-role.bicep
  infra/core/iam/subscription/cluster-port-forward-role.bicepparam
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

name fix
  infra/core/iam/subscription/cluster-port-forward-user-role.bicep
  infra/core/iam/subscription/cluster-port-forward-user-role.bicepparam
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

Remove local files
  infra/core/env/observability/prometheus-alerts-local.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

role def
  .azuredevops/deploy-platform-core-tenant.yaml
  infra/core/tenant/role-definition/cluster-port-forward-user-role.bicep
  infra/core/tenant/role-definition/cluster-port-forward-user-role.parameters.json
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

env
  infra/core/tenant/role-definition/cluster-custom-resources-reader-role.parameters.json
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

revert branch
  .azuredevops/deploy-platform-core-env.yaml
Due: none

env
  infra/core/tenant/role-definition/cluster-custom-resources-reader-role.parameters.json
  infra/core/tenant/role-definition/cluster-port-forward-user-role.parameters.json
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

port-forward
  .azuredevops/deploy-platform-core-iam.yaml
  infra/core/iam/subscription/port-forward/cluster-port-forward-user-role.bicep
  infra/core/iam/subscription/port-forward/cluster-port-forward-user-role.bicepparam
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

point to main branch
  .azuredevops/deploy-platform-core-iam.yaml
  .azuredevops/deploy-platform-core-tenant.yaml
Due: none

ref feature branch
  .azuredevops/deploy-platform-core-env.yaml
Due: none

392627:Implement Geographical Restrictions on AFD WAF (#206)
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/front-door/adp-portal/internal/front-door-waf.parameters.json
  infra/core/env/front-door/baseline/external/front-door-waf.parameters.json
  infra/core/env/front-door/front-door-waf.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

395074: Health Monitoring and Alerting for Core AKS Services (#208)
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/observability/prometheus-alerts.bicep
  infra/core/env/observability/prometheus-alerts.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Filter out fluxconfig-agent and fluxconfig-controller pods for the KubePodContainerRestart alert
  infra/core/env/observability/prometheus-alerts.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Filter out fluxconfig-agent and fluxconfig-controller pods for the KubePodContainerRestart alert (#210)
  infra/core/env/observability/prometheus-alerts.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

deployClusterPortForwardRole
  .azuredevops/deploy-platform-core-tenant.yaml
  infra/core/iam/subscription/port-forward/cluster-port-forward-user-role.bicep
  infra/core/iam/subscription/port-forward/cluster-port-forward-user-role.bicepparam
  infra/core/tenant/role-definition/cluster-port-forward-user-role.bicep
  infra/core/tenant/role-definition/cluster-port-forward-user-role.parameters.json
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

condition
  infra/core/iam/subscription/port-forward/cluster-port-forward-user-role.bicep
  infra/core/iam/subscription/port-forward/cluster-port-forward-user-role.bicepparam
  infra/core/tenant/role-definition/cluster-port-forward-user-role.bicep
  infra/core/tenant/role-definition/cluster-port-forward-user-role.parameters.json
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

branch update
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

395487: Port Forward User Role (#209)
  .azuredevops/deploy-platform-core-iam.yaml
  .azuredevops/deploy-platform-core-tenant.yaml
  infra/core/iam/subscription/port-forward/cluster-port-forward-user-role.bicep
  infra/core/iam/subscription/port-forward/cluster-port-forward-user-role.bicepparam
  infra/core/tenant/role-definition/cluster-port-forward-user-role.bicep
  infra/core/tenant/role-definition/cluster-port-forward-user-role.parameters.json
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Add Monitoring Reader to application insights
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/global-read-permissions/global-read-permissions.bicep
  infra/core/env/global-read-permissions/global-read-permissions.bicepparam
  infra/core/tenant/scripts/Get-EntraGroupObjectId.ps1
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Update name
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Correct indentation for pre-deploy script
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Fix parameter name
  .azuredevops/deploy-platform-core-env.yaml
Due: none
