Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

.azuredevops/deploy-platform-bootstrap-env-shared.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
  ...

.azuredevops/deploy-platform-bootstrap-env.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-bootstrap-serviceconnections.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-CDO-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-bootstrap-tenant.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      variableFiles:
      - /pipelines/vars/common.yaml@_self
  ...

.azuredevops/deploy-platform-bootstrap.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-build-agent.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SND1-VMSS
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core-env-shared.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv_dev
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core-env-tenant.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      variableFiles:
      - /pipelines/vars/common.yaml@_self
  ...

update source branch
  .azuredevops/deploy-platform-core-env.yaml
Due: none

update
  infra/core/env/front-door/front-door-waf.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

branch updated
  .azuredevops/deploy-platform-core-env.yaml
Due: none

update
  .azuredevops/deploy-platform-core-env.yaml
Due: none

update
  infra/core/env/front-door/baseline/internal/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

open ai infra
  .azuredevops/deploy-platform-core-env.yaml
Due: none

update
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/front-door/baseline/internal/front-door-waf.parameters.json
  infra/core/env/front-door/front-door-waf.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

searchServiceReplicaCount
  infra/core/env/search-service/search-service.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

search service2
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/search-service/search-service.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

search1
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/search-service/search-service.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

updated
  .azuredevops/deploy-platform-core-env.yaml
Due: none

update
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/front-door/adp-portal/front-door-waf.parameters.json
  infra/core/env/front-door/baseline/internal/front-door-waf.parameters.json
  infra/core/env/front-door/front-door-waf.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/front-door/baseline/internal/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

rule name updated
  infra/core/env/front-door/baseline/internal/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Allow ADP Platform engineers read acces to flux notifications db
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_PRD.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Allow ADP Platform engineers read acces to flux notifications db (#204)
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_PRD.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

395100: Add Custom Rule for AllowcallbackAccessRule (#203)
  infra/core/env/front-door/adp-portal/front-door-waf.parameters.json
  infra/core/env/front-door/baseline/internal/front-door-waf.parameters.json
  infra/core/env/front-door/front-door-waf.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

point to latest branch
  .azuredevops/deploy-platform-core-env.yaml
Due: none

new waf added
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/front-door/baseline/external/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  infra/core/env/front-door/baseline/external/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  .azuredevops/deploy-platform-core-env.yaml
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

update
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

397883: create inbound and outbound rule for Daisy (#205)
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

update
  infra/core/env/front-door/adp-portal/front-door-waf.parameters.json
  infra/core/env/front-door/baseline/external/front-door-waf.parameters.json
  infra/core/env/front-door/baseline/internal/front-door-waf.parameters.json
  infra/core/env/front-door/front-door-waf.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  infra/core/env/front-door/adp-portal/front-door-waf.parameters.json
  infra/core/env/front-door/baseline/internal/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

validation fix
  infra/core/env/search-service/search-service.bicep
  infra/core/env/search-service/search-service.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

382090 : openai and search infrastructure (#199)
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/open-ai/aad-groups/openaiaccessgroup.json
  infra/core/env/open-ai/open-ai.bicep
  infra/core/env/open-ai/open-ai.bicepparam
  infra/core/env/scripts/PrivateEndpointConnection.ps1
  infra/core/env/search-service/.bicep/open-ai-rbac.bicep
  infra/core/env/search-service/.bicep/shared-private-link.bicep
  infra/core/env/search-service/aad-groups/searchserviceaccessgroup.json
  infra/core/env/search-service/module/main.bicep
  infra/core/env/search-service/module/shared-private-link-resource/main.bicep
  infra/core/env/search-service/search-service.bicep
  infra/core/env/search-service/search-service.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-fluxnotification.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-fluxnotificationapi.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-iam.yaml: any of: infra/core/iam
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/env/kms-key-rotation
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor
