Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-fluxnotification.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-fluxnotificationapi.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

Update.
  infra/core/env/scripts/Add-SshKeyToGitHubRepo.ps1
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Update.
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/scripts/Add-SshKeyToGitHubRepo.ps1
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Update.
  .azuredevops/deploy-platform-core-env.yaml
Due: none

342305: Automate the Deploy Keys in Github flux services repo for each environment (#164)
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/scripts/Add-SshKeyToGitHubRepo.ps1
  infra/core/env/scripts/SSH-Generate-Keys.ps1
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

branch updated
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

variable added
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Test port 81 on nsg
  infra/sec/network/network-security-group.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

update variable
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

custom role
  .azuredevops/deploy-platform-core-tenant.yaml
  infra/core/tenant/role-definition/cluster-custom-resources-reader-role.bicep
  infra/core/tenant/role-definition/cluster-custom-resources-reader-role.parameters.json
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

updated scope
  infra/core/tenant/role-definition/cluster-custom-resources-reader-role.parameters.json
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

point to main
  .azuredevops/deploy-platform-core-tenant.yaml
Due: none

update Variable
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

updated role
  .azuredevops/deploy-platform-core-tenant.yaml
  infra/core/tenant/role-definition/cluster-custom-resources-reader-role.bicep
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

cluster read
  infra/core/tenant/role-definition/cluster-custom-resources-reader-role.bicep
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

updated permission
  infra/core/tenant/role-definition/cluster-custom-resources-reader-role.bicep
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

point to main branch
  .azuredevops/deploy-platform-core-tenant.yaml
Due: none

updated resource name
  infra/core/tenant/role-definition/cluster-custom-resources-reader-role.bicep
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

369687 : Custom Role to read cluster (#165)
  .azuredevops/deploy-platform-core-tenant.yaml
  infra/core/tenant/role-definition/cluster-custom-resources-reader-role.bicep
  infra/core/tenant/role-definition/cluster-custom-resources-reader-role.parameters.json
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

FluxAPI Postgres reader and writer group setup
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/config/aad-groups/fluxApiAADGroups.ssv_dev.json
  infra/core/env-shared/config/aad-groups/fluxApiAADGroups.ssv_tst.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

$(environment)_$(subEnvironment)
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

./ folder path
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

Added $(Pipeline.Workspace)/s/self/ to file path
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

Add file cpies
  infra/core/env-shared/config/aad-groups/fluxApiAADGroups.SSV_DEV copy.json
  infra/core/env-shared/config/aad-groups/fluxApiAADGroups.SSV_TST copy.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Delete original files
  infra/core/env-shared/config/aad-groups/fluxApiAADGroups.ssv_dev.json
  infra/core/env-shared/config/aad-groups/fluxApiAADGroups.ssv_tst.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Remove copies now
  infra/core/env-shared/config/aad-groups/fluxApiAADGroups.SSV_DEV.json
  infra/core/env-shared/config/aad-groups/fluxApiAADGroups.SSV_TST.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Update path an move config files
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_DEV.json
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_TST.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

filePathsForTransform path added
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

noescape
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_DEV.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

"#{{
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_DEV.json
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_TST.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Added api-auth-backend app reg
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/app-registrations/api-auth-backend.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

removed lang from approle
  infra/core/env-shared/app-registrations/api-auth-backend.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

added id in approle
  infra/core/env-shared/app-registrations/api-auth-backend.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Added callback-api-client.json app reg
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/app-registrations/callback-api-client.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Added runAsPreJob: true
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none
