Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus

Scope to subscription
  .azuredevops/deploy-platform-core-env-tenant.yaml
Due: none

dev and ssv5 env
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-build-agent.yaml
  .azuredevops/deploy-platform-core-env-shared.yaml
  .azuredevops/publish-platform-nginxplus.yaml
Due: none

Added SYNOPSIS
  scripts/modules/aad-groups/aad-groups.psd1
  scripts/modules/aad-groups/aad-groups.psm1
  scripts/modules/ado/ado.psd1
Due: none

Use parameter json
  infra/core/tenant/role-definitions/servicebus-customrole.bicepparam
  infra/core/tenant/role-definitions/servicebus-customrole.parameters.json
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Description update
  infra/core/tenant/role-definitions/servicebus-customrole.bicep
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

using feature branch to prepare for TestKube Demo
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

update nsg and route table
  infra/core-shared-services/network/network-security-group.bicepparam
  infra/core-shared-services/network/route-table.bicep
  infra/core-shared-services/network/route-table.bicepparam
  infra/core-shared-services/portal/container-apps-env/container-apps-env.bicep
  infra/core-shared-services/portal/container-apps-env/container-apps-env.bicepparam
  infra/core-shared-services/portal/private-dns-zone/private-dns-zone.bicep
  infra/core-shared-services/portal/private-dns-zone/private-dns-zone.bicepparam
  infra/core-shared-services/portal/private-link/private-link.bicep
Due: .azuredevops/deploy-platform-core-shared-services.yaml

Cluster flux config from feature branch
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Custom roles branch
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

changed branch to use feature branch to enable deploying to snd3
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Basic env
  .azuredevops/deploy-platform-core-shared-services.yaml
  infra/core-shared-services/portal/container-apps-env/container-apps-env.bicep
  infra/core-shared-services/portal/container-apps-env/container-apps-env.bicepparam
  infra/core-shared-services/portal/private-dns-zone/private-dns-zone.bicep
  infra/core-shared-services/portal/private-dns-zone/private-dns-zone.bicepparam
Due: .azuredevops/deploy-platform-core-shared-services.yaml

test
  .azuredevops/deploy-platform-core-shared-services.yaml
Due: none

ref: features/dev-variables
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

deploymentBranches all for dev1
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

Portal
  .azuredevops/deploy-platform-core-shared-services.yaml
Due: none

PostgreSql Database custom role
  .azuredevops/deploy-platform-core-env-tenant.yaml
  infra/core/tenant/role-definitions/flexible-server-database-cutomrole.bicep
  infra/core/tenant/role-definitions/flexible-server-database-cutomrole.parameters.json
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

ref main
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

merged with main
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/log-analytics-workspace/log-analytics-workspace.bicep
  infra/core/env-shared/log-analytics-workspace/log-analytics-workspace.bicepparam
  infra/core/env-shared/network/network-security-group.bicep
  infra/core/env-shared/network/network-security-group.bicepparam
  infra/core/env-shared/network/route-table.bicep
  infra/core/env-shared/network/route-table.bicepparam
  infra/core/env-shared/network/virtual-network.bicep
  infra/core/env-shared/network/virtual-network.parameters.json
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
  infra/core/env-shared/portal/flexible-server-zone/flexible-server-zone.bicep
  infra/core/env-shared/portal/flexible-server-zone/flexible-server-zone.bicepparam
  infra/core/env-shared/portal/flexible-server/flexible-server.bicep
  infra/core/env-shared/portal/flexible-server/flexible-server.bicepparam
  infra/core/env-shared/portal/key-vault/key-vault.bicep
  infra/core/env-shared/portal/key-vault/key-vault.bicepparam
  infra/core/env-shared/portal/managed-identity/.bicep/acr-pull.bicep
  infra/core/env-shared/portal/managed-identity/.bicep/kv-secrets-user.bicep
  infra/core/env-shared/portal/managed-identity/managed-identity.bicep
  infra/core/env-shared/portal/managed-identity/managed-identity.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

vnet peering update
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

Rename custom role files
  .azuredevops/deploy-platform-core-env-tenant.yaml
  infra/core/tenant/role-definitions/flexible-server-customrole.bicep
  infra/core/tenant/role-definitions/flexible-server-customrole.parameters.json
  infra/core/tenant/role-definitions/servicebus-customrole.bicep
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Updates
  .azuredevops/deploy-platform-core-env-tenant.yaml
Due: none

try shared registry
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
Due: .azuredevops/deploy-platform-core.yaml

Storage Account Role
  .azuredevops/deploy-platform-core-env-tenant.yaml
  infra/core/tenant/role-definitions/flexible-server.bicep
  infra/core/tenant/role-definitions/flexible-server.parameters.json
  infra/core/tenant/role-definitions/servicebus.bicep
  infra/core/tenant/role-definitions/servicebus.parameters.json
  infra/core/tenant/role-definitions/storageaccount.bicep
  infra/core/tenant/role-definitions/storageaccount.parameters.json
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Update build agent connection.
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

Debug.
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

Template update.
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

Test data collection rule association
  infra/core/env/managed-cluster/.bicep/data-collection-rule-association.bicep
  infra/core/env/managed-cluster/aks-cluster.bicep
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

simple container
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

deploy container apps o nly
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

Fix
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

Fix cluster name
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Update.
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

Consumption workload profile
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Correction.
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

Update branch to main
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

debug.
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

private dns zone
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
Due: .azuredevops/deploy-platform-core.yaml
