Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-fluxnotification.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-fluxnotificationapi.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-iam.yaml: any of: infra/core/iam
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/env/kms-key-rotation
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

adding flexibility
  infra/core/env/ai-document-intelligence/ai-document-intelligence-depolyment-1-params/ai-document-intelligence.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

removing branch testing
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Document Intelligence (#240)
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/ai-document-intelligence/ai-document-intelligence-depolyment-1-params/ai-document-intelligence.parameters.json
  infra/core/env/ai-document-intelligence/ai-document-intelligence.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: get resource group from var
  infra/common/network/virtual-network-flow-logs.bicep
  infra/common/network/virtual-network.bicep
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: pull in common var
  infra/common/network/virtual-network-flow-logs.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: remove wip
  infra/common/network/virtual-network-flow-logs.bicep
  infra/common/network/virtual-network-flow-logs.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: test new var from branch
  .azuredevops/deploy-platform-core-env.yaml
  infra/common/network/virtual-network-flow-logs.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: use new name for flow log using common var
  infra/common/network/virtual-network-flow-logs.bicep
  infra/common/network/virtual-network-flow-logs.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: add path heirachy
  infra/common/network/virtual-network-flow-logs.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: add storage account parameter instead of hardcoded value
  infra/common/network/virtual-network-flow-logs.bicep
  infra/common/network/virtual-network-flow-logs.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: fix double path
  infra/common/network/virtual-network-flow-logs.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: add postgres server logs option
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: use correct param heirarchy
  infra/core/env/postgre-sql/flexible-server.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: add log workspace and remove param
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: set log category in bicepparam file
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: use log category group due to bug in category option
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: back to log category for module version bump
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: disable metric collection
  infra/core/env/postgre-sql/flexible-server.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: test muliple log types
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: fix log type array
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: fix log type array pt2
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: hardcode log values to debug
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: revert array - sanity check
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

adding DNS Zone
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/private-dns-zone/ai-document-intelligence-zone.bicep
  infra/core/env/private-dns-zone/ai-document-intelligence-zone.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: clean up and add new vars and pipeline step
  .azuredevops/deploy-platform-core-env.yaml
  infra/common/network/virtual-network-flow-logs.bicep
  infra/common/network/virtual-network-flow-logs.parameters.json
  infra/common/network/virtual-network.parameters.json
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

adding DNS Zone to DI
  infra/core/env/ai-document-intelligence/ai-document-intelligence-depolyment-1-params/ai-document-intelligence.parameters.json
  infra/core/env/ai-document-intelligence/ai-document-intelligence.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

adding DNS Zone to DI
  infra/core/env/ai-document-intelligence/ai-document-intelligence.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: final cleanup
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/postgre-sql/flexible-server.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

A Record
  infra/core/env/ai-document-intelligence/ai-document-intelligence.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Updating DNS name
  infra/core/env/ai-document-intelligence/ai-document-intelligence.bicep
  infra/core/env/private-dns-zone/ai-document-intelligence-zone.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Updating DNS name
  infra/core/env/ai-document-intelligence/ai-document-intelligence-depolyment-1-params/ai-document-intelligence.parameters.json
  infra/core/env/ai-document-intelligence/ai-document-intelligence.bicep
  infra/core/env/private-dns-zone/ai-document-intelligence-zone.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Updating DNS name
  .azuredevops/deploy-platform-core-env.yaml
Due: none
