Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/publish-platform-nginxplus.yaml

.azuredevops/deploy-platform-bootstrap-serviceconnections.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-CDO-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-bootstrap.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-build-agent.yaml:
  extends:
    template: /pipelines/common-script-deploy.yaml@ADPPipelineCommon
    parameters:
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SND1-VMSS
        deploymentBranches:
        - '*'
        developmentEnvironment: true
  ...

.azuredevops/deploy-platform-core-shared-services.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      keyVaultName: $(ssvPlatformKeyVaultName)
  ...

.azuredevops/publish-platform-nginxplus.yaml:
  extends:
    template: /pipelines/common-script-deploy.yaml@ADPPipelineCommon
    parameters:
      privateAgentName: DEFRA-COMMON-ubuntu2204-SSV3
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
        serviceConnection: $(ssv3Subscription)
  ...

Remove commented out code
  .azuredevops/deploy-platform-core.yaml
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Remove test code
  infra/core/scripts/Set-AksSecrets.ps1
Due: .azuredevops/deploy-platform-core.yaml

bicep param updates
  .azuredevops/deploy-platform-core-shared-services.yaml
  infra/core-shared-services/network/network-security-group.bicepparam
  infra/core-shared-services/network/network-security-group.parameters.json
  infra/core-shared-services/network/route-table.bicepparam
  infra/core-shared-services/network/route-table.parameters.json
  infra/core-shared-services/network/virtual-network.bicepparam
  infra/core-shared-services/network/virtual-network.parameters.json
  infra/core-shared-services/portal/application-key-vault/application-key-vault.bicepparam
  infra/core-shared-services/portal/application-key-vault/application-key-vault.parameters.json
  infra/core-shared-services/portal/container-apps-env/container-apps-env.bicep
  infra/core-shared-services/portal/container-apps-env/container-apps-env.bicepparam
  infra/core-shared-services/portal/container-apps-env/container-apps-env.parameters.json
  infra/core-shared-services/portal/managed-identity/.bicep/kv-secrets-user.bicep
  infra/core-shared-services/portal/managed-identity/managed-identity.bicep
  infra/core-shared-services/portal/managed-identity/managed-identity.bicepparam
  infra/core-shared-services/portal/managed-identity/managed-identity.parameters.json
  infra/core-shared-services/portal/postgre-sql/flexible-server.bicepparam
  infra/core-shared-services/portal/postgre-sql/flexible-server.parameters.json
  infra/core-shared-services/portal/private-dns-zone/flexible-server-zone.bicepparam
  infra/core-shared-services/portal/private-dns-zone/flexible-server-zone.parameters.json
Due: .azuredevops/deploy-platform-core-shared-services.yaml

Fixed condition
  .azuredevops/deploy-platform-core-shared-services.yaml
Due: none

point to rv/263292-backstageportal
  .azuredevops/deploy-platform-core-shared-services.yaml
Due: none

Don't update helm release secrets
  infra/core/scripts/Set-AksSecrets.ps1
Due: .azuredevops/deploy-platform-core.yaml

Add custom lock name to match existing lock name
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Update lock name in powershell script
  infra/core/scripts/Set-AksSecrets.ps1
Due: .azuredevops/deploy-platform-core.yaml

Update secrets before KMS Key rotation. Belt and Braces
  .azuredevops/deploy-platform-core.yaml
Due: none

initial ad group script
  infra/bootstrap/config/aad-groups/platformAADGroups.defra.json
  infra/bootstrap/config/aad-groups/platformAADGroups.defradev.json
  infra/bootstrap/scripts/Create-AADGroups.ps1
Due: .azuredevops/deploy-platform-bootstrap.yaml

Added logic to capture modified secrets
  infra/core/scripts/Set-AksSecrets.ps1
Due: .azuredevops/deploy-platform-core.yaml

Comment out pre-deploy script
  .azuredevops/deploy-platform-core.yaml
Due: none

param single quote
  infra/core-shared-services/network/virtual-network.bicepparam
Due: .azuredevops/deploy-platform-core-shared-services.yaml

no escape
  infra/core-shared-services/network/virtual-network.bicepparam
Due: .azuredevops/deploy-platform-core-shared-services.yaml

vnet param file
  infra/core-shared-services/network/virtual-network.bicepparam
  infra/core-shared-services/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-core-shared-services.yaml

deploy-tenant-resources pipeline
  .azuredevops/deploy-tenant-resources.yaml
  infra/bootstrap/config/aad-groups/platformAADGroups.defra.json
  infra/bootstrap/config/aad-groups/platformAADGroups.defradev.json
  infra/bootstrap/scripts/Create-AADGroups.ps1
Due: .azuredevops/deploy-platform-bootstrap.yaml

commented defra env
  .azuredevops/deploy-tenant-resources.yaml
Due: none

keyvault and db
  .azuredevops/deploy-platform-core-shared-services.yaml
  infra/core-shared-services/portal/container-apps-env/container-apps-env.bicepparam
  infra/core-shared-services/portal/flexible-server-zone/flexible-server-zone.bicep
  infra/core-shared-services/portal/flexible-server-zone/flexible-server-zone.bicepparam
  infra/core-shared-services/portal/flexible-server/flexible-server.bicep
  infra/core-shared-services/portal/flexible-server/flexible-server.bicepparam
  infra/core-shared-services/portal/key-vault/key-vault.bicep
  infra/core-shared-services/portal/key-vault/key-vault.bicepparam
  infra/core-shared-services/portal/managed-identity/managed-identity.bicepparam
Due: .azuredevops/deploy-platform-core-shared-services.yaml

main ref
  .azuredevops/deploy-tenant-resources.yaml
Due: none

workspace
  .azuredevops/deploy-platform-core-shared-services.yaml
  infra/core-shared-services/operational-insights/workspace.bicep
  infra/core-shared-services/operational-insights/workspace.bicepparam
Due: .azuredevops/deploy-platform-core-shared-services.yaml

log-analytics-workspace
  .azuredevops/deploy-platform-core-shared-services.yaml
  infra/core-shared-services/log-analytics-workspace/log-analytics-workspace.bicep
  infra/core-shared-services/log-analytics-workspace/log-analytics-workspace.bicepparam
Due: .azuredevops/deploy-platform-core-shared-services.yaml

no trigger
  .azuredevops/deploy-platform-core-shared-services.yaml
Due: none

shared
  .azuredevops/deploy-platform-core-shared-services.yaml
Due: none

containerappsenv
  .azuredevops/deploy-platform-core-shared-services.yaml
  infra/core-shared-services/portal/container-apps-env/container-apps-env.bicep
  infra/core-shared-services/portal/container-apps-env/container-apps-env.bicepparam
  infra/core-shared-services/portal/flexible-server-zone/flexible-server-zone.bicepparam
  infra/core-shared-services/portal/flexible-server/flexible-server.bicepparam
  infra/core-shared-services/portal/key-vault/key-vault.bicepparam
  infra/core-shared-services/portal/managed-identity/managed-identity.bicepparam
Due: .azuredevops/deploy-platform-core-shared-services.yaml

onvert to int
  infra/core-shared-services/portal/flexible-server/flexible-server.bicep
Due: .azuredevops/deploy-platform-core-shared-services.yaml

int value
  infra/core-shared-services/portal/flexible-server/flexible-server.bicep
  infra/core-shared-services/portal/flexible-server/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core-shared-services.yaml

removed unused var
  infra/core-shared-services/portal/container-apps-env/container-apps-env.bicep
Due: .azuredevops/deploy-platform-core-shared-services.yaml

private dns zone update
  .azuredevops/deploy-platform-core-shared-services.yaml
  infra/core-shared-services/network/virtual-network.parameters.json
  infra/core-shared-services/portal/flexible-server/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core-shared-services.yaml

190121: Pipeline to deploy tenant level resources (#73)
  .azuredevops/deploy-tenant-resources.yaml
  infra/bootstrap/config/aad-groups/platformAADGroups.defra.json
  infra/bootstrap/config/aad-groups/platformAADGroups.defradev.json
  infra/bootstrap/scripts/Create-AADGroups.ps1
Due: .azuredevops/deploy-platform-bootstrap.yaml

Add new pipeline for KMS Key Rotation
  .azuredevops/deploy-platform-kmskeyrotation.yaml
  infra/core/scripts/Rotate-AksKmsKey.ps1
  infra/core/scripts/Set-AksSecrets.ps1
Due: .azuredevops/deploy-platform-core.yaml

Add keyvault to pipeline
  .azuredevops/deploy-platform-kmskeyrotation.yaml
Due: none

Add single quotes around role variable
  infra/core/scripts/Rotate-AksKmsKey.ps1
Due: .azuredevops/deploy-platform-core.yaml

Remove invoke-commandline from sudo
  infra/core/scripts/Rotate-AksKmsKey.ps1
Due: .azuredevops/deploy-platform-core.yaml

Add private agent to pipeline
  .azuredevops/deploy-platform-kmskeyrotation.yaml
  infra/core/scripts/Rotate-AksKmsKey.ps1
Due: .azuredevops/deploy-platform-core.yaml

Try hard-coded value for privateAgentname
  .azuredevops/deploy-platform-kmskeyrotation.yaml
Due: none

Add double quotes around az aks command
  infra/core/scripts/Rotate-AksKmsKey.ps1
Due: .azuredevops/deploy-platform-core.yaml

Move Az AKS command to single line
  infra/core/scripts/Rotate-AksKmsKey.ps1
Due: .azuredevops/deploy-platform-core.yaml

Add single quotes around $role variable
  infra/core/scripts/Rotate-AksKmsKey.ps1
Due: .azuredevops/deploy-platform-core.yaml

Test throwing error
  infra/core/scripts/Rotate-AksKmsKey.ps1
Due: .azuredevops/deploy-platform-core.yaml

Update KeyVault bicep to include roleassignment on Platform Keyvault
  infra/core/key-vault/application-keyvault-params/key-vault.bicepparam
  infra/core/key-vault/key-vault.bicep
  infra/core/key-vault/platform-keyvault-params/key-vault.bicepparam
  infra/core/scripts/Rotate-AksKmsKey.ps1
Due: .azuredevops/deploy-platform-core.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
