Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

set container apps env to internal
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

update app scope
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

removed unused redirect uris
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

updated app reg name
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

use redirect uri from common
  .azuredevops/deploy-platform-core-portal.yaml
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

branch: 'feature/debug'
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

rollback redirect uri change
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

point back to main branch
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

304330: add suffix for container app name (#136)
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Fixes
  infra/core/env/app-configuration/config-data/config-data.json
  powershell-executor/powershell-executor.Dockerfile
Due: .azuredevops/deploy-platform-core.yaml, .azuredevops/publish-powershell-docker-image.yaml

Added config and adp-pipeline-common pointing to feature branch
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

revert feature branch
  .azuredevops/deploy-platform-core-env.yaml
Due: none

flux manifest automation changes
  flux-templates/templates/programme/team/service/pre-deploy-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/environment/migration-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/base/post-migration-script.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/environment/post-migration-script-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/base/pre-migration-script.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/environment/pre-migration-script-patch.yaml
Due: none

Revert "flux manifest automation changes"
  flux-templates/templates/programme/team/service/pre-deploy-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/environment/migration-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/base/post-migration-script.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/environment/post-migration-script-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/base/pre-migration-script.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/environment/pre-migration-script-patch.yaml
Due: none

Revert "Revert "flux manifest automation changes""
  flux-templates/templates/programme/team/service/pre-deploy-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/environment/migration-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/base/post-migration-script.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/environment/post-migration-script-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/base/pre-migration-script.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/environment/pre-migration-script-patch.yaml
Due: none

Debug.
  .azuredevops/deploy-platform-core-portal.yaml
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

portalRedirectUris
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

point to rv/304330
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

Add in new WAF Rules
  infra/core/env/front-door/azure-waf-baseline.bicep
  infra/core/env/front-door/azure-waf-baseline.bicepparam
  infra/core/env/front-door/azure-waf.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

fix pipeline run
  .azuredevops/deploy-platform-core-env.yaml
Due: none

point to main branch
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

326088 : Add localhost to ssv3 app-reg only (#139)
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Add in backstage portal WAF error exclusions
  infra/core/env/front-door/azure-waf-baseline.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

327139: Add in new WAF Rule exclusions for ADP Portal (#138)
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/front-door/azure-waf-baseline.bicep
  infra/core/env/front-door/azure-waf-baseline.bicepparam
  infra/core/env/front-door/azure-waf.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

AAG-Users-ADP-FFC-SFD_TechUser AAD group
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

onboarding manifests
  flux-templates/manifest/eutd-onboarding-manifest.json
  flux-templates/manifest/ffc-onboarding-manifest.json
Due: none

Portal API MI
  .azuredevops/deploy-platform-core-portal.yaml
  infra/core/env-shared/.bicep/acr-pull.bicep
  infra/core/env-shared/.bicep/kv-role-secrets-user.bicep
  infra/core/env-shared/.bicep/kv-secrect-role-secrets-user.bicep
  infra/core/env-shared/portal-api/managed-identity/managed-identity.bicep
  infra/core/env-shared/portal-api/managed-identity/managed-identity.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Updates
  infra/core/env-shared/portal-api/managed-identity/managed-identity.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Updates
  infra/core/env-shared/.bicep/kv-secrect-role-secrets-user.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Added custom ca changes to k8s jobs
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/base/post-migration-script.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/base/pre-migration-script.job.yaml
Due: none

Fix powershell exec image version, added pg ad group var, Added onboarding manifests
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/templates/programme/team/service/pre-deploy-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/environment/post-migration-script-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/environment/pre-migration-script-patch.yaml
Due: none

307513: Add config-data for adding MI to AD group (#137)
  infra/core/env/app-configuration/config-data/config-data.json
  powershell-executor/powershell-executor.Dockerfile
Due: .azuredevops/deploy-platform-core.yaml, .azuredevops/publish-powershell-docker-image.yaml

292476:Portal Api MI (#142)
  .azuredevops/deploy-platform-core-portal.yaml
  infra/core/env-shared/.bicep/acr-pull.bicep
  infra/core/env-shared/.bicep/kv-role-secrets-user.bicep
  infra/core/env-shared/.bicep/kv-secrect-role-secrets-user.bicep
  infra/core/env-shared/portal-api/managed-identity/managed-identity.bicep
  infra/core/env-shared/portal-api/managed-identity/managed-identity.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Database name should have team name as prefix.
  flux-templates/scripts/New-FluxServices.ps1
Due: none

Correct the db name format.
  flux-templates/scripts/New-FluxServices.ps1
Due: none

Database name should have team name as prefix. (#143)
  flux-templates/scripts/New-FluxServices.ps1
Due: none

link mst virtual network
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
Due: none

fix local dns
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
Due: none

tennatid added in local dns
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
Due: none
