Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

Fix variable names
  flux-templates/scripts/New-FluxServices.ps1
Due: none

moved log analytics workspace to bootstrap shared
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-core-portal.yaml
  infra/bootstrap/env-shared/log-analytics-workspace/log-analytics-workspace.bicep
  infra/bootstrap/env-shared/log-analytics-workspace/log-analytics-workspace.bicepparam
Due: .azuredevops/deploy-platform-bootstrap.yaml

244181: Policy assignment (#102)
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-core-env.yaml
  infra/common/operational-insights/log-analytics-workspace.bicep
  infra/common/operational-insights/log-analytics-workspace.parameters.json
  infra/common/policy/.bicep/policy-assignment.bicep
  infra/common/policy/policy-diagnostic-settings-assignment.bicep
  infra/common/policy/policy-diagnostic-settings-assignment.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

removed unnecessary file
  infra/bootstrap/env-shared/log-analytics-workspace/log-analytics-workspace.bicep
  infra/bootstrap/env-shared/log-analytics-workspace/log-analytics-workspace.bicepparam
Due: .azuredevops/deploy-platform-bootstrap.yaml

LAW bicep path
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
Due: none

fix the path for law
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
Due: none

Updated container app name to reource format
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

Import AAD Admin client Id
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/managed-cluster/aks-cluster.bicep
  infra/core/env/postgre-sql/flexible-server.bicep
Due: .azuredevops/deploy-platform-core.yaml

Updates
  .azuredevops/deploy-platform-core-env.yaml
Due: none

ARM Update
  infra/core/env/postgre-sql/flexible-server.json
Due: .azuredevops/deploy-platform-core.yaml

Latest updates
  flux-templates/manifest/complete-example-onboarding-manifest.json
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/templates/programme/team/service/deploy/environment/patch-frontend.yaml
  flux-templates/templates/programme/team/service/infra/environment/patch-backend.yaml
Due: none

Add POSTGRES_DB from configmap
  flux-templates/templates/programme/team/service/pre-deploy/environment/patch.yaml
Due: none

Remove * and add kustomization.yaml
  flux-templates/scripts/New-FluxServices.ps1
Due: none

Update to first check the service path exists in the environment kustomization.yaml
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/scripts/ffc-demo.json
Due: none

Test ffc-demo auto directory creation without programme level directory
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/templates/programme/service/deploy/environment/patch-frontend.yaml
  flux-templates/templates/programme/service/infra/environment/patch-backend.yaml
  flux-templates/templates/programme/service/pre-deploy/environment/patch.yaml
Due: none

Add extra line
  flux-templates/templates/programme/base/helm-repository.yaml
  flux-templates/templates/programme/base/patch/kustomize.yaml
Due: none

More updates
  flux-templates/templates/programme/service/deploy/environment/kustomization.yaml
  flux-templates/templates/programme/service/infra/base/kustomization.yaml
Due: none

Update versions
  flux-templates/templates/programme/team/service/deploy/base/helm-release.yaml
  flux-templates/templates/programme/team/service/deploy/environment/patch-frontend.yaml
  flux-templates/templates/programme/team/service/infra/base/aso-helm-release.yaml
Due: none

More fixes
  flux-templates/templates/programme/service/deploy/environment/patch-frontend.yaml
  flux-templates/templates/programme/service/infra/environment/patch.yaml
  flux-templates/templates/programme/service/pre-deploy/environment/image-policy.yaml
Due: none

Add some more fixes
  flux-templates/templates/programme/team/service/infra/environment/patch-backend.yaml
  flux-templates/templates/programme/team/service/infra/environment/patch.yaml
Due: none

Add debug lines
  flux-templates/scripts/New-FluxServices.ps1
Due: none

Update example
  flux-templates/manifest/complete-example-onboarding-manifest.json
Due: none

Lowercase KV name
  flux-templates/templates/programme/service/infra/environment/patch-backend.yaml
  flux-templates/templates/programme/service/infra/environment/patch.yaml
Due: none

Lowercase KV name
  flux-templates/templates/programme/team/service/infra/environment/patch-backend.yaml
  flux-templates/templates/programme/team/service/infra/environment/patch.yaml
Due: none

Write out manifest
  flux-templates/scripts/New-FluxServices.ps1
Due: none

Tidy up
  flux-templates/.azuredevops/onboard-new-service.yaml
  flux-templates/scripts/New-FluxServices.ps1
Due: none

Revert to main branch for flux config
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

263292 : Backstage Portal Infra (#87)
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-core-env-shared.yaml
  .azuredevops/deploy-platform-core-portal.yaml
  infra/bootstrap/env-shared/log-analytics-workspace/log-analytics-workspace.bicepparam
  infra/core/env-shared/network/network-security-group.bicep
  infra/core/env-shared/network/network-security-group.bicepparam
  infra/core/env-shared/network/route-table.bicep
  infra/core/env-shared/network/route-table.bicepparam
  infra/core/env-shared/network/virtual-network.bicep
  infra/core/env-shared/network/virtual-network.parameters.json
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
  infra/core/env-shared/portal/flexible-server-zone/flexible-server-zone.bicep
  infra/core/env-shared/portal/flexible-server-zone/flexible-server-zone.bicepparam
  infra/core/env-shared/portal/flexible-server/flexible-server.bicep
  infra/core/env-shared/portal/flexible-server/flexible-server.bicepparam
  infra/core/env-shared/portal/key-vault/key-vault.bicep
  infra/core/env-shared/portal/key-vault/key-vault.bicepparam
  infra/core/env-shared/portal/managed-identity/.bicep/acr-pull.bicep
  infra/core/env-shared/portal/managed-identity/.bicep/kv-secrets-user.bicep
  infra/core/env-shared/portal/managed-identity/managed-identity.bicep
  infra/core/env-shared/portal/managed-identity/managed-identity.bicepparam
  infra/core/env-shared/portal/storage-account/storage-account.bicep
  infra/core/env-shared/portal/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

cluster switch update
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

added db aad admin principal id to app config
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/app-configuration/config-data/config-data.json
  infra/core/env/postgre-sql/flexible-server.bicep
Due: .azuredevops/deploy-platform-core.yaml

updates
  .azuredevops/deploy-platform-core-env.yaml
Due: none

update
  infra/core/env/postgre-sql/flexible-server.json
Due: .azuredevops/deploy-platform-core.yaml

update postgres platform managedIdName to lowercase
  infra/core/env/postgre-sql/flexible-server.bicep
Due: .azuredevops/deploy-platform-core.yaml

updates
  infra/core/env/postgre-sql/flexible-server.json
Due: .azuredevops/deploy-platform-core.yaml

Added readme file
  flux-templates/README.md
  flux-templates/manifest/full-onboarding-manifest.json
  flux-templates/scripts/ffc-demo.json
Due: none

Test against SND3
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Added SND3 environment
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Remove snd3 - need to make change in ADPPipelineCommon
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Test from feature
  .azuredevops/deploy-platform-core-env.yaml
Due: none
