Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

Change storage account name
  infra/core/env/web/site.bicep
  infra/core/env/web/site.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Update fileshare variable
  infra/core/env/web/storage/storage.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update storage account sku
  infra/core/env/web/site.bicep
  infra/core/env/web/storage/storage.bicep
  infra/core/env/web/storage/storage.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Test with ZRS storage
  infra/core/env/web/storage/storage.bicep
  infra/core/env/web/storage/storage.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Test without WEBSITE_CONTENTOVERVNET setting.
  infra/core/env/web/site.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Add WEBSITE_CONTENTOVERVNET and take out WEBSITE_SKIP_CONTENTSHARE_VALIDATION
  infra/core/env/web/site.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Add ffc-sfd onboarding manifest
  flux-templates/manifest/ffc-onboarding-manifest.json
Due: none

Test with keyvault secreturi
  infra/core/env/web/site.bicep
  infra/core/env/web/site.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Update KV url ref
  infra/core/env/web/site.bicep
  infra/core/env/web/site.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Test with KeyVault reference
  infra/core/env/web/site.bicep
  infra/core/env/web/site.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Refactor App Service code
  infra/core/env/web/site.bicep
  infra/core/env/web/site.bicepparam
  infra/core/env/web/storage/storage.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Use naming convention variables
  infra/core/env/web/site.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Remove erroneous curly bracket
  infra/core/env/web/site.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

App gateway
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/application-gateway/.bicep/public-ip-address.bicep
  infra/core/env/application-gateway/application-gateway.bicep
  infra/core/env/application-gateway/application-gateway.bicepparam
  infra/core/env/front-door/front-door.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

tag updated
  infra/core/env/front-door/front-door.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

AAG-Users-ADP-LAP-MIT_TechUser add members
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

307513: Flux manifest automation changes for postgres perms (#141)
  flux-templates/manifest/eutd-onboarding-manifest.json
  flux-templates/manifest/ffc-onboarding-manifest.json
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/templates/programme/team/service/deploy/base/helm-release.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/environment/migration-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/base/post-migration-script.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/environment/post-migration-script-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/base/pre-migration-script.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/environment/pre-migration-script-patch.yaml
Due: none

Fixed lowercase issue in postgres AD group names
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/templates/programme/team/service/pre-deploy/migration/environment/migration-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/environment/post-migration-script-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/environment/pre-migration-script-patch.yaml
Due: none

Updated ffc manifest
  flux-templates/manifest/ffc-onboarding-manifest.json
Due: none

Added rbac for platfom DB admin MI
  infra/core/env/postgre-sql/.bicep/kv-secret-role-secrets-user.bicep
  infra/core/env/postgre-sql/.bicep/resource-group-rbac.bicep
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Fix secret name
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

fix
  infra/core/env/postgre-sql/flexible-server.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Removed resource group rbac
  infra/core/env/postgre-sql/.bicep/resource-group-rbac.bicep
  infra/core/env/postgre-sql/flexible-server.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Verified commits
  infra/core/env/postgre-sql/.bicep/kv-secret-role-secrets-user.bicep
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Verified commits (#146)
  infra/core/env/postgre-sql/.bicep/kv-secret-role-secrets-user.bicep
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Create new pipeline for EventHub
  .azuredevops/deploy-platform-env-shared.yaml
  infra/core/env/event-hub/namespace.bicepparam
  infra/env-shared/event-hub/namespace.bicep
  infra/env-shared/event-hub/namespace.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Point to aa/eventHub
  .azuredevops/deploy-platform-env-shared.yaml
Due: none

Rename environment files
  .azuredevops/deploy-platform-env-shared.yaml
Due: none

Update environment names
  .azuredevops/deploy-platform-env-shared.yaml
Due: none

Update resourceGroup name
  .azuredevops/deploy-platform-env-shared.yaml
Due: none

Point to main branch
  .azuredevops/deploy-platform-env-shared.yaml
Due: none

Created separate app gateway backend bicep template and new pipeline
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-env-shared.yaml
  infra/core/env/application-gateway/.bicep/application-gateway-waf-custom.bicep
  infra/core/env/application-gateway/.bicep/public-ip-address.bicep
  infra/core/env/application-gateway/application-gateway.bicep
  infra/core/env/application-gateway/application-gateway.bicepparam
  infra/core/env/scripts/Get-AzureFrontDoorId.ps1
  infra/env-shared/application-gateway/application-gateway-backends.bicep
  infra/env-shared/application-gateway/application-gateway-backends.bicepparam
  infra/env-shared/scripts/Get-ContainerAppIngressFqdn.ps1
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Updated app-gw variables
  .azuredevops/deploy-platform-env-shared.yaml
Due: none

removed dependencies
  infra/env-shared/application-gateway/application-gateway-backends.bicep
Due: none

Sec Subnet bicep and pipeline : SECADPSNDSU3401
  .azuredevops/deploy-platform-sec-env.yaml
  infra/sec/network/subnets.bicep
  infra/sec/network/subnets.bicepparam
Due: none

Simplified param names
  .azuredevops/deploy-platform-core-portal.yaml
  infra/core/env-shared/portal-api/managed-identity/env-2/managed-identity.bicepparam
  infra/core/env-shared/portal-api/managed-identity/managed-identity.bicepparam
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
  infra/core/env-shared/portal/container-apps-env/env-2/container-apps-env.bicepparam
  infra/core/env-shared/portal/flexible-server-zone/env-2/flexible-server-zone.bicepparam
  infra/core/env-shared/portal/flexible-server-zone/flexible-server-zone.bicep
  infra/core/env-shared/portal/flexible-server-zone/flexible-server-zone.bicepparam
  infra/core/env-shared/portal/flexible-server/env-2/flexible-server.bicepparam
  infra/core/env-shared/portal/flexible-server/flexible-server.bicepparam
  infra/core/env-shared/portal/key-vault/env-2/key-vault.bicepparam
  infra/core/env-shared/portal/key-vault/key-vault.bicepparam
  infra/core/env-shared/portal/managed-identity/env-2/managed-identity.bicepparam
  infra/core/env-shared/portal/managed-identity/managed-identity.bicepparam
  infra/core/env-shared/portal/storage-account/env-2/storage-account.bicepparam
  infra/core/env-shared/portal/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

App GW bicep in seprate sec pipeline
  .azuredevops/deploy-platform-sec-env.yaml
  infra/sec/application-gateway/.bicep/application-gateway-waf-custom.bicep
  infra/sec/application-gateway/.bicep/public-ip-address.bicep
  infra/sec/application-gateway/application-gateway.bicep
  infra/sec/application-gateway/application-gateway.bicepparam
  infra/sec/network/subnets.bicep
  infra/sec/network/subnets.bicepparam
Due: none

Update event hub deployment to deploy to SSV3 and SSV5 only
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  infra/bootstrap/env-shared/event-hub/event-hub-secret-rbac.bicep
  infra/bootstrap/env-shared/event-hub/event-hub-secret-rbac.bicepparam
  infra/bootstrap/env-shared/event-hub/namespace.bicep
  infra/bootstrap/env-shared/event-hub/namespace.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Updates for event hub
  .azuredevops/deploy-platform-core-env.yaml
  infra/bootstrap/env-shared/event-hub/event-hub-secret-rbac.bicep
  infra/bootstrap/env-shared/event-hub/event-hub-secret-rbac.bicepparam
  infra/bootstrap/env-shared/event-hub/namespace.bicepparam
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Only deploy eventhub namespace
  infra/bootstrap/env-shared/event-hub/namespace.bicep
  infra/bootstrap/env-shared/event-hub/namespace.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml
