Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/publish-platform-nginxplus.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus

Correct subnet name.
  infra/core/app-configuration/configuration-store.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Test the pipeline agent.
  .azuredevops/deploy-platform-core.yaml
Due: none

Temp changes.
  infra/core/app-configuration/configuration-store.bicep
Due: .azuredevops/deploy-platform-core.yaml

Test change.
  infra/core/app-configuration/configuration-store.bicep
  infra/core/app-configuration/configuration-store.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Use the ssvSubscriptionId from environment variables
  infra/common/network/virtual-network.parameters.json
  infra/core/managed-cluster/aks-cluster.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Update template branch.
  .azuredevops/deploy-platform-core.yaml
Due: none

variable changed to ssvSubscriptionId
  infra/core/app-configuration/configuration-store.parameters.json
  infra/core/key-vault/application-key-vault.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Correct the instance name.
  infra/core/app-configuration/configuration-store.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

249140:New subnets and NSG's (#59)
  .azuredevops/deploy-platform-bootstrap.yaml
  .azuredevops/deploy-platform-build-agent.yaml
  .azuredevops/deploy-platform-core.yaml
  infra/common/network/network-security-group.bicep
  infra/common/network/network-security-group.parameters.json
  infra/common/network/virtual-network.parameters.json
  infra/core/app-configuration/configuration-store.parameters.json
  infra/core/container-registry/application-container-registry.parameters.json
  infra/core/key-vault/application-key-vault.parameters.json
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.parameters.json
  infra/core/postgre-sql/flexible-server.parameters.json
  infra/core/redis-cache/redis-cache.parameters.json
  infra/core/service-bus/namespace.parameters.json
  infra/core/storage-account/application-storage-account.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Test implementation.
  infra/core/app-configuration/configuration-store.bicep
Due: .azuredevops/deploy-platform-core.yaml

Revert temp changes.
  infra/core/app-configuration/configuration-store.bicep
Due: .azuredevops/deploy-platform-core.yaml

Add config data script.
  .azuredevops/deploy-platform-core.yaml
  infra/core/app-configuration/config-data/config-data.json
  infra/core/app-configuration/configuration-store.bicep
  infra/core/app-configuration/configuration-store.bicepparam
  infra/core/scripts/Create-ConfigData.ps1
Due: .azuredevops/deploy-platform-core.yaml

Add ps module to script.
  infra/core/scripts/Create-ConfigData.ps1
Due: .azuredevops/deploy-platform-core.yaml

Add missing parameter to script.
  .azuredevops/deploy-platform-core.yaml
  infra/core/scripts/Create-ConfigData.ps1
Due: .azuredevops/deploy-platform-core.yaml

Fix script loop variables.
  infra/core/scripts/Create-ConfigData.ps1
Due: .azuredevops/deploy-platform-core.yaml

Update the data property.
  infra/core/scripts/Create-ConfigData.ps1
Due: .azuredevops/deploy-platform-core.yaml

Update token replace file path.
  .azuredevops/deploy-platform-core.yaml
Due: none

Align flux-config name change as per adp-flux-core and ad-flux-services
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Align flux-config name change as per adp-flux-core and ad-flux-services (#60)
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Clean up script commands.
  infra/core/scripts/Create-ConfigData.ps1
  scripts/modules/ps-helpers/ps-helpers.psm1
Due: .azuredevops/deploy-platform-core.yaml

Clean up the credentials.
  infra/core/scripts/Create-ConfigData.ps1
Due: .azuredevops/deploy-platform-core.yaml

Update the template parameters.
  .azuredevops/deploy-platform-core.yaml
Due: none

Add sentinel key for platform variables.
  infra/core/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Add config values for cluster properties.
  .azuredevops/deploy-platform-core.yaml
  infra/core/app-configuration/configuration-store.bicep
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/scripts/Create-ConfigData.ps1
Due: .azuredevops/deploy-platform-core.yaml

Add test template.
  .azuredevops/deploy-platform-core.yaml
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/test-template.bicep
  infra/core/managed-cluster/test-template.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Correct the parameter data type.
  infra/core/scripts/Create-ConfigData.ps1
Due: .azuredevops/deploy-platform-core.yaml

Debug changes.
  .azuredevops/deploy-platform-core.yaml
  infra/core/scripts/Create-ConfigData.ps1
Due: .azuredevops/deploy-platform-core.yaml

Fix the conversion error.
  infra/core/scripts/Create-ConfigData.ps1
Due: .azuredevops/deploy-platform-core.yaml

Update the data conversion function.
  infra/core/scripts/Create-ConfigData.ps1
Due: .azuredevops/deploy-platform-core.yaml

Correct the parameter values.
  .azuredevops/deploy-platform-core.yaml
Due: none

Convert json parameters to bicepparam.
  .azuredevops/deploy-platform-core.yaml
  infra/core/managed-cluster/aks-cluster.bicepparam
  infra/core/managed-cluster/aks-cluster.parameters.json
  infra/core/managed-cluster/test-template.bicep
  infra/core/managed-cluster/test-template.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Add postbuild variables for nginx flux configuration.
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Update the repository branch to main.
  .azuredevops/deploy-platform-core.yaml
Due: none

Update the cluster node configuration.
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Correct the node pool config parameters.
  infra/core/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Add node label for Ingress
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Add node label for Ingress (#62)
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Rename variables.
  .azuredevops/deploy-platform-bootstrap.yaml
  .azuredevops/deploy-platform-core.yaml
  infra/bootstrap/config/app-registrations/tier2-app-registration.json
  infra/bootstrap/config/service-connections/tier2-service-connection.json
  infra/core/app-configuration/config-data/config-data.json
  infra/core/app-configuration/configuration-store.bicepparam
  infra/core/key-vault/application-key-vault.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Correct the variable names.
  .azuredevops/deploy-platform-core.yaml
Due: none

Update parameter.
  .azuredevops/deploy-platform-core.yaml
Due: none
