Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml

.azuredevops/deploy-platform-bootstrap-env.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-bootstrap-serviceconnections.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-CDO-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-bootstrap.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-build-agent.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SND1-VMSS
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-core-env-shared.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core-env-tenant.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      variableFiles:
      - /pipelines/vars/common.yaml@_self
  ...

.azuredevops/deploy-platform-core-shared-services.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      keyVaultName: $(ssvPlatformKeyVaultName)
  ...

Added scriptRepo: PipelineCommonScripts
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

typo fixed
  infra/bootstrap/env/scripts/Set-RoleAssignments.ps1
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml

231463: Tier2 Role Assignment for Shared Resource (#96)
  .azuredevops/deploy-platform-bootstrap-env.yaml
  infra/bootstrap/env/config/role-assignments/tier2-role-assignments.json
  infra/bootstrap/env/scripts/Assign-RBAC-Subscription.ps1
  infra/bootstrap/env/scripts/Set-RoleAssignments.ps1
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml

244181: Bootstrap restructure (#99)
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-core-env-shared.yaml
  .azuredevops/deploy-platform-core-tenant.yaml
  infra/bootstrap/env-shared/container-registry/platform-container-registry.bicep
  infra/bootstrap/env-shared/container-registry/platform-container-registry.parameters.json
  infra/bootstrap/env-shared/key-vault/platform-key-vault.bicep
  infra/bootstrap/env-shared/key-vault/platform-key-vault.parameters.json
  infra/core/tenant/role-definition/flexible-server-writer-role.bicep
  infra/core/tenant/role-definition/flexible-server-writer-role.parameters.json
  infra/core/tenant/role-definition/servicebus-writer-role.bicep
  infra/core/tenant/role-definition/servicebus-writer-role.parameters.json
  infra/core/tenant/role-definition/storageaccount-writer-role.bicep
  infra/core/tenant/role-definition/storageaccount-writer-role.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Move LAW to bootstrap
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-core-env.yaml
  infra/common/operational-insights/log-analytics-workspace.bicep
  infra/common/operational-insights/log-analytics-workspace.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Updates
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

Policy assignments
  .azuredevops/deploy-platform-bootstrap-env.yaml
  infra/common/policy/.bicep/policy-assignment.bicep
  infra/common/policy/assignment.bicep
  infra/common/policy/assignment.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Updates
  infra/common/policy/assignment.bicep
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Updates
  .azuredevops/deploy-platform-bootstrap-env.yaml
  infra/common/policy/diagnostic-policy-assignment.bicepparam
  infra/common/policy/policy-diagnostic-settings-assignment.bicep
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Updates
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
Due: none

Use feature branch
  .azuredevops/deploy-platform-bootstrap-env.yaml
  infra/common/policy/diagnostic-policy-assignment.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Updates
  infra/common/policy/policy-diagnostic-settings-assignment.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

debug
  infra/common/policy/policy-diagnostic-settings-assignment.bicep
  infra/common/policy/policy-diagnostic-settings-assignment.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

updates
  infra/common/policy/policy-diagnostic-settings-assignment.bicepparam
  infra/common/policy/policy-diagnostic-settings-assignment.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

added powershell docker image publish pipeline and dockerfile
  .azuredevops/publish-powershell-docker-image.yaml
  powershell-executor/powershell-executor.Dockerfile
Due: none

fix
  .azuredevops/publish-powershell-docker-image.yaml
Due: none

added prvt agent name
  .azuredevops/publish-powershell-docker-image.yaml
Due: none

try
  .azuredevops/publish-powershell-docker-image.yaml
Due: none

try
  powershell-executor/powershell-executor.Dockerfile
Due: none

try
  .azuredevops/publish-powershell-docker-image.yaml
  .vscode/settings.json
Due: none

Use ubuntu latest agent
  .azuredevops/publish-powershell-docker-image.yaml
Due: none

Updated powershell-executor dockerfile
  powershell-executor/powershell-executor.Dockerfile
Due: none

change ref to main
  .azuredevops/publish-powershell-docker-image.yaml
Due: none

cleanup
  .vscode/settings.json
Due: none

categoryGroup parameter
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  infra/common/policy/policy-diagnostic-settings-assignment.bicep
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Use main branch
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
