Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-fluxnotification.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-fluxnotificationapi.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-iam.yaml: any of: infra/core/iam
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/env/kms-key-rotation
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

update
  infra/bootstrap/env/scripts/ado/Initialize-ServiceEndpoint.ps1
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml

update
  .azuredevops/deploy-platform-bootstrap-env.yaml
  infra/bootstrap/env/scripts/ado/Initialize-ServiceEndpoint.ps1
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml

update
  infra/bootstrap/env/config/service-connections/federation-svc-connection.json
  infra/bootstrap/env/scripts/ado/Initialize-ServiceEndpoint.ps1
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml

update
  infra/bootstrap/env/config/app-registrations/tier2-app-registration.json
  infra/bootstrap/env/config/service-connections/federation-svc-connection.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml

update
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

update
  infra/bootstrap/env/config/app-registrations/tier2-app-registration.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml

secrets officer for ssv connection
  infra/core/env/key-vault/application-keyvault-params/key-vault.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

removed comma
  infra/core/env/key-vault/application-keyvault-params/key-vault.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

false
  .azuredevops/deploy-platform-core-env.yaml
Due: none

use platform env
  .azuredevops/deploy-platform-core-env.yaml
Due: none

419464: ssv service connection keyvault secrets officer role (#227)
  infra/core/env/key-vault/application-keyvault-params/key-vault.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  infra/bootstrap/env/config/app-registrations/tier2-app-registration.json
  infra/bootstrap/env/config/service-connections/federation-svc-connection.json
  infra/bootstrap/env/config/service-connections/tier2-service-connection.json
  infra/bootstrap/env/scripts/ado/Initialize-ServiceEndpoint.ps1
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml
