Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

Add reader role to dbAadAdmin MI
  infra/core/env/postgre-sql/flexible-server.bicep
Due: .azuredevops/deploy-platform-core.yaml

updates
  infra/core/env/postgre-sql/flexible-server.json
Due: .azuredevops/deploy-platform-core.yaml

update role assignment for db aad admin MI
  infra/core/env/postgre-sql/flexible-server.bicep
Due: .azuredevops/deploy-platform-core.yaml

update role assignment for db aad admin MI
  infra/core/env/postgre-sql/flexible-server.json
Due: .azuredevops/deploy-platform-core.yaml

Revert back to main branch
  flux-templates/README.md
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Changed ref back to main
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Removed commented condition
  flux-templates/.azuredevops/onboard-new-service.yaml
Due: none

259885: Service onboarding - Add Flux Manifests to adp-flux-service Repository Automation (#104)
  flux-templates/.azuredevops/onboard-new-service.yaml
  flux-templates/README.md
  flux-templates/manifest/full-onboarding-manifest.json
  flux-templates/manifest/min-onboarding-manifest.json
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/templates/programme/team/base/helm-repository.yaml
  flux-templates/templates/programme/team/base/kustomization.yaml
  flux-templates/templates/programme/team/base/patch/kustomization.yaml
  flux-templates/templates/programme/team/base/patch/kustomize.yaml
  flux-templates/templates/programme/team/environment/kustomization.yaml
  flux-templates/templates/programme/team/service/deploy-kustomize.yaml
  flux-templates/templates/programme/team/service/deploy/base/helm-release.yaml
  flux-templates/templates/programme/team/service/deploy/base/kustomization.yaml
  flux-templates/templates/programme/team/service/deploy/environment/kustomization.yaml
  flux-templates/templates/programme/team/service/deploy/environment/patch-frontend.yaml
  flux-templates/templates/programme/team/service/deploy/environment/patch.yaml
  flux-templates/templates/programme/team/service/infra-kustomize.yaml
  flux-templates/templates/programme/team/service/infra/base/aso-helm-release.yaml
  flux-templates/templates/programme/team/service/infra/base/image-repository.yaml
  flux-templates/templates/programme/team/service/infra/base/kustomization.yaml
  flux-templates/templates/programme/team/service/infra/environment/image-policy.yaml
  flux-templates/templates/programme/team/service/infra/environment/kustomization.yaml
  flux-templates/templates/programme/team/service/infra/environment/patch-backend.yaml
  flux-templates/templates/programme/team/service/infra/environment/patch.yaml
  flux-templates/templates/programme/team/service/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/base/image-repository-dbmigration.yaml
  flux-templates/templates/programme/team/service/pre-deploy/base/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/base/migration.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/environment/image-policy.yaml
  flux-templates/templates/programme/team/service/pre-deploy/environment/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/environment/patch.yaml
Due: none

263292 : Backstage Portal Infra (#87)
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-core-env-shared.yaml
  .azuredevops/deploy-platform-core-portal.yaml
  infra/bootstrap/env-shared/log-analytics-workspace/log-analytics-workspace.bicepparam
  infra/core/env-shared/network/network-security-group.bicep
  infra/core/env-shared/network/network-security-group.bicepparam
  infra/core/env-shared/network/route-table.bicep
  infra/core/env-shared/network/route-table.bicepparam
  infra/core/env-shared/network/virtual-network.bicep
  infra/core/env-shared/network/virtual-network.parameters.json
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
  infra/core/env-shared/portal/flexible-server-zone/flexible-server-zone.bicep
  infra/core/env-shared/portal/flexible-server-zone/flexible-server-zone.bicepparam
  infra/core/env-shared/portal/flexible-server/flexible-server.bicep
  infra/core/env-shared/portal/flexible-server/flexible-server.bicepparam
  infra/core/env-shared/portal/key-vault/key-vault.bicep
  infra/core/env-shared/portal/key-vault/key-vault.bicepparam
  infra/core/env-shared/portal/managed-identity/.bicep/acr-pull.bicep
  infra/core/env-shared/portal/managed-identity/.bicep/kv-secrets-user.bicep
  infra/core/env-shared/portal/managed-identity/managed-identity.bicep
  infra/core/env-shared/portal/managed-identity/managed-identity.bicepparam
  infra/core/env-shared/portal/storage-account/storage-account.bicep
  infra/core/env-shared/portal/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

Changed db aad admin MI rbac to reader role
  infra/core/env/postgre-sql/flexible-server.bicep
Due: .azuredevops/deploy-platform-core.yaml

Correct instance token in image policy template
  flux-templates/templates/programme/team/service/pre-deploy/environment/image-policy.yaml
Due: none

flexible-server convert json to bicepparams
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/postgre-sql/flexible-server.bicepparam
  infra/core/env/postgre-sql/flexible-server.json
  infra/core/env/postgre-sql/flexible-server.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Correct instance token in image policy template (#106)
  flux-templates/templates/programme/team/service/pre-deploy/environment/image-policy.yaml
Due: none

fix
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

267988: Added tier 2 MI for Postgres server Admin (#105)
  .azuredevops/deploy-platform-core-env.yaml
  bicepconfig.json
  infra/core/env/app-configuration/config-data/config-data.json
  infra/core/env/managed-cluster/aks-cluster.bicep
  infra/core/env/managed-identity/managed-identity.bicep
  infra/core/env/managed-identity/managed-identity.parameters.json
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/postgre-sql/flexible-server.bicepparam
  infra/core/env/postgre-sql/flexible-server.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Added template required for dbmigration
  flux-templates/README.md
  flux-templates/manifest/full-onboarding-manifest.json
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/templates/programme/team/base/patch/kustomize.yaml
  flux-templates/templates/programme/team/service/deploy/environment/patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/base/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/base/post-migration-script.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/base/pre-migration-script.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/environment/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/environment/migration-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/environment/post-migration-script-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/environment/pre-migration-script-patch.yaml
Due: none

267988: Database Permission Management and Migration for PostgresDB Flux Manifests Automation (#107)
  flux-templates/README.md
  flux-templates/manifest/full-onboarding-manifest.json
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/templates/programme/team/base/patch/kustomize.yaml
  flux-templates/templates/programme/team/service/deploy/environment/patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/base/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/base/post-migration-script.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/base/pre-migration-script.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/environment/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/environment/migration-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/environment/post-migration-script-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/environment/pre-migration-script-patch.yaml
Due: none

Add dbmigration ordering to Flux Automation
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/templates/programme/team/service/pre-deploy/base/image-repository-dbmigration.yaml
  flux-templates/templates/programme/team/service/pre-deploy/base/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/environment/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/base/image-repository-dbmigration.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/base/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/base/migration.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/environment/image-policy.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/environment/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/environment/migration-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/base/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/base/post-migration-script.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/environment/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/environment/post-migration-script-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/base/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/base/pre-migration-script.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/environment/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/environment/pre-migration-script-patch.yaml
Due: none

Add environment and env token
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/environment/post-migration-script-patch.yaml
Due: none

290884: Add dbmigration ordering to Flux Automation (#108)
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/templates/programme/team/service/pre-deploy/base/image-repository-dbmigration.yaml
  flux-templates/templates/programme/team/service/pre-deploy/base/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/environment/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/base/image-repository-dbmigration.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/base/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/base/migration.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/environment/image-policy.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/environment/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/environment/migration-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/base/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/base/post-migration-script.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/environment/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/environment/post-migration-script-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/base/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/base/pre-migration-script.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/environment/kustomization.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/environment/pre-migration-script-patch.yaml
Due: none

Add files and folders for ps-executor image automation
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/templates/environments/environment/kustomization.yaml
  flux-templates/templates/environments/environment/ps-exec-image-policy.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/environment/post-migration-script-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/environment/pre-migration-script-patch.yaml
Due: none

Add files and folders for ps-executor image automation (#109)
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/templates/environments/environment/kustomization.yaml
  flux-templates/templates/environments/environment/ps-exec-image-policy.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/environment/post-migration-script-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/environment/pre-migration-script-patch.yaml
Due: none

Remove CPU and Memory from flux automation templates
  flux-templates/templates/programme/team/service/deploy/environment/patch-frontend.yaml
  flux-templates/templates/programme/team/service/deploy/environment/patch.yaml
Due: none

Add PRE and PRD stages to pipelines
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

Add application keyvault name to App config
  flux-templates/templates/programme/team/service/infra/environment/patch-backend.yaml
  flux-templates/templates/programme/team/service/infra/environment/patch.yaml
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

branch update
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

point to main branch
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

Add PRE and PRD stages to pipelines (#110)
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

249199: SSV5 Deployment fix (#112)
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

286235: Remove cpu and memory settings from flux patches and add KeyVault to appconfig (#111)
  flux-templates/templates/programme/team/service/deploy/environment/patch-frontend.yaml
  flux-templates/templates/programme/team/service/deploy/environment/patch.yaml
  flux-templates/templates/programme/team/service/infra/environment/patch-backend.yaml
  flux-templates/templates/programme/team/service/infra/environment/patch.yaml
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Comment out PRD stages until we have PRD vars ready
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

Comment out PRD stages until we have PRD vars ready (#113)
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

VNet lock removed and shared secrets fix
  infra/core/env-shared/network/virtual-network.bicep
  infra/core/env-shared/portal/container-apps-env/.bicep/set-secret.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
  infra/core/env-shared/portal/flexible-server/flexible-server.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

removed lock
  infra/core/env-shared/network/virtual-network.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

Comment out pre stage
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

Comment out pre stage (#115)
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

249199 : Deploymentfix (#114)
  infra/core/env-shared/network/virtual-network.bicep
  infra/core/env-shared/portal/container-apps-env/.bicep/set-secret.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
  infra/core/env-shared/portal/flexible-server/flexible-server.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

Add pre stage to build agent pipeline
  .azuredevops/deploy-platform-build-agent.yaml
Due: none
