Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-fluxnotification.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-fluxnotificationapi.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

draft pr false
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

Restructure bootstrap env-shared files
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  infra/bootstrap/env-shared/event-hub/event-hub.bicep
  infra/bootstrap/env-shared/event-hub/subenv1-params/event-hub.bicepparam
  infra/bootstrap/env-shared/event-hub/subenv2-params/event-hub.bicepparam
  infra/bootstrap/env-shared/key-vault/platform-apps-key-vault.bicep
  infra/bootstrap/env-shared/key-vault/subenv1-params/platform-apps-key-vault.bicepparam
  infra/bootstrap/env-shared/key-vault/subenv2-params/platform-apps-key-vault.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Used new aadPlatformEngineersUserGroupObjectId variable
  infra/bootstrap/env-shared/key-vault/platform-key-vault.parameters.json
  infra/bootstrap/env-shared/key-vault/subenv1-params/platform-apps-key-vault.bicepparam
  infra/bootstrap/env-shared/key-vault/subenv2-params/platform-apps-key-vault.bicepparam
  infra/core/env-shared/portal/key-vault/key-vault.bicep
  infra/core/env-shared/portal/key-vault/key-vault.bicepparam
  infra/core/env/app-configuration/configuration-store.bicepparam
  infra/core/env/key-vault/application-keyvault-params/key-vault.bicepparam
  infra/core/env/key-vault/platform-keyvault-params/key-vault.bicepparam
  infra/core/env/managed-cluster/aks-cluster.bicepparam
  infra/core/env/observability/grafana.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Updates
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
Due: none

Update.
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

Moved network folder to bootstrap env-shared
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  infra/bootstrap/env-shared/network/network-security-group.bicep
  infra/bootstrap/env-shared/network/network-security-group.bicepparam
  infra/bootstrap/env-shared/network/route-table.bicep
  infra/bootstrap/env-shared/network/route-table.bicepparam
  infra/bootstrap/env-shared/network/virtual-network.bicep
  infra/bootstrap/env-shared/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Portal variables updated
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Updates
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

Platform env-shared pipeline refactor
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/bootstrap/env-shared/flexible-server-zone/flexible-server-zone.bicep
  infra/bootstrap/env-shared/flexible-server-zone/flexible-server-zone.bicepparam
  infra/core/env-shared/adp-portal-api/managed-identity/managed-identity.bicep
  infra/core/env-shared/adp-portal-api/managed-identity/managed-identity.bicepparam
  infra/core/env-shared/adp-portal/app-registrations/portal-app-registration.json
  infra/core/env-shared/adp-portal/managed-identity/managed-identity.bicep
  infra/core/env-shared/adp-portal/managed-identity/managed-identity.bicepparam
  infra/core/env-shared/adp-portal/storage-account/storage-account.bicep
  infra/core/env-shared/adp-portal/storage-account/storage-account.bicepparam
  infra/core/env-shared/container-apps-env/.bicep/set-secret.bicep
  infra/core/env-shared/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/container-apps-env/container-apps-env.bicepparam
  infra/core/env-shared/containerapp-dns-zone/containerapp-dns-zone.bicep
  infra/core/env-shared/containerapp-dns-zone/containerapp-dns-zone.bicepparam
  infra/core/env-shared/flexible-server/flexible-server.bicep
  infra/core/env-shared/flexible-server/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Fix tags path in Flexible server bicep
  infra/core/env-shared/flexible-server/flexible-server.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

debug
  infra/core/env-shared/adp-portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Updates
  infra/core/env-shared/adp-portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Flux notification pipeline merged into core ev-shared
  .azuredevops/deploy-platform-core-env-shared.yaml
  .azuredevops/deploy-platform-core-fluxnotification.yaml
  infra/core/env-shared/flux-notification/managed-identity/adocallbackapp-managed-identity.bicep
  infra/core/env-shared/flux-notification/managed-identity/adocallbackapp-managed-identity.bicepparam
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicep
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicepparam
  infra/core/env-shared/flux-notification/storage-account/storage-account.bicep
  infra/core/env-shared/flux-notification/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Updates
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/bootstrap/env-shared/flexible-server-zone/flexible-server-zone.bicep
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml

SEC Pipeline Use feature branch
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

249199: Deploy Backstage Infrastructure using CI/CD Pipelines (SSV5) (#154)
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-build-agent.yaml
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

Update SSV subnets
  infra/bootstrap/env-shared/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Updated subnet names
  infra/bootstrap/env-shared/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Update namespace subnet and private endpoint
  infra/bootstrap/env-shared/event-hub/namespace.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Update subnet prefix for postgres
  infra/bootstrap/env-shared/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Updates
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

Reset branch to main
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-core-env-shared.yaml
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

Updates
  .azuredevops/deploy-platform-core-env.yaml
Due: none

UPdates
  infra/core/env/observability/grafana.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Updates
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-core-env.yaml
  infra/bootstrap/env-shared/event-hub/namespace.bicepparam
  infra/bootstrap/env-shared/event-hub/subenv1-params/event-hub.bicepparam
  infra/bootstrap/env-shared/event-hub/subenv2-params/event-hub.bicepparam
  infra/core/env/app-configuration/config-data/config-data.json
  infra/core/env/event-hub/event-hub-secret-rbac.bicepparam
  infra/core/env/managed-cluster/aks-cluster.bicepparam
  infra/core/env/observability/grafana.parameters.json
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Comment out PRD stage
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

Comment out PRD stage (#161)
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

policy def deploy to subscription
  .azuredevops/deploy-platform-bootstrap-env.yaml
  infra/common/policy/.bicep/policy-definition.bicep
  infra/common/policy/policy-definition-deploy.bicep
  infra/common/policy/policy-definition-deploy.parameters.json
  infra/common/policy/policy-diagnostic-settings-assignment.bicep
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Log Analytics ws for sec
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-sec-env.yaml
  infra/common/operational-insights/log-analytics-workspace.bicepparam
  infra/common/operational-insights/log-analytics-workspace.parameters.json
  infra/sec/operational-insights/log-analytics-workspace.bicepparam
  infra/sec/policy/.bicep/policy-assignment.bicep
  infra/sec/policy/.bicep/policy-definition.bicep
  infra/sec/policy/policy-definition-deploy.bicep
  infra/sec/policy/policy-definition-deploy.parameters.json
  infra/sec/policy/policy-diagnostic-settings-assignment.bicep
  infra/sec/policy/policy-diagnostic-settings-assignment.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-sec-env.yaml

rv/353153
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

law bicep
  infra/sec/operational-insights/log-analytics-workspace.bicep
Due: .azuredevops/deploy-platform-sec-env.yaml

updated path
  infra/sec/operational-insights/log-analytics-workspace.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

secLogAnalyticsWorkspace
  infra/sec/operational-insights/log-analytics-workspace.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml
