Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

.azuredevops/deploy-platform-bootstrap-env-shared.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
  ...

.azuredevops/deploy-platform-bootstrap-env.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-bootstrap-serviceconnections.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-CDO-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-bootstrap-tenant.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      variableFiles:
      - /pipelines/vars/common.yaml@_self
  ...

.azuredevops/deploy-platform-bootstrap.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-build-agent.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SND1-VMSS
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-core-env-shared.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core-env-tenant.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      variableFiles:
      - /pipelines/vars/common.yaml@_self
  ...

add backend
  infra/sec/application-gateway/application-gateway.bicep
  infra/sec/application-gateway/application-gateway.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

one last try
  infra/sec/application-gateway/application-gateway.bicep
Due: .azuredevops/deploy-platform-sec-env.yaml

Remove commented out variables
  infra/bootstrap/env-shared/event-hub/namespace.bicep
  infra/bootstrap/env-shared/event-hub/namespace.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Added Sec NSG bicep
  .azuredevops/deploy-platform-sec-env.yaml
  infra/sec/network/network-security-group.bicep
  infra/sec/network/network-security-group.bicepparam
  infra/sec/network/subnets.bicep
  infra/sec/network/subnets.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

nsg bicep param file fix
  infra/sec/network/network-security-group.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

remove comma from bicepparam
  infra/sec/network/network-security-group.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

bicep param typo fix
  infra/sec/network/network-security-group.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

protocol: 'Tcp'
  infra/sec/network/network-security-group.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

revert resource branch
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

removed DenyAllOtherOutbound
  infra/sec/network/network-security-group.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

remove DenyAnyOtherInbound
  infra/sec/network/network-security-group.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

added diagnostic setting and commented managerule
  infra/sec/application-gateway/.bicep/application-gateway-waf-custom.bicep
  infra/sec/application-gateway/application-gateway.bicep
  infra/sec/application-gateway/application-gateway.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

commented managedRuleSets
  infra/sec/application-gateway/.bicep/application-gateway-waf-custom.bicep
  infra/sec/application-gateway/application-gateway.bicep
  infra/sec/application-gateway/application-gateway.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

added back managedRuleSets
  infra/sec/application-gateway/.bicep/application-gateway-waf-custom.bicep
  infra/sec/application-gateway/application-gateway.bicep
  infra/sec/application-gateway/application-gateway.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

use address as secret key for eventhub secret as per flux docs
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

removed dev env to true for tst
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

commented diagnosticSettings
  infra/sec/application-gateway/application-gateway.bicep
  infra/sec/application-gateway/application-gateway.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

ref updated to gg/304334-Sec-AppGW-Variables2
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

added all managedRuleSets with disable state
  .azuredevops/deploy-platform-sec-env.yaml
  infra/sec/application-gateway/application-gateway.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

ref gg/304334-Sec-AppGW-Variables2
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

final : commeted prod stage
  .azuredevops/deploy-platform-sec-env.yaml
  infra/sec/application-gateway/application-gateway.bicep
  infra/sec/application-gateway/application-gateway.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

Remove website folder
  infra/core/env/web/site.bicep
  infra/core/env/web/site.bicepparam
  infra/core/env/web/storage/storage.bicep
  infra/core/env/web/storage/storage.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Rename params and vars
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-env-shared.yaml
  infra/core/env/event-hub/event-hub-secret-rbac.bicep
  infra/core/env/event-hub/event-hub-secret-rbac.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Remove eventhub namespace creation from platform core
  .azuredevops/deploy-platform-core-env.yaml
Due: none

switch branch back to main for ssv_tst
  .azuredevops/deploy-platform-env-shared.yaml
Due: none

corrected keyvault name for app reg
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

privateAgentName: 'DEFRA-ADP-SND3-ubuntu2204' updated for snd3 envirnment
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

Pull request environment updated to snd3
  .azuredevops/deploy-platform-sec-env.yaml
  infra/sec/scripts/Get-ContainerAppIngressFqdn.ps1
Due: .azuredevops/deploy-platform-sec-env.yaml

test : moved waf and pulicip modules to main bicep module
  .azuredevops/deploy-platform-sec-env.yaml
  infra/sec/application-gateway/.bicep/application-gateway-waf-custom.bicep
  infra/sec/application-gateway/.bicep/public-ip-address.bicep
  infra/sec/application-gateway/application-gateway.bicep
  infra/sec/application-gateway/application-gateway.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

added dependsOn
  infra/sec/application-gateway/application-gateway.bicep
Due: .azuredevops/deploy-platform-sec-env.yaml

update keyvault and rg name for ssv infra
  .azuredevops/deploy-platform-core-portal.yaml
  infra/core/env-shared/portal-api/managed-identity/managed-identity.bicepparam
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
  infra/core/env-shared/portal/containerapp-dns-zone/containerapp-dns-zone.bicepparam
  infra/core/env-shared/portal/flexible-server/flexible-server.bicepparam
  infra/core/env-shared/portal/key-vault/key-vault.bicepparam
  infra/core/env-shared/portal/managed-identity/managed-identity.bicepparam
  infra/core/env-shared/portal/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

developmentEnvironment: true
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

moved waf and pulicip modules to main bicep module
  .azuredevops/deploy-platform-sec-env.yaml
  infra/sec/application-gateway/application-gateway.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

removed commented lines
  infra/sec/application-gateway/application-gateway.bicep
Due: .azuredevops/deploy-platform-sec-env.yaml

fix typo
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

deploy branch * for test
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

test signed commit
  README.md
Due: none

signed commit test 2
  README.md
Due: none

304334: Sec Application gateway and Subnet Automation (#148)
  .azuredevops/deploy-platform-sec-env.yaml
  infra/sec/application-gateway/application-gateway.bicep
  infra/sec/application-gateway/application-gateway.bicepparam
  infra/sec/network/network-security-group.bicep
  infra/sec/network/network-security-group.bicepparam
  infra/sec/network/subnets.bicep
  infra/sec/network/subnets.bicepparam
  infra/sec/scripts/Get-AzureFrontDoorId.ps1
  infra/sec/scripts/Get-ContainerAppIngressFqdn.ps1
Due: .azuredevops/deploy-platform-sec-env.yaml

point to main branch
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor
