Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-fluxnotification.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-fluxnotificationapi.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-iam.yaml: any of: infra/core/iam
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/env/kms-key-rotation
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

Update Flux config settings
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Custom Service bus role create
  infra/core/tenant/role-definition/servicebus-data-sendreceive-role.bicep
  infra/core/tenant/role-definition/servicebus-data-sendreceive-role.parameters.json
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Update Flux config settings (#221)
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

role deploy in defradev tenant
  .azuredevops/deploy-platform-core-tenant.yaml
Due: none

fix
  infra/core/tenant/role-definition/servicebus-data-sendreceive-role.parameters.json
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

ref
  .azuredevops/deploy-platform-core-tenant.yaml
Due: none

409694: Custom Role for Service Bus Data Send and Receive action (#222)
  .azuredevops/deploy-platform-core-tenant.yaml
  infra/core/tenant/role-definition/servicebus-data-sendreceive-role.bicep
  infra/core/tenant/role-definition/servicebus-data-sendreceive-role.parameters.json
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Resources Reader and DataReadWrite
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

open ai reader and contributor permissiones
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/open-ai/open-ai.bicep
  infra/core/env/open-ai/open-ai.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

condition
  infra/core/env/open-ai/open-ai.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

empty string
  infra/core/env/open-ai/open-ai.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

rollback
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/open-ai/open-ai.bicep
  infra/core/env/open-ai/open-ai.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

open AI Access
  .azuredevops/deploy-platform-core-iam.yaml
  infra/core/iam/subscription/open-ai-access/open-ai-access.bicep
  infra/core/iam/subscription/open-ai-access/open-ai-access.bicepparam
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

condition
  infra/core/iam/subscription/open-ai-access/open-ai-access.bicepparam
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

updated role id
  infra/core/iam/subscription/open-ai-access/open-ai-access.bicep
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

point to main branch
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

AAG-Azure-ADP-ServiceBusDataSendReceive group
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  .azuredevops/deploy-platform-core-iam.yaml
  infra/bootstrap/tenant/config/aad-groups/TeamAccessGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/TeamAccessGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Service bus role and access group
  .azuredevops/deploy-platform-core-tenant.yaml
  infra/bootstrap/tenant/config/aad-groups/TeamAccessGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/TeamAccessGroups.defradev.json
  infra/core/tenant/role-definition/servicebus-data-receive-role.bicep
  infra/core/tenant/role-definition/servicebus-data-receive-role.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

ref updated
  .azuredevops/deploy-platform-core-tenant.yaml
Due: none

ref updated to latest tag
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  .azuredevops/deploy-platform-core-iam.yaml
  .azuredevops/deploy-platform-core-tenant.yaml
Due: none

409694: Service Bus Access groups for Teams (#224)
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  .azuredevops/deploy-platform-core-tenant.yaml
  infra/bootstrap/tenant/config/aad-groups/TeamAccessGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/TeamAccessGroups.defradev.json
  infra/core/tenant/role-definition/servicebus-data-receive-role.bicep
  infra/core/tenant/role-definition/servicebus-data-receive-role.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

merged portal user group creation to platform
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
  infra/bootstrap/tenant/config/aad-groups/portalAADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/portalAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

merged portal user group creation to platform (#225)
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
  infra/bootstrap/tenant/config/aad-groups/portalAADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/portalAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Generic Data Reader Writer Group
  infra/bootstrap/tenant/config/aad-groups/TeamAccessGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/TeamAccessGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Generic Data Reader Writer Group (#226)
  infra/bootstrap/tenant/config/aad-groups/TeamAccessGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/TeamAccessGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

data access group
  .azuredevops/deploy-platform-core-iam.yaml
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
  infra/core/iam/subscription/open-ai-access/open-ai-access.bicep
  infra/core/iam/subscription/open-ai-access/open-ai-access.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

Team Resource Access Role
  .azuredevops/deploy-platform-core-iam.yaml
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
  infra/core/iam/subscription/team-access/team-access.bicep
  infra/core/iam/subscription/team-access/team-access.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

check if empty
  infra/core/iam/subscription/team-access/team-access.bicep
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

point to latest branch
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

406831: Open AI and Service Bus Access Roles (#223)
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-core-iam.yaml
  infra/core/iam/subscription/team-access/team-access.bicep
  infra/core/iam/subscription/team-access/team-access.bicepparam
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

federated service connection
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

update
  infra/bootstrap/env/scripts/ado/Initialize-ServiceEndpoint.ps1
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml

update
  .azuredevops/deploy-platform-bootstrap-env.yaml
  infra/bootstrap/env/config/service-connections/federation-svc-connection.json
  infra/bootstrap/env/scripts/ado/Initialize-ServiceEndpoint.ps1
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml
