Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-fluxnotification.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-fluxnotificationapi.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-iam.yaml: any of: infra/core/iam
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

372068: Automate Role Assignment (#171)
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicep
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

update
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/app-configuration/config-data/config-data.json
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

364244: Remove Private Endpoints in SND3 Storage Accounts in DEFRA Dev Tenant (#172)
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

monitoring insigts resource
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  infra/common/monitoring-insights/monitoring-insights.bicep
  infra/common/monitoring-insights/monitoring-insights.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Update aks-cluster.bicepparam
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Update aks-cluster.bicepparam (#174)
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

monitoring insigts resource (#173)
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  infra/common/monitoring-insights/monitoring-insights.bicep
  infra/common/monitoring-insights/monitoring-insights.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Change cluster to use sandpit org for flux on SND1 & SND2.
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Update.
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Initial bootstrap code for SND4
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

Add main branch for SND4
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

Change branch to main
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

Update dependsOn to SND3
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

Look at structure of pipeline
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Update dependencies for environment stages
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

Remove feature branch
  .azuredevops/deploy-platform-core-env.yaml
Due: none

328599: Add SND4 into Bootstrap pipeline (#175)
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

app insights
  infra/bootstrap/env-shared/key-vault/.bicep/storesecret.bicep
  infra/bootstrap/env-shared/key-vault/platform-apps-key-vault.bicep
  infra/bootstrap/env-shared/key-vault/subenv1-params/platform-apps-key-vault.bicepparam
  infra/core/env-shared/.bicep/appinsights-role-publisher.bicep
  infra/core/env-shared/adp-portal-api/managed-identity/managed-identity.bicep
  infra/core/env-shared/adp-portal-api/managed-identity/managed-identity.bicepparam
  infra/core/env-shared/adp-portal/managed-identity/managed-identity.bicep
  infra/core/env-shared/adp-portal/managed-identity/managed-identity.bicepparam
  infra/core/env-shared/flux-notification/managed-identity/adocallbackapp-managed-identity.bicep
  infra/core/env-shared/flux-notification/managed-identity/adocallbackapp-managed-identity.bicepparam
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicep
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

app insights for 2nd keyvault
  infra/bootstrap/env-shared/key-vault/subenv2-params/platform-apps-key-vault.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Point to feature branch
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Update serviceConnection name
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

Fix SND4 service connection name
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

Fix SND4 service connection name (#176)
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

Ignore local parameters file.
  .gitignore
Due: none

access group
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/insights/component.bicep
  infra/core/env/insights/component.bicepparam
  infra/core/env/insights/component.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

get app insight connectionstring
  .azuredevops/deploy-platform-core-env.yaml
Due: none

az powershell
  .azuredevops/deploy-platform-core-env.yaml
Due: none

minor update to key
  .azuredevops/deploy-platform-core-env.yaml
Due: none

secret for MI
  infra/core/env-shared/flux-notification/managed-identity/adocallbackapp-managed-identity.bicepparam
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

point to main branch
  .azuredevops/deploy-platform-core-env.yaml
Due: none

371158: App Insight for Container Apps (#177)
  infra/bootstrap/env-shared/key-vault/.bicep/storesecret.bicep
  infra/bootstrap/env-shared/key-vault/platform-apps-key-vault.bicep
  infra/bootstrap/env-shared/key-vault/subenv1-params/platform-apps-key-vault.bicepparam
  infra/bootstrap/env-shared/key-vault/subenv2-params/platform-apps-key-vault.bicepparam
  infra/core/env-shared/.bicep/appinsights-role-publisher.bicep
  infra/core/env-shared/adp-portal-api/managed-identity/managed-identity.bicep
  infra/core/env-shared/adp-portal-api/managed-identity/managed-identity.bicepparam
  infra/core/env-shared/adp-portal/managed-identity/managed-identity.bicep
  infra/core/env-shared/adp-portal/managed-identity/managed-identity.bicepparam
  infra/core/env-shared/flux-notification/managed-identity/adocallbackapp-managed-identity.bicep
  infra/core/env-shared/flux-notification/managed-identity/adocallbackapp-managed-identity.bicepparam
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicep
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

381890: App Insight for service in AKS (#178)
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/insights/component.bicep
  infra/core/env/insights/component.bicepparam
  infra/core/env/insights/component.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Enable CSI driver for Disk and File.
  .gitignore
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Set GitHub org using variable
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Enable CSI driver for Disk and File. (#179)
  .gitignore
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Updates module in registry to support minimumTlsVersion to 1.2 in bicep
  infra/core/env/service-bus/namespace.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Grant read access to Platform team
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_PRE.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Updates module in registry to support minimumTlsVersion to 1.2 in bicep (#180)
  infra/core/env/service-bus/namespace.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml
