Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-fluxnotification.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-fluxnotificationapi.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-iam.yaml: any of: infra/core/iam
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/env/kms-key-rotation
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

Fix second keyvault name
  .azuredevops/deploy-platform-core-env.yaml
Due: none

point to latest tag branch
  .azuredevops/deploy-platform-core-env.yaml
Due: none

updated trigger
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Updates for sending flux notification to 2 eventhubs
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/event-hub/event-hub-secret-rbac-local.bicepparam
  infra/core/env/managed-cluster/aks-cluster.bicepparam
  infra/core/env/scripts/Set-SecondaryEventHubConfig.ps1
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Enable cluster deployment
  .azuredevops/deploy-platform-core-env.yaml
Due: none

disableLocalAuth
  infra/core/env/open-ai/open-ai.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

test branch
  .azuredevops/deploy-platform-core-env.yaml
Due: none

update
  infra/core/env/front-door/adp-portal/front-door-waf.parameters.json
  infra/core/env/front-door/baseline/front-door-waf.parameters.json
  infra/core/env/front-door/front-door-waf.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

ref latest branch
  .azuredevops/deploy-platform-core-env.yaml
Due: none

update
  infra/core/env/front-door/baseline/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

point to main branch
  .azuredevops/deploy-platform-core-env.yaml
Due: none

disable local auth for app insight
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-core-env.yaml
  infra/common/monitoring-insights/monitoring-insights.bicep
  infra/common/monitoring-insights/monitoring-insights.bicepparam
  infra/core/env/insights/component.bicep
  infra/core/env/insights/component.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

type bool
  infra/common/monitoring-insights/monitoring-insights.bicepparam
  infra/core/env/insights/component.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

updated role def id
  infra/core/env/insights/component.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/front-door/baseline/internal/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

point to main branch
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Set GitHub org using variable (#181)
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  infra/core/env/front-door/baseline/internal/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

revert branch to main
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Remove local bicep file
  infra/core/env/event-hub/event-hub-secret-rbac-local.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Remove testing values
  infra/core/env/event-hub/event-hub-secret-rbac.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Update write-host description
  infra/core/env/scripts/Set-SecondaryEventHubConfig.ps1
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

384866: disablelocalauth (#200)
  .azuredevops/deploy-platform-core-env.yaml
  infra/common/monitoring-insights/monitoring-insights.bicep
  infra/common/monitoring-insights/monitoring-insights.bicepparam
  infra/core/env/insights/component.bicep
  infra/core/env/insights/component.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

update
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/front-door/adp-portal/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  .azuredevops/deploy-platform-core-env.yaml
Due: none

removed non available group from members (#192)
  infra/core/iam/subscription/aad-groups/clusteraccessgroup.json
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

Refactored name
  infra/core/env/event-hub/.bicep/keyvault-secret-rbac.bicep
  infra/core/env/event-hub/event-hub-secret-rbac.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Anotehr test against feature branch
  .azuredevops/deploy-platform-core-env.yaml
Due: none

priority updated
  infra/core/env/front-door/adp-portal/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

reset branch to main
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Convert sendFluxNotificationsToSecondEventHub to a boolean
  infra/core/env/event-hub/event-hub-secret-rbac.bicep
  infra/core/env/event-hub/event-hub-secret-rbac.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Revert changes
  infra/core/env/event-hub/event-hub-secret-rbac.bicep
  infra/core/env/event-hub/event-hub-secret-rbac.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Change ref from main to refs/tags/1.0.0-latest
  .azuredevops/deploy-platform-core-env.yaml
Due: none

variable updated
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/front-door/baseline/internal/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Add PowerShell Executer version in Platform Variables
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

branch updated
  .azuredevops/deploy-platform-core-env.yaml
Due: none

354658: Send notifications to second event hub for SND1 and SND4 (#201)
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/event-hub/.bicep/keyvault-secret-rbac.bicep
  infra/core/env/event-hub/event-hub-secret-rbac.bicep
  infra/core/env/event-hub/event-hub-secret-rbac.bicepparam
  infra/core/env/scripts/Set-SecondaryEventHubConfig.ps1
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

393370:Request from DAL: Whitelisting of Logic Apps (#202)
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/front-door/adp-portal/front-door-waf.parameters.json
  infra/core/env/front-door/baseline/internal/front-door-waf.parameters.json
  infra/core/env/front-door/front-door-waf.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml
