Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core.yaml

.azuredevops/deploy-platform-bootstrap-serviceconnections.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-CDO-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-build-agent.yaml:
  extends:
    template: /pipelines/common-script-deploy.yaml@ADPPipelineCommon
    parameters:
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-CDO-SND1-VMSS
        deploymentBranches:
        - '*'
        developmentEnvironment: true
  ...

.azuredevops/deploy-platform-core.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd2
        serviceConnection: AZD-CDO-SND2
        deploymentBranches:
        - '*'
  ...

Add test pipeline.
  .azuredevops/test.yaml
Due: none

Deploy to SND1
  .azuredevops/deploy-platform-core.yaml
Due: none

Add main branch back in
  .azuredevops/deploy-platform-core.yaml
Due: none

Fix Grafan name
  infra/observability/grafana.bicep
Due: .azuredevops/deploy-platform-core.yaml

Add NSG for the Build Agent Subnet
  infra/network/subnet-nsg.parameters.json
  infra/vmss/build-agent.bicep
  infra/vmss/build-agent.parameters.json
Due: .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core.yaml

Update environment in core pipeline.
  .azuredevops/deploy-platform-core.yaml
Due: none

Update build agent subnet to link the NSG.
  infra/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Exclude local parameter file.
  .gitignore
Due: none

Reverted the unwanted changes.
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml
  .azuredevops/deploy-platform-core.yaml
Due: none

wip
  infra/managed-cluster/aks-cluster.bicep
  infra/managed-cluster/aks-cluster.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Comment out AKS to test Grafana
  .azuredevops/deploy-platform-core.yaml
Due: none

Fixed the vnet parameters.
  infra/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Uncomment AKS after testing
  .azuredevops/deploy-platform-core.yaml
Due: none

Fixed description for waf policy name
  infra/front-door/azure-waf.bicep
Due: .azuredevops/deploy-platform-core.yaml

Added customBlockResponseBody for WAF
  infra/front-door/azure-waf.bicep
Due: .azuredevops/deploy-platform-core.yaml

Fix for customBlockResponseBody to use base64 format
  infra/front-door/azure-waf.bicep
Due: .azuredevops/deploy-platform-core.yaml

218826: Setup Prometheus/Grafana stack using Azure managed services (#30)
  .azuredevops/deploy-platform-core.yaml
  infra/managed-cluster/aks-cluster.bicep
  infra/managed-cluster/aks-cluster.parameters.json
  infra/observability/grafana.bicep
  infra/observability/grafana.parameters.json
  scripts/Get-WorkspaceResourceIds.ps1
Due: .azuredevops/deploy-platform-core.yaml

Add logging commands to the build agent script.
  .azuredevops/deploy-platform-build-agent.yaml
  scripts/ADO-Build-Agent.ps1
  scripts/Create-AdoBuildAgent.ps1
Due: .azuredevops/deploy-platform-core.yaml

165055: Application Redis Cache deployment (#19)
  .azuredevops/deploy-platform-core.yaml
  infra/redis-cache/redis-cache.bicep
  infra/redis-cache/redis-cache.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Update NSG rules for build agent.
  .azuredevops/deploy-platform-build-agent.yaml
  infra/network/subnet-nsg.parameters.json
  scripts/Create-AdoBuildAgent.ps1
Due: .azuredevops/deploy-platform-core.yaml

Testing new agent pool.
  .azuredevops/deploy-platform-core.yaml
  .azuredevops/test.yaml
Due: none

215612: Deploy Front Door WAF Profile (#28)
  .azuredevops/deploy-platform-core.yaml
  infra/front-door/azure-waf.bicep
  infra/front-door/azure-waf.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Update the core template to use hosted agent.
  .azuredevops/deploy-platform-core.yaml
Due: none

Change reference repository to main.
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

Scripts to Build and Publish Nginx
  .azuredevops/deploy-platform-core.yaml
  .azuredevops/publish-platform-nginxplus.yaml
  scripts/nginxplus/Publish-NginxPlus-Acr.ps1
Due: .azuredevops/deploy-platform-core.yaml

nginxVersion as parameter
  .azuredevops/publish-platform-nginxplus.yaml
Due: none

Variables from feature branch
  .azuredevops/publish-platform-nginxplus.yaml
Due: none

Environment name changed to snd1
  .azuredevops/publish-platform-nginxplus.yaml
Due: none

Refactor scripts file
  .azuredevops/deploy-platform-core.yaml
  .azuredevops/publish-platform-nginxplus.yaml
  scripts/Publish-NginxPlus-Acr.ps1
Due: .azuredevops/deploy-platform-core.yaml

Scripts path update
  .azuredevops/publish-platform-nginxplus.yaml
Due: none

Script Type PSCore
  .azuredevops/publish-platform-nginxplus.yaml
Due: none

Added monitoring workspace to bicep file
  infra/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

SSV3 Environment setup
  .azuredevops/publish-platform-nginxplus.yaml
  scripts/Publish-NginxPlus-Acr.ps1
Due: .azuredevops/deploy-platform-core.yaml

Updated the parameter file
  infra/managed-cluster/aks-cluster.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Repo reference to main
  .azuredevops/publish-platform-nginxplus.yaml
Due: none

Add network deployment to bootstrap pipeline.
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml
  .azuredevops/deploy-platform-core.yaml
Due: none

Testing variable changes.
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml
  .azuredevops/deploy-platform-core.yaml
Due: none

Change the agent pool.
  .azuredevops/deploy-platform-core.yaml
Due: none

Use variable for service connection.
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml
Due: none

Revert the variable change.
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml
Due: none

Path conditions:
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/vmss
  .azuredevops/deploy-platform-core.yaml: any of: infra, scripts, but not: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1
