Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

Create environment specific eventhub in namespace
  .azuredevops/deploy-platform-env-shared.yaml
  infra/bootstrap/env-shared/event-hub/event-hub.bicep
  infra/bootstrap/env-shared/event-hub/event-hub.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Update branch name
  .azuredevops/deploy-platform-env-shared.yaml
Due: none

mapping fixed
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

Add auth rules to event hub
  infra/bootstrap/env-shared/event-hub/event-hub.bicep
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml

deploy subnet only with addressPrefix
  infra/sec/network/subnets.bicep
Due: .azuredevops/deploy-platform-sec-env.yaml

Re-organise bicep files
  .azuredevops/deploy-platform-env-shared.yaml
  infra/core/env/event-hub/event-hub-secret-rbac.bicep
  infra/core/env/event-hub/event-hub-secret-rbac.bicepparam
  infra/env-shared/event-hub/event-hub.bicep
  infra/env-shared/event-hub/event-hub.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml

Deploy to ssv tst
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-env-shared.yaml
Due: none

Create event hub secret and assign RBAC
  infra/core/env/app-configuration/config-data/config-data.json
  infra/core/env/event-hub/event-hub-secret-rbac.bicep
  infra/core/env/event-hub/event-hub-secret-rbac.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

deploy Application Gateway
  .azuredevops/deploy-platform-sec-env.yaml
  infra/core/env/scripts/Get-AzureFrontDoorId_DELETEIT.ps1
  infra/env-shared/scripts/Get-ContainerAppIngressFqdn_DELETEIT.ps1
  infra/sec/application-gateway/application-gateway.bicepparam
  infra/sec/scripts/Get-AzureFrontDoorId.ps1
  infra/sec/scripts/Get-ContainerAppIngressFqdn.ps1
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-sec-env.yaml

Remove function app deployment
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Move comment
  infra/core/env/event-hub/event-hub-secret-rbac.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

app gw firewall policy fix
  infra/sec/application-gateway/application-gateway.bicep
Due: .azuredevops/deploy-platform-sec-env.yaml

waf bicep fix
  infra/sec/application-gateway/.bicep/application-gateway-waf-custom.bicep
Due: .azuredevops/deploy-platform-sec-env.yaml

Test appConfigMiObjectId output from bicep
  .azuredevops/deploy-platform-core-env.yaml
Due: none

app gw bicep fix
  infra/sec/application-gateway/application-gateway.bicep
Due: .azuredevops/deploy-platform-sec-env.yaml

script issue fix
  infra/sec/scripts/Get-AzureFrontDoorId.ps1
  infra/sec/scripts/Get-ContainerAppIngressFqdn.ps1
Due: .azuredevops/deploy-platform-sec-env.yaml

Update cluster to point to feature/debug
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

removed unwnted files
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-env-shared.yaml
  infra/core/env/application-gateway/.bicep/application-gateway-waf-custom.bicep
  infra/core/env/application-gateway/.bicep/public-ip-address.bicep
  infra/core/env/application-gateway/application-gateway.bicep
  infra/core/env/application-gateway/application-gateway.bicepparam
  infra/core/env/scripts/Get-AzureFrontDoorId_DELETEIT.ps1
  infra/env-shared/scripts/Get-ContainerAppIngressFqdn_DELETEIT.ps1
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml

script fix
  infra/sec/scripts/Get-AzureFrontDoorId.ps1
  infra/sec/scripts/Get-ContainerAppIngressFqdn.ps1
Due: .azuredevops/deploy-platform-sec-env.yaml

added serviceConnectionVariableName: 'subscriptionName'
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-env-shared.yaml
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

use ssvServiceConnection
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

containerAppEnvPvtDnsZone
  .azuredevops/deploy-platform-core-portal.yaml
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
  infra/core/env-shared/portal/containerapp-dns-zone/containerapp-dns-zone.bicep
  infra/core/env-shared/portal/containerapp-dns-zone/containerapp-dns-zone.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

defaultforvalidation
  infra/core/env-shared/portal/containerapp-dns-zone/containerapp-dns-zone.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

app gw bicep resourceId function fix
  infra/sec/application-gateway/application-gateway.bicep
Due: .azuredevops/deploy-platform-sec-env.yaml

all resourceId function arguments fix
  infra/sec/application-gateway/application-gateway.bicep
Due: .azuredevops/deploy-platform-sec-env.yaml

read from keyvault
  infra/core/env-shared/portal/containerapp-dns-zone/containerapp-dns-zone.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

privateDnsZoneName
  infra/core/env-shared/portal/containerapp-dns-zone/containerapp-dns-zone.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

test
  infra/core/env-shared/portal/containerapp-dns-zone/containerapp-dns-zone.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

dns a record
  .azuredevops/deploy-platform-core-portal.yaml
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/containerapp-dns-zone/containerapp-dns-zone.bicep
  infra/core/env-shared/portal/containerapp-dns-zone/containerapp-dns-zone.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

updated resource id
  infra/sec/application-gateway/application-gateway.bicep
  infra/sec/application-gateway/application-gateway.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

app gateway resource id
  infra/sec/application-gateway/application-gateway.bicep
Due: .azuredevops/deploy-platform-sec-env.yaml

fix for resource id
  infra/sec/application-gateway/application-gateway.bicep
Due: .azuredevops/deploy-platform-sec-env.yaml

updated order
  .azuredevops/deploy-platform-sec-env.yaml
  infra/sec/application-gateway/application-gateway.bicep
Due: .azuredevops/deploy-platform-sec-env.yaml

disabled prd1
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

minor update
  infra/sec/application-gateway/application-gateway.bicep
Due: .azuredevops/deploy-platform-sec-env.yaml

Basic app gateway
  infra/sec/application-gateway/application-gateway.bicep
Due: .azuredevops/deploy-platform-sec-env.yaml

commented unused param
  infra/sec/application-gateway/application-gateway.bicep
Due: .azuredevops/deploy-platform-sec-env.yaml

commented backends
  infra/sec/application-gateway/application-gateway.bicep
  infra/sec/application-gateway/application-gateway.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

disable pre1
  .azuredevops/deploy-platform-sec-env.yaml
Due: none
