Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-fluxnotification.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-fluxnotificationapi.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

point to gg/353142-rename-eventhub-variables...
  .azuredevops/deploy-platform-core-env.yaml
Due: none

353153 - Diagnostics Settings for App Gateway and Flexible server (#152)
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-sec-env.yaml
  infra/common/operational-insights/log-analytics-workspace.bicepparam
  infra/common/operational-insights/log-analytics-workspace.parameters.json
  infra/common/policy/policy-diagnostic-settings-assignment.bicep
  infra/sec/application-gateway/application-gateway.bicep
  infra/sec/application-gateway/application-gateway.bicepparam
  infra/sec/operational-insights/log-analytics-workspace.bicep
  infra/sec/operational-insights/log-analytics-workspace.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-sec-env.yaml

update
  infra/core/env-shared/flux-notification/managed-identity/adocallbackapp-managed-identity.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

ref changes to main
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Added consumer group and removed ApiListenAccess auth rule
  infra/bootstrap/env-shared/event-hub/event-hub.bicep
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Addition of roles, container, consumer group required by DAPR
  infra/bootstrap/env-shared/event-hub/subenv1-params/event-hub.bicepparam
  infra/bootstrap/env-shared/event-hub/subenv2-params/event-hub.bicepparam
  infra/core/env-shared/.bicep/event-hub-role-data-receiver.bicep
  infra/core/env-shared/.bicep/storage-container-role-blob-data-contributor.bicep
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicep
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicepparam
  infra/core/env-shared/flux-notification/storage-account/storage-account.bicep
  infra/core/env-shared/flux-notification/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Added container and consumer group with role assignments required by DAPR
  infra/bootstrap/env-shared/event-hub/event-hub.bicep
  infra/bootstrap/env-shared/event-hub/subenv1-params/event-hub.bicepparam
  infra/bootstrap/env-shared/event-hub/subenv2-params/event-hub.bicepparam
  infra/core/env-shared/.bicep/storage-container-role-blob-data-contributor.bicep
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicep
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicepparam
  infra/core/env-shared/flux-notification/storage-account/storage-account.bicep
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Add container app pubsub component
  infra/core/env-shared/container-apps-components/container-apps-component.bicep
  infra/core/env-shared/container-apps-components/container-apps-component.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Add SSH key to Flux Services Github repo.
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/scripts/Add-SshKeyToGitHubRepo.ps1
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Update.
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Script fix.
  infra/core/env/scripts/Add-SshKeyToGitHubRepo.ps1
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Update.
  infra/core/env/scripts/Add-SshKeyToGitHubRepo.ps1
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Refactor
  infra/core/env/scripts/Add-SshKeyToGitHubRepo.ps1
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Clean up.
  infra/core/env/scripts/Add-SshKeyToGitHubRepo.ps1
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Remove container app component and update branch
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/container-apps-components/container-apps-component.bicep
  infra/core/env-shared/container-apps-components/container-apps-component.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Test
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/scripts/Add-SshKeyToGitHubRepo.ps1
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Update.
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/scripts/Add-SshKeyToGitHubRepo.ps1
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Clean up.
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/scripts/Add-SshKeyToGitHubRepo.ps1
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Updated build agent
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

Update.
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/scripts/Add-SshKeyToGitHubRepo.ps1
  infra/core/env/scripts/SSH-Generate-Keys.ps1
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml
