Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/publish-platform-nginxplus.yaml

.azuredevops/deploy-platform-bootstrap-serviceconnections.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-CDO-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-bootstrap.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-build-agent.yaml:
  extends:
    template: /pipelines/common-script-deploy.yaml@ADPPipelineCommon
    parameters:
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SND1-VMSS
        deploymentBranches:
        - '*'
        developmentEnvironment: true
  ...

.azuredevops/deploy-platform-core-shared-services.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
        serviceConnection: $(ssv3Subscription)
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd2
        serviceConnection: AZD-CDO-SND2
        deploymentBranches:
        - '*'
  ...

.azuredevops/publish-platform-nginxplus.yaml:
  extends:
    template: /pipelines/common-script-deploy.yaml@ADPPipelineCommon
    parameters:
      privateAgentName: DEFRA-COMMON-ubuntu2204-SSV3
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
        serviceConnection: $(ssv3Subscription)
  ...

Switch to main branch
  .azuredevops/deploy-platform-core.yaml
Due: none

Use feature branch to test latest variables
  .azuredevops/deploy-platform-core.yaml
Due: none

Refer pipeline common from main branch
  .azuredevops/deploy-platform-core.yaml
Due: none

231044: Update YAML Pipelines (#54)
  .azuredevops/deploy-platform-bootstrap.yaml
  .azuredevops/deploy-platform-core-shared-services.yaml
  .azuredevops/deploy-platform-core.yaml
  infra/core/front-door/front-door.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Assign Key Vault Secrets Officer role (#52)
  infra/core/key-vault/application-key-vault.bicep
  infra/core/key-vault/application-key-vault.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

PostgreSql Private DNS
  .azuredevops/deploy-platform-core.yaml
  infra/core/private-dns-zone/flexible-server-zone.bicep
  infra/core/private-dns-zone/flexible-server-zone.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Updated zone name
  .azuredevops/deploy-platform-core.yaml
Due: none

Private DNS name update
  .azuredevops/deploy-platform-core.yaml
  infra/core/private-dns-zone/flexible-server-zone.bicep
Due: .azuredevops/deploy-platform-core.yaml

Updated instance Id
  .azuredevops/deploy-platform-core.yaml
  infra/core/private-dns-zone/flexible-server-zone.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Link Private DNS and Subnet to PostgreSql
  infra/core/postgre-sql/flexible-server.bicep
  infra/core/postgre-sql/flexible-server.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Fixed private DNS name parameter issue
  infra/core/postgre-sql/flexible-server.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

LInked to correct subnet Id
  infra/core/postgre-sql/flexible-server.bicep
Due: .azuredevops/deploy-platform-core.yaml

Create a test PostgreSql
  infra/core/postgre-sql/flexible-server.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Fixed DNS name format issue.
  infra/core/postgre-sql/flexible-server.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Update DNS settings
  infra/core/postgre-sql/flexible-server.bicep
  infra/core/postgre-sql/flexible-server.parameters.json
  infra/core/private-dns-zone/flexible-server-zone.bicep
Due: .azuredevops/deploy-platform-core.yaml

Flexible Servers subnet delegation
  infra/common/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Fixed Json issue
  infra/common/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Disable DNS Auto registration
  infra/core/private-dns-zone/aks-cluster-zone.bicep
  infra/core/private-dns-zone/flexible-server-zone.bicep
Due: .azuredevops/deploy-platform-core.yaml

Script Repo for App Reg script
  .azuredevops/deploy-platform-bootstrap.yaml
Due: none

App reg config json path update
  .azuredevops/deploy-platform-bootstrap.yaml
Due: none

Use new filePathsForTransform parameter
  .azuredevops/deploy-platform-bootstrap.yaml
Due: none

Updates
  .azuredevops/deploy-platform-bootstrap.yaml
Due: none

Update environments for bootstrap pipeline
  .azuredevops/deploy-platform-bootstrap.yaml
Due: none

Update the node pool related properties.
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Correct the node pool name.
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

232785: Flexible Server DNS zone (#55)
  .azuredevops/deploy-platform-bootstrap.yaml
  .azuredevops/deploy-platform-core.yaml
  infra/common/network/virtual-network.parameters.json
  infra/core/postgre-sql/flexible-server.bicep
  infra/core/postgre-sql/flexible-server.parameters.json
  infra/core/private-dns-zone/flexible-server-zone.bicep
  infra/core/private-dns-zone/flexible-server-zone.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

New Subnets for AKS
  .azuredevops/deploy-platform-core.yaml
  infra/common/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Update Subnet variable names
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

VNET Deployment order updated
  .azuredevops/deploy-platform-core.yaml
Due: none

249140: Agent Pool rename and properties changes (#56)
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Move fluxextion out of aks and create app config mi
  infra/core/managed-cluster/.bicep/app-config-data-reader.bicep
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Renamed nsg bicep file
  .azuredevops/deploy-platform-bootstrap.yaml
  .azuredevops/deploy-platform-core.yaml
  infra/common/network/network-security-group.bicep
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

VMSS Subnet update
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

Fix principalId description
  infra/core/managed-cluster/.bicep/app-config-data-reader.bicep
Due: .azuredevops/deploy-platform-core.yaml

Flux extension toleration keys config
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

System node pool NSGs
  infra/common/network/network-security-group.bicep
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Fixed json issue
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Added more rules to System node pool nsg
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

System poll NSG inbound rules
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
