Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

Helm release values cleanup
  flux-templates/templates/programme/team/service/deploy/base/helm-release.yaml
Due: none

Added custom ca changes to k8s jobs (#140)
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/base/post-migration-script.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/base/pre-migration-script.job.yaml
Due: none

Add owners to DAL, FIND and MCU
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

AD groups for postgres
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

updated postgres ad group names
  flux-templates/templates/programme/team/service/pre-deploy/migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration-kustomize.yaml
Due: none

fixes
  flux-templates/templates/programme/team/service/pre-deploy/migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/environment/migration-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/environment/post-migration-script-patch.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/environment/pre-migration-script-patch.yaml
Due: none

Initial attempt at EventHub creation
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/event-hub/namespace.bicep
  infra/core/env/event-hub/namespace.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Fix EventHub bicep name initial deployment
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Add flux-events event hub
  infra/core/env/event-hub/namespace.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

add new environment
  .azuredevops/deploy-platform-core-portal.yaml
  infra/core/env-shared/network/virtual-network.parameters.json
  infra/core/env-shared/portal/container-apps-env-02/.bicep/set-secret.bicep
  infra/core/env-shared/portal/container-apps-env-02/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env-02/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

set disable local auth to false
  infra/core/env/event-hub/namespace.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Added env2 option
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

renamed bicep files
  infra/core/env-shared/portal/container-apps-env-02/container-apps-env-02.bicep
  infra/core/env-shared/portal/container-apps-env-02/container-apps-env-02.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

added new deployment options
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

added resource for env-2
  .azuredevops/deploy-platform-core-portal.yaml
  infra/core/env-shared/portal/container-apps-env-02/.bicep/set-secret.bicep
  infra/core/env-shared/portal/container-apps-env-02/container-apps-env-02.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
  infra/core/env-shared/portal/container-apps-env/env-2/container-apps-env.bicepparam
  infra/core/env-shared/portal/flexible-server-zone/env-2/flexible-server-zone.bicepparam
  infra/core/env-shared/portal/flexible-server/env-2/flexible-server.bicepparam
  infra/core/env-shared/portal/key-vault/env-2/key-vault.bicepparam
  infra/core/env-shared/portal/managed-identity/env-2/managed-identity.bicepparam
  infra/core/env-shared/portal/storage-account/env-2/storage-account.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

fix for path
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

update resource group
  infra/core/env-shared/portal/managed-identity/env-2/managed-identity.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Add listen access for function app
  infra/core/env/event-hub/namespace.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

updated conditional deployment for portal apps
  .azuredevops/deploy-platform-core-portal.yaml
  infra/core/env-shared/portal-api/managed-identity/env-2/managed-identity.bicepparam
  infra/core/env-shared/portal/container-apps-env/env-2/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

portal-app-1
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

App gateway initial setup
  .azuredevops/deploy-platform-core-env.yaml
Due: none

thankfulcliff-27c655b9.uksouth.azurecontainerapps.io
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
Due: none

add groups in defradev
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

fix
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

fix
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml

Fixes
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml

Added function to update an AD group with serviceprincipal as members
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml

Add storage account with Private DNS entries
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/web/storage/storage.bicep
  infra/core/env/web/storage/storage.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Add to parameters list
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Add private endpoint for file share
  infra/core/env/web/storage/storage.bicep
  infra/core/env/web/storage/storage.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Deploy functionapp site
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/web/site.bicep
  infra/core/env/web/site.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Add function app parameter
  .azuredevops/deploy-platform-core-env.yaml
Due: none

pg ad groups for defra tenant
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defra.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

try
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
Due: none

Added function to update an AD group with serviceprincipal as members (#144)
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml
