Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

.azuredevops/deploy-platform-bootstrap-env-shared.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
  ...

.azuredevops/deploy-platform-bootstrap-env.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-bootstrap-serviceconnections.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-CDO-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-bootstrap-tenant.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      variableFiles:
      - /pipelines/vars/common.yaml@_self
  ...

.azuredevops/deploy-platform-bootstrap.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-build-agent.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SND1-VMSS
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core-env-shared.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv_dev
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core-env-tenant.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      variableFiles:
      - /pipelines/vars/common.yaml@_self
  ...

Add group file for PRE and PRD
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_PRD.json
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_PRE.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Update MI name
  infra/core/env-shared/flexible-server/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

main branch ref
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/scripts/Get-KeyVaultSecret.ps1
  infra/sec/network/network-security-group.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-sec-env.yaml

revert to main branch
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

IdentifierUris Updated api://{{appId}}
  infra/core/env-shared/app-registrations/api-auth-backend.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

permission added for API-AUTH-BACKEND-APP-REG-CLIENT-ID
  infra/core/env-shared/flux-notification/managed-identity/adocallbackapp-managed-identity.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Get Azure Monitor Workspace Resource IDs to link to Grafana Dashboard fix
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/scripts/Get-WorkspaceResourceIds.ps1
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

361587: Container App storage account Bicep fails due to "existing" reference (#168)
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/adp-portal/storage-account/.bicep/storesecret.bicep
  infra/core/env-shared/adp-portal/storage-account/storage-account.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Get Azure Monitor Workspace Resource IDs to link to Grafana Dashboard fix (#169)
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/scripts/Get-WorkspaceResourceIds.ps1
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  infra/core/env-shared/scripts/Get-KeyVaultSecret.ps1
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

353142: Post Trigger API Infra Automation (#162)
  .azuredevops/deploy-platform-core-env-shared.yaml
  .azuredevops/deploy-platform-core-env.yaml
  infra/bootstrap/env-shared/event-hub/event-hub.bicep
  infra/bootstrap/env-shared/event-hub/subenv1-params/event-hub.bicepparam
  infra/bootstrap/env-shared/event-hub/subenv2-params/event-hub.bicepparam
  infra/core/env-shared/.bicep/event-hub-role-data-receiver.bicep
  infra/core/env-shared/.bicep/storage-container-role-blob-data-contributor.bicep
  infra/core/env-shared/app-registrations/api-auth-backend.json
  infra/core/env-shared/app-registrations/callback-api-client.json
  infra/core/env-shared/flexible-server/flexible-server.bicep
  infra/core/env-shared/flexible-server/flexible-server.bicepparam
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_DEV.json
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_PRD.json
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_PRE.json
  infra/core/env-shared/flux-notification/config/aad-groups/fluxApiAADGroups.SSV_TST.json
  infra/core/env-shared/flux-notification/managed-identity/adocallbackapp-managed-identity.bicep
  infra/core/env-shared/flux-notification/managed-identity/adocallbackapp-managed-identity.bicepparam
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicep
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicepparam
  infra/core/env-shared/flux-notification/storage-account/storage-account.bicep
  infra/core/env-shared/flux-notification/storage-account/storage-account.bicepparam
  infra/core/env-shared/scripts/Get-KeyVaultSecret.ps1
  infra/core/env/app-configuration/config-data/config-data.json
  infra/core/env/event-hub/event-hub-secret-rbac.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

update variable
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

group access
  .azuredevops/deploy-platform-core-iam.yaml
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicep
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicepparam
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

feature branch
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

removed env
  .azuredevops/deploy-platform-core-iam.yaml
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicep
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicepparam
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

group access
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicep
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicepparam
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

variable changed
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

update
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

updated
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

create group
  .azuredevops/deploy-platform-core-iam.yaml
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicepparam
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

fix
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

fix2
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

create
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

fix5
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

fix6
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

fix 8
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

nickname
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

group id
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

ObjectId
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

id
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

point to main branch
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

372068: Automate Role Assignment (#167)
  .azuredevops/deploy-platform-core-iam.yaml
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicep
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicepparam
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

revert to main branch
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

variable updated
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

364244: Remove Private Endpoints in SND3 Storage Accounts in DEFRA Dev Tenant (#170)
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

defaultforwhatif
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicep
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

default
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicep
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

test empty
  infra/core/iam/subscription/cluster-custom-resources-reader-role.bicep
Due: .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-fluxnotification.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-fluxnotificationapi.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-iam.yaml: any of: infra/core/iam
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor
