Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/publish-platform-nginxplus.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus

Update error logic
  infra/core/scripts/Set-AksSecrets.ps1
Due: .azuredevops/deploy-platform-core.yaml

Add SPN objectid to key vault.
  infra/bootstrap/config/app-registrations/tier2-app-registration.json
Due: .azuredevops/deploy-platform-bootstrap.yaml

Test new property.
  infra/bootstrap/config/app-registrations/tier2-app-registration.json
Due: .azuredevops/deploy-platform-bootstrap.yaml

Correct property name.
  infra/bootstrap/config/app-registrations/tier2-app-registration.json
Due: .azuredevops/deploy-platform-bootstrap.yaml

DR: Add Build Status Badge
  README.md
Due: none

Revert property changes.
  infra/bootstrap/config/app-registrations/tier2-app-registration.json
Due: .azuredevops/deploy-platform-bootstrap.yaml

Update changes ready to check for merge conflicts
  infra/core/key-vault/application-key-vault.bicep
  infra/core/key-vault/application-key-vault.parameters.json
  infra/core/key-vault/platform-key-vault.parameters.json
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Test cluster creation with latest changes
  .azuredevops/deploy-platform-core.yaml
  infra/core/managed-cluster/aks-cluster-orig.bicepparam
  infra/core/managed-cluster/aks-cluster.local.parameters.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

DR: Add Build Status Badge (#70)
  README.md
Due: none

262177: Add SPN ObjectId to the KV (#71)
  infra/bootstrap/config/app-registrations/tier2-app-registration.json
Due: .azuredevops/deploy-platform-bootstrap.yaml

added ssv keyvault name back in
  .azuredevops/deploy-platform-core.yaml
Due: none

Test kubectl error output
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.bicepparam
  infra/core/scripts/Set-AksSecrets.ps1
Due: .azuredevops/deploy-platform-core.yaml

test kubectl error
  infra/core/scripts/Set-AksSecrets.ps1
Due: .azuredevops/deploy-platform-core.yaml

Deploy cluster with updated resource modules
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Update to use new managedIdentities parameter
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Use latest version of aks cluster bicep
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Use KeyName instead of KeyUri
  infra/core/managed-cluster/.bicep/kms-key.bicep
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Run KMS against main cluster
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Uncomment postdeploy variables
  .azuredevops/deploy-platform-core.yaml
Due: none

Update main snd1 cluster
  .azuredevops/deploy-platform-core.yaml
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Re-enable AKS bicep
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Deploy to KMS test cluster
  .azuredevops/deploy-platform-core.yaml
  infra/core/managed-cluster/aks-cluster.bicepparam
  infra/core/scripts/Set-AksSecrets.ps1
Due: .azuredevops/deploy-platform-core.yaml

Use feature branch
  .azuredevops/deploy-platform-core.yaml
Due: none

Disable flux on test cluster
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Repoint to main SND1 cluster
  .azuredevops/deploy-platform-core.yaml
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

More tidy up
  .azuredevops/deploy-platform-core.yaml
  infra/core/key-vault/platform-key-vault.parameters.json
  infra/core/managed-cluster/aks-cluster-aa.bicepparam
  infra/core/managed-cluster/aks-cluster-orig.bicepparam
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Remove local test file
  infra/core/managed-cluster/aks-cluster-aa.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Use latest version of Bicep module
  .azuredevops/deploy-platform-core.yaml
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Covert params to bicep params
  infra/core/key-vault/platform-key-vault.bicepparam
  infra/core/key-vault/platform-key-vault.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

initial commit
  infra/core-shared-services/default-tags.json
  infra/core-shared-services/network/network-security-group.bicep
  infra/core-shared-services/network/network-security-group.parameters.json
  infra/core-shared-services/network/route-table.bicep
  infra/core-shared-services/network/route-table.parameters.json
  infra/core-shared-services/network/virtual-network.bicep
  infra/core-shared-services/network/virtual-network.bicepparam
  infra/core-shared-services/network/virtual-network.parameters.json
  infra/core-shared-services/portal/application-key-vault/application-key-vault.bicep
  infra/core-shared-services/portal/application-key-vault/application-key-vault.parameters.json
  infra/core-shared-services/portal/container-apps-env/container-apps-env.bicep
  infra/core-shared-services/portal/container-apps-env/container-apps-env.parameters.json
  infra/core-shared-services/portal/managed-identity/.bicep/acr-pull.bicep
  infra/core-shared-services/portal/managed-identity/managed-identity.bicep
  infra/core-shared-services/portal/managed-identity/managed-identity.parameters.json
  infra/core-shared-services/portal/postgre-sql/flexible-server.bicep
  infra/core-shared-services/portal/postgre-sql/flexible-server.parameters.json
  infra/core-shared-services/portal/private-dns-zone/flexible-server-zone.bicep
  infra/core-shared-services/portal/private-dns-zone/flexible-server-zone.parameters.json
Due: .azuredevops/deploy-platform-core-shared-services.yaml

working
  infra/core-shared-services/network/virtual-network.parameters.json
  infra/core-shared-services/portal/container-apps-env/container-apps-env.bicep
  infra/core-shared-services/portal/container-apps-env/container-apps-env.parameters.json
Due: .azuredevops/deploy-platform-core-shared-services.yaml

update secrets to keyvault
  infra/core-shared-services/portal/postgre-sql/flexible-server.bicep
  infra/core-shared-services/portal/postgre-sql/flexible-server.parameters.json
Due: .azuredevops/deploy-platform-core-shared-services.yaml

private link
  infra/core-shared-services/portal/private-link/private-link.bicep
Due: .azuredevops/deploy-platform-core-shared-services.yaml

Add new custom role definitions for ASB
  infra/core/role-definitions/serviceBusCustomRole.bicep
  infra/core/role-definitions/serviceBusCustomRole.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

renamed files
  infra/core/role-definitions/servicebus-customrole.bicep
  infra/core/role-definitions/servicebus-customrole.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Update var
  infra/core/role-definitions/servicebus-customrole.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Use single bicep template
  .azuredevops/deploy-platform-core.yaml
  infra/core/key-vault/application-key-vault.bicep
  infra/core/key-vault/application-key-vault.parameters.json
  infra/core/key-vault/key-vault.bicep
  infra/core/key-vault/platform-key-vault.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

create folders for parameters files
  .azuredevops/deploy-platform-core.yaml
  infra/core/key-vault/application-keyvault-params/key-vault.parameters.json
  infra/core/key-vault/platform-keyvault-params/key-vault.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Fix kv bicep path
  infra/core/key-vault/application-keyvault-params/key-vault.bicepparam
  infra/core/key-vault/application-keyvault-params/key-vault.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Test AzureCli script
  .azuredevops/deploy-platform-core.yaml
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.bicepparam
  infra/core/scripts/Set-AksSecrets.ps1
Due: .azuredevops/deploy-platform-core.yaml
