Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/publish-platform-nginxplus.yaml

.azuredevops/deploy-platform-bootstrap-serviceconnections.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-CDO-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-bootstrap.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-build-agent.yaml:
  extends:
    template: /pipelines/common-script-deploy.yaml@ADPPipelineCommon
    parameters:
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SND1-VMSS
        deploymentBranches:
        - '*'
        developmentEnvironment: true
  ...

.azuredevops/deploy-platform-core-shared-services.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd2
        serviceConnection: AZD-CDO-SND2
        deploymentBranches:
        - '*'
  ...

.azuredevops/publish-platform-nginxplus.yaml:
  extends:
    template: /pipelines/common-script-deploy.yaml@ADPPipelineCommon
    parameters:
      privateAgentName: DEFRA-COMMON-ubuntu2204-SSV3
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
        serviceConnection: $(ssv3Subscription)
  ...

User Node pool NSG rules
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

NSG rules update
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Add release namespace to flux-extension
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

System node pool updates
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

NSGs Updates
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

User node pool nsg updates
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Add app config resource group not app config name as scope
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Update NSG's
  infra/common/network/network-security-group.parameters.json
  infra/common/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

NSG Updates
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

252376: Move flux extension out of AKS deployment (#57)
  infra/core/managed-cluster/.bicep/app-config-data-reader.bicep
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Subnets Updated
  infra/common/network/virtual-network.parameters.json
  infra/core/app-configuration/configuration-store.parameters.json
  infra/core/container-registry/application-container-registry.parameters.json
  infra/core/key-vault/application-key-vault.parameters.json
  infra/core/managed-cluster/aks-cluster.parameters.json
  infra/core/postgre-sql/flexible-server.parameters.json
  infra/core/redis-cache/redis-cache.parameters.json
  infra/core/service-bus/namespace.parameters.json
  infra/core/storage-account/application-storage-account.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Ref branch updated
  .azuredevops/deploy-platform-bootstrap.yaml
Due: none

Update subnet names
  infra/common/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Pass variables required by ASO platform secret
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Shared ACR pull role
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Flux Config from feature branch
  infra/core/managed-cluster/aks-cluster.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Ingress NSG Outbound rules
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Fix rule issue
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Ingress NSG inbound
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Debug with no NSG rules
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Test with NSGs
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Pass variables required by ASO platform secret (#58)
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Remove inbound rules
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

System NP nsgs
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

user node poole nsg
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Final Rules
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Azure Monitor NSG rule
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Remove duplicate rule
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Add platform variables to config service.
  infra/core/app-configuration/configuration-store.bicep
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Correct the config values.
  infra/core/app-configuration/configuration-store.bicep
Due: .azuredevops/deploy-platform-core.yaml

enable local auth
  infra/core/app-configuration/configuration-store.bicep
Due: .azuredevops/deploy-platform-core.yaml

Refer Pipeline Common from main branch
  .azuredevops/deploy-platform-bootstrap.yaml
  .azuredevops/deploy-platform-core.yaml
Due: none

enable public network.
  infra/core/app-configuration/configuration-store.bicep
Due: .azuredevops/deploy-platform-core.yaml

Correct the store properties.
  infra/core/app-configuration/configuration-store.bicep
Due: .azuredevops/deploy-platform-core.yaml

Added descriptions for nsgs.
  infra/common/network/network-security-group.parameters.json
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Flux config from main branch
  infra/core/managed-cluster/aks-cluster.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Flux config update
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Change to use bicepparam.
  infra/core/app-configuration/configuration-store.bicep
  infra/core/app-configuration/configuration-store.parameters.bicepparam
  infra/core/app-configuration/configuration-store.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Correct parameter file name.
  infra/core/app-configuration/configuration-store.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Update the label for values.
  infra/core/app-configuration/configuration-store.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
