Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

Point branch back to main
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
Due: none

Fix FrontDoor WAF pipeline condition.
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Simplify variable usage.
  infra/core/env/front-door/azure-waf.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Changes related to FrontDoor move to SEC (#122)
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/front-door/azure-waf.parameters.json
  infra/core/env/front-door/front-door.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Update CDN endpoints for portal.
  infra/core/env/front-door/front-door.bicep
  infra/core/env/front-door/front-door.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Fix the template parameter format.
  infra/core/env/front-door/front-door.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Add portal endpoint to the FrontDoor (#123)
  infra/core/env/front-door/front-door.bicep
  infra/core/env/front-door/front-door.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

add feature/debug branch for istio testing
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Removed Group GG-Users-ADP-PlatformEngineers
  infra/bootstrap/tenant/config/aad-groups/portalAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

298311: Create AD Group for Portal (#121)
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  infra/bootstrap/tenant/config/aad-groups/portalAADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/portalAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Updated to use a feature branch to debug
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Use debug branch
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

AAG-Users-ADP-FFC-DAL_TechUser AAD group
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

AAG-Users-ADP-FFC-DAL_TechUser member
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Add adp platform vars for PE creation
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Added subnet94Address
  infra/common/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

updated 94 to 95
  infra/common/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Update subnet
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

removed NE and WE MST vars in config data
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

306948: Added new Subnet for Service's Private endpoints (#124)
  infra/common/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

306948: Add adp platform vars for private endpoint creation (#125)
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Added PRIVATE_ENDPOINT_PREFIX variable
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Added PRIVATE_ENDPOINT_PREFIX variable (#126)
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Storage variables
  flux-templates/manifest/storage-variables copy.json
  flux-templates/manifest/storage-variables.json
  flux-templates/scripts/New-FluxServices.ps1
  flux-templates/templates/programme/team/service/infra/environment/patch-backend.yaml
  flux-templates/templates/programme/team/service/infra/environment/patch.yaml
Due: none

AAG-Users-ADP-Core-MCU_TechUser group
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

AAG-Users-ADP-Core-MCU_TechUser update
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

AAG-Users-ADP-LAP-MIT_TechUser group
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

AAG-Users-ADP-FCP-FIND_TechUser
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

AAG-Users-ADP-FCP-FIND_TechUser group
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
Due: none

DemoGroup-To-Test-AddUserfromAPI group for testing
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

DemoGroup-To-Test-AddUserfromAPI-2
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Aks Enable Custom CA Trust
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Add backstage labels
  flux-templates/templates/programme/team/base/helm-repository.yaml
  flux-templates/templates/programme/team/base/patch/kustomize.yaml
  flux-templates/templates/programme/team/service/deploy-kustomize.yaml
  flux-templates/templates/programme/team/service/deploy/base/helm-release.yaml
  flux-templates/templates/programme/team/service/infra-kustomize.yaml
  flux-templates/templates/programme/team/service/infra/base/aso-helm-release.yaml
  flux-templates/templates/programme/team/service/infra/base/image-repository.yaml
  flux-templates/templates/programme/team/service/infra/environment/image-policy.yaml
  flux-templates/templates/programme/team/service/pre-deploy-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/base/image-repository-dbmigration.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/base/migration.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/environment/image-policy.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/base/post-migration-script.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/base/pre-migration-script.job.yaml
Due: none

Added flux infra private endpoint values to patch
  flux-templates/templates/programme/team/service/infra/environment/patch-backend.yaml
  flux-templates/templates/programme/team/service/infra/environment/patch.yaml
Due: none

Add backstage labels (#127)
  flux-templates/templates/programme/team/base/helm-repository.yaml
  flux-templates/templates/programme/team/base/patch/kustomize.yaml
  flux-templates/templates/programme/team/service/deploy-kustomize.yaml
  flux-templates/templates/programme/team/service/deploy/base/helm-release.yaml
  flux-templates/templates/programme/team/service/infra-kustomize.yaml
  flux-templates/templates/programme/team/service/infra/base/aso-helm-release.yaml
  flux-templates/templates/programme/team/service/infra/base/image-repository.yaml
  flux-templates/templates/programme/team/service/infra/environment/image-policy.yaml
  flux-templates/templates/programme/team/service/pre-deploy-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/base/image-repository-dbmigration.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/base/migration.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/migration/environment/image-policy.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/post-migration/base/post-migration-script.job.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration-kustomize.yaml
  flux-templates/templates/programme/team/service/pre-deploy/pre-migration/base/pre-migration-script.job.yaml
Due: none

Added PE vars for flux manifest infra patch
  flux-templates/templates/programme/team/service/infra/environment/patch-backend.yaml
  flux-templates/templates/programme/team/service/infra/environment/patch.yaml
Due: none

Defra egress cert in app config
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Use branch
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Temp PostgresDB groups requested by Jeevan
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Updates
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml
