Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus

fix
  infra/core/access-control/flexible-server/scripts/Grant-FlexibleServerAccess.ps1
Due: .azuredevops/deploy-platform-core.yaml

added custom domain
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

test
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

Removed old script
  infra/bootstrap/env/scripts/Assign-RBAC-Subscription.ps1
  infra/bootstrap/env/scripts/Set-RoleAssignments.ps1
Due: .azuredevops/deploy-platform-bootstrap.yaml

fix
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

Test adding Dashboards to Grafana
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/observability/dashboards/ama-metrics-settings-configmap.yaml
  infra/core/env/observability/dashboards/flux-cluster-stats.json
  infra/core/env/observability/dashboards/flux-control-plane.json
  infra/core/env/scripts/New-FluxDashboards.ps1
Due: .azuredevops/deploy-platform-core.yaml

Test postdeploy script
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/observability/grafana.bicep
  infra/core/env/observability/grafana.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

comment out params
  infra/core/env/observability/grafana.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

test web
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

Updated access
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

Test 2 postdeploy script
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Fix path
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Add amg extension
  infra/core/env/scripts/New-FluxDashboards.ps1
Due: .azuredevops/deploy-platform-core.yaml

Fix azure cli type
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Update flux dashboard script
  infra/core/env/observability/dashboards/flux-application-deployments.json
  infra/core/env/scripts/New-FluxDashboards.ps1
Due: .azuredevops/deploy-platform-core.yaml

Updated agent
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

custom portal app url
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

updated path
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

Updated script
  infra/core/env/scripts/New-FluxDashboards.ps1
Due: .azuredevops/deploy-platform-core.yaml

updated root directory
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

replace variable
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

updated uri
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

debug
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

removed debug
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

updated value
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

updated value
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

update file
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

Debug
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

test
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

update file
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

Test
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

tenant id
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

Remove hard-coded values
  infra/core/env/scripts/New-FluxDashboards.ps1
Due: .azuredevops/deploy-platform-core.yaml

Updated
  infra/core/env-shared/portal/app-registrations/portal-app-registration.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core.yaml

add grafana admin to ssv app reg
  infra/core/env/observability/grafana.bicep
  infra/core/env/observability/grafana.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Uncomment code for testing
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Fix parameter
  infra/core/env/observability/grafana.bicep
Due: .azuredevops/deploy-platform-core.yaml

point to feature branch
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

241872: Enable Managed Prometheus Logs using Bicep (#94)
  infra/core/env/managed-cluster/.bicep/monitoring-data-reader.bicep
  infra/core/env/managed-cluster/.bicep/prometheus-logs-requisite-resources.bicep
  infra/core/env/managed-cluster/.bicep/prometheus-rule-groups.bicep
  infra/core/env/managed-cluster/aks-cluster.bicep
  infra/core/env/managed-cluster/aks-cluster.bicepparam
  infra/core/env/observability/grafana.bicep
Due: .azuredevops/deploy-platform-core.yaml

Enable grafana dashboards
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/managed-cluster/aks-cluster.bicepparam
  infra/core/env/observability/dashboards/flux-application-deployments.json
  infra/core/env/observability/dashboards/flux-cluster-stats.json
  infra/core/env/observability/dashboards/flux-control-plane.json
  infra/core/env/observability/grafana.bicep
  infra/core/env/observability/grafana.parameters.json
  infra/core/env/scripts/New-FluxDashboards.ps1
Due: .azuredevops/deploy-platform-core.yaml
