Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/publish-platform-nginxplus.yaml

.azuredevops/deploy-platform-bootstrap-serviceconnections.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-CDO-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-bootstrap.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-build-agent.yaml:
  extends:
    template: /pipelines/common-script-deploy.yaml@ADPPipelineCommon
    parameters:
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SND1-VMSS
        deploymentBranches:
        - '*'
        developmentEnvironment: true
  ...

.azuredevops/deploy-platform-core-shared-services.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
        serviceConnection: $(ssv3Subscription)
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd2
        serviceConnection: AZD-CDO-SND2
        deploymentBranches:
        - '*'
  ...

.azuredevops/publish-platform-nginxplus.yaml:
  extends:
    template: /pipelines/common-script-deploy.yaml@ADPPipelineCommon
    parameters:
      privateAgentName: DEFRA-COMMON-ubuntu2204-SSV3
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
        serviceConnection: $(ssv3Subscription)
  ...

Added condition for dependsOnGroupedTemplates
  .azuredevops/deploy-platform-core.yaml
Due: none

Changed default value for deployResources to 'All'
  .azuredevops/deploy-platform-core.yaml
Due: none

Added monitoring conditions
  .azuredevops/deploy-platform-core.yaml
Due: none

Added Pipeline name
  .azuredevops/deploy-platform-core.yaml
Due: none

Updated pipeline name
  .azuredevops/deploy-platform-core.yaml
Due: none

Service bus template name updated
  .azuredevops/deploy-platform-core.yaml
Due: none

Use default environments (#40)
  .azuredevops/deploy-platform-core.yaml
Due: none

Tidy-up
  .azuredevops/deploy-platform-core.yaml
Due: none

231059: Infra Pipeline enhancements (#41)
  .azuredevops/deploy-platform-core-shared-services.yaml
  .azuredevops/deploy-platform-core.yaml
Due: none

Move grafana to shared folder
  .azuredevops/deploy-platform-core-shared-services.yaml
  .azuredevops/deploy-platform-core.yaml
  infra/core-shared-services/observability/grafana.bicep
  infra/core-shared-services/observability/grafana.parameters.json
Due: .azuredevops/deploy-platform-core-shared-services.yaml

Update vars
  .azuredevops/deploy-platform-core.yaml
Due: none

enabled image controllers
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Path Update
  .azuredevops/deploy-platform-core-shared-services.yaml
Due: none

Monitoring Grafana
  .azuredevops/deploy-platform-core.yaml
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.parameters.json
  infra/core/observability/azure-monitor-workspace.bicep
  infra/core/observability/azure-monitor-workspace.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Fix issue in Get-WorkspaceResourceIds
  infra/core/scripts/Get-WorkspaceResourceIds.ps1
Due: .azuredevops/deploy-platform-core.yaml

Azure Monitor Workspace
  .azuredevops/deploy-platform-core.yaml
Due: none

Refactor the script Get-WorkspaceResourceId
  infra/core/scripts/Get-WorkspaceResourceIds.ps1
Due: .azuredevops/deploy-platform-core.yaml

More logging
  infra/core/scripts/Get-WorkspaceResourceIds.ps1
Due: .azuredevops/deploy-platform-core.yaml

enabled image controllers (#43)
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Update tag
  infra/core/observability/azure-monitor-workspace.bicep
Due: .azuredevops/deploy-platform-core.yaml

Public DNS Zone
  .azuredevops/deploy-platform-core.yaml
  infra/core/public-dns-zone/dns-zone.bicep
  infra/core/public-dns-zone/dns-zone.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Re arrange sections
  .azuredevops/deploy-platform-core.yaml
Due: none

231059:Move Grafana to monitor group (#44)
  .azuredevops/deploy-platform-core.yaml
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.parameters.json
  infra/core/observability/azure-monitor-workspace.bicep
  infra/core/observability/azure-monitor-workspace.parameters.json
  infra/core/scripts/Get-WorkspaceResourceIds.ps1
Due: .azuredevops/deploy-platform-core.yaml

DNS Resource Group
  .azuredevops/deploy-platform-core.yaml
Due: none

Zone Location to global
  infra/core/public-dns-zone/dns-zone.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Location Allowed to global
  infra/core/public-dns-zone/dns-zone.bicep
Due: .azuredevops/deploy-platform-core.yaml

to main branch
  .azuredevops/deploy-platform-core.yaml
Due: none

App Configuration Data Owner role
  infra/core/app-configuration/configuration-store.bicep
  infra/core/app-configuration/configuration-store.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

214100: Adp Dns zone (#45)
  .azuredevops/deploy-platform-core.yaml
  infra/core/public-dns-zone/dns-zone.bicep
  infra/core/public-dns-zone/dns-zone.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

assign role using principalId
  infra/core/app-configuration/configuration-store.bicep
  infra/core/app-configuration/configuration-store.parameters.bicepparam
  infra/core/app-configuration/configuration-store.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

rename bicep param file
  infra/core/app-configuration/configuration-store.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

test open source bicep compile
  .azuredevops/deploy-platform-core.yaml
Due: none

typo
  .azuredevops/deploy-platform-core.yaml
Due: none

branch
  .azuredevops/deploy-platform-core.yaml
Due: none

use json param file
  infra/core/app-configuration/configuration-store.bicepparam
  infra/core/app-configuration/configuration-store.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

use main branch of adp pipeline common
  .azuredevops/deploy-platform-core.yaml
Due: none

ssv3subscriptionId
  infra/core/app-configuration/configuration-store.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
