Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/vmss
  .azuredevops/deploy-platform-core.yaml: any of: infra, scripts, but not: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1

FD Sku fix
  infra/front-door/front-door.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

WAF added to pipeline deployment
  .azuredevops/deploy-platform-core.yaml
Due: none

FD sku fix
  infra/front-door/front-door.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Fix for FD module
  infra/front-door/front-door.bicep
  infra/front-door/front-door.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

FD Removed usused parameter
  infra/front-door/front-door.bicep
Due: .azuredevops/deploy-platform-core.yaml

Added lock and skuname param
  infra/front-door/front-door-waf.bicep
  infra/front-door/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Try running waf only
  .azuredevops/deploy-platform-core.yaml
Due: none

FD SKU
  infra/front-door/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Parameterized Sku name
  .azuredevops/deploy-platform-core.yaml
  infra/front-door/front-door-waf.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Rermoved 'Standard_AzureFrontDoor' value from sku and tidied code
  infra/front-door/front-door.bicep
Due: .azuredevops/deploy-platform-core.yaml

Updated registry module for Front Door profile
  infra/front-door/front-door.bicep
Due: .azuredevops/deploy-platform-core.yaml

Updated the build agent parameters,
  .azuredevops/deploy-platform-build-agent.yaml
  infra/vmss/build-agent.bicep
  infra/vmss/build-agent.parameters.json
Due: .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core.yaml

Link Azure Monitor Workspace to Grafana
  .azuredevops/deploy-platform-core.yaml
  infra/observability/grafana.bicep
  infra/observability/grafana.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Change object to array
  infra/observability/grafana.bicep
Due: .azuredevops/deploy-platform-core.yaml

Remove adoServicePrincipals
  .azuredevops/deploy-platform-core-shared-delete.yaml
  infra/observability/grafana.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

wip
  infra/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Link workspace to grafana using PS script
  .azuredevops/deploy-platform-core.yaml
  infra/observability/grafana.bicep
  scripts/Connect-WorkspaceToGrafana.ps1
Due: .azuredevops/deploy-platform-core.yaml

Remove comments
  .azuredevops/deploy-platform-core-shared.yaml
  scripts/Connect-WorkspaceToGrafana.ps1
Due: .azuredevops/deploy-platform-core.yaml

Remove azureMonitorWorkspaceResourceIds
  infra/observability/grafana.bicep
  infra/observability/grafana.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Removed the trailing comma in parameter.
  infra/vmss/build-agent.bicep
  infra/vmss/build-agent.parameters.json
Due: .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core.yaml

Updated pipeline environment details.
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

Temporary value in parameters.
  infra/vmss/build-agent.parameters.json
Due: .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core.yaml

Temporary removal of lock
  infra/vmss/build-agent.bicep
Due: .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core.yaml

Remove commented out params
  .azuredevops/deploy-platform-core.yaml
  infra/observability/grafana.bicep
  infra/observability/grafana.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Install-Module Az.Dashboard
  scripts/Connect-WorkspaceToGrafana.ps1
Due: .azuredevops/deploy-platform-core.yaml

change post deploy script type to AzurePowerShell
  .azuredevops/deploy-platform-core.yaml
Due: none

Added serviceConnectionVariableName
  .azuredevops/deploy-platform-core.yaml
Due: none

Add $exitCode = 0
  scripts/Connect-WorkspaceToGrafana.ps1
Due: .azuredevops/deploy-platform-core.yaml

Test workspace link to Grafana SND2
  .azuredevops/deploy-platform-core.yaml
Due: none

Remove Grafana Integrations from template
  infra/observability/grafana.bicep
Due: .azuredevops/deploy-platform-core.yaml

Added grafanaIntegrations property back in
  infra/observability/grafana.bicep
Due: .azuredevops/deploy-platform-core.yaml

Dynamically set azureMonitorWorkspaceResourceIds bicep param
  .azuredevops/deploy-platform-core.yaml
  infra/observability/grafana.bicep
  infra/observability/grafana.parameters.json
  scripts/Get-WorkspaceResourceIds.ps1
Due: .azuredevops/deploy-platform-core.yaml

remove quotes
  infra/observability/grafana.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Use noescape
  infra/observability/grafana.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Use array function
  infra/observability/grafana.bicep
  infra/observability/grafana.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Add condition for azureMonitorWorkspaceResourceIds
  infra/observability/grafana.bicep
Due: .azuredevops/deploy-platform-core.yaml

Test variable injection into Bicep
  .azuredevops/deploy-platform-core-shared-toremove.yaml
  .azuredevops/deploy-platform-core.yaml
  infra/observability/grafana copy.bicep
  infra/observability/grafana.bicep
  infra/observability/grafana.parameters copy.json
  infra/observability/grafana.parameters.json
  infra/observability/testarray.bicep
  infra/observability/testarray.parameters.json
  scripts/Get-WorkspaceResourceIds copy.ps1
Due: .azuredevops/deploy-platform-core.yaml

Fix params
  infra/observability/grafana.parameters copy.json
  infra/observability/grafana.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Test powershell variable injection
  .azuredevops/deploy-platform-core.yaml
  infra/observability/grafana.bicep
  infra/observability/grafana.parameters.json
  scripts/Get-WorkspaceResourceIds.ps1
Due: .azuredevops/deploy-platform-core.yaml
