Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-fluxnotification.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-fluxnotificationapi.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-iam.yaml: any of: infra/core/iam
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/env/kms-key-rotation
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

vpn_DefraApprovedIp
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/key-vault-public/key-vault-public.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

test
  infra/core/env/key-vault-public/key-vault-public.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

vpn_DefraApprovedIp
  infra/core/env/key-vault-public/key-vault-public.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

json param
  infra/core/env/key-vault-public/key-vault-public.bicep
  infra/core/env/key-vault-public/key-vault-public.bicepparam
  infra/core/env/key-vault-public/key-vault-public.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

keyvault with private endpoint
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/key-vault-public/key-vault-public.bicep
  infra/core/env/key-vault-public/key-vault-public.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

bicep param
  infra/core/env/key-vault-public/key-vault-public.bicepparam
  infra/core/env/key-vault-public/key-vault-public.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

json object
  infra/core/env/key-vault-public/key-vault-public.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

ip range
  infra/core/env/key-vault-public/key-vault-public.bicepparam
  infra/core/env/key-vault-public/key-vault-public.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

vnet
  infra/core/env/key-vault-public/key-vault-public.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

two rules
  infra/core/env/key-vault-public/key-vault-public.bicep
  infra/core/env/key-vault-public/key-vault-public.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

skip ipv6 rules
  infra/core/env/key-vault-public/key-vault-public.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

ipv6 rule
  infra/core/env/key-vault-public/key-vault-public.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

test
  infra/core/env/key-vault-public/key-vault-public.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

ipv4 rules
  infra/core/env/key-vault-public/key-vault-public.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Conditional locks core env-shared
  infra/core/env-shared/adp-portal-api/managed-identity/managed-identity.bicep
  infra/core/env-shared/adp-portal-api/managed-identity/managed-identity.bicepparam
  infra/core/env-shared/adp-portal/managed-identity/managed-identity.bicep
  infra/core/env-shared/adp-portal/managed-identity/managed-identity.bicepparam
  infra/core/env-shared/adp-portal/storage-account/storage-account.bicep
  infra/core/env-shared/adp-portal/storage-account/storage-account.bicepparam
  infra/core/env-shared/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

branch to latest
  .azuredevops/deploy-platform-core-env.yaml
Due: none

ref feature branch
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

updated service connection
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  .azuredevops/deploy-platform-build-agent.yaml
  .azuredevops/deploy-platform-core-env-shared.yaml
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-core-iam.yaml
  .azuredevops/deploy-platform-core-tenant.yaml
  .azuredevops/deploy-platform-kmskeyrotation.yaml
  .azuredevops/deploy-platform-sec-env.yaml
  .azuredevops/publish-platform-nginxplus.yaml
  .azuredevops/publish-powershell-docker-image.yaml
  flux-templates/.azuredevops/onboard-new-service.yaml
Due: none

updated service connection (#216)
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  .azuredevops/deploy-platform-build-agent.yaml
  .azuredevops/deploy-platform-core-env-shared.yaml
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-core-iam.yaml
  .azuredevops/deploy-platform-core-tenant.yaml
  .azuredevops/deploy-platform-kmskeyrotation.yaml
  .azuredevops/deploy-platform-sec-env.yaml
  .azuredevops/publish-platform-nginxplus.yaml
  .azuredevops/publish-powershell-docker-image.yaml
  flux-templates/.azuredevops/onboard-new-service.yaml
Due: none

Add conditional locks to sec resources
  infra/sec/application-gateway/application-gateway.bicep
  infra/sec/application-gateway/application-gateway.bicepparam
  infra/sec/network/network-security-group.bicep
  infra/sec/network/network-security-group.bicepparam
  infra/sec/operational-insights/log-analytics-workspace.bicep
  infra/sec/operational-insights/log-analytics-workspace.bicepparam
Due: .azuredevops/deploy-platform-sec-env.yaml

Refernce feature branch for testing
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

add conditional locks to core env shared resources
  infra/core/env-shared/flexible-server/flexible-server.bicep
  infra/core/env-shared/flexible-server/flexible-server.bicepparam
  infra/core/env-shared/flux-notification/managed-identity/adocallbackapp-managed-identity.bicep
  infra/core/env-shared/flux-notification/managed-identity/adocallbackapp-managed-identity.bicepparam
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicep
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicepparam
  infra/core/env-shared/flux-notification/storage-account/storage-account.bicep
  infra/core/env-shared/flux-notification/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Revert branches
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-core-env-shared.yaml
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

Revert branches
  .azuredevops/deploy-platform-core-env-shared.yaml
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

test
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/key-vault-public/key-vault-public.bicep
  infra/core/env/key-vault/application-keyvault-public-params/key-vault.parameters.json
  infra/core/env/key-vault/key-vault.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Update param description
  infra/bootstrap/env-shared/container-registry/platform-container-registry.bicep
  infra/bootstrap/env-shared/event-hub/namespace.bicep
  infra/bootstrap/env-shared/flexible-server-zone/flexible-server-zone.bicep
  infra/bootstrap/env-shared/key-vault/platform-apps-key-vault.bicep
  infra/bootstrap/env-shared/key-vault/platform-key-vault.bicep
  infra/bootstrap/env-shared/network/network-security-group.bicep
  infra/bootstrap/env-shared/network/route-table.bicep
  infra/common/network/network-security-group.bicep
  infra/common/network/route-table.bicep
  infra/common/network/virtual-network.bicep
  infra/common/operational-insights/log-analytics-workspace.bicep
  infra/core/env-shared/adp-portal-api/managed-identity/managed-identity.bicep
  infra/core/env-shared/adp-portal/managed-identity/managed-identity.bicep
  infra/core/env-shared/adp-portal/storage-account/storage-account.bicep
  infra/core/env-shared/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/flexible-server/flexible-server.bicep
  infra/core/env-shared/flux-notification/managed-identity/adocallbackapp-managed-identity.bicep
  infra/core/env-shared/flux-notification/managed-identity/fluxnotificationapp-managed-identity.bicep
  infra/core/env-shared/flux-notification/storage-account/storage-account.bicep
  infra/core/env/container-registry/application-container-registry.bicep
  infra/core/env/front-door/front-door-waf.bicep
  infra/core/env/front-door/front-door.bicep
  infra/core/env/key-vault/key-vault.bicep
  infra/core/env/managed-cluster/aks-cluster.bicep
  infra/core/env/open-ai/open-ai.bicep
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/private-dns-zone/aks-cluster-zone.bicep
  infra/core/env/private-dns-zone/flexible-server-zone.bicep
  infra/core/env/public-dns-zone/dns-zone.bicep
  infra/core/env/redis-cache/redis-cache.bicep
  infra/core/env/search-service/search-service.bicep
  infra/core/env/service-bus/namespace.bicep
  infra/core/env/storage-account/application-storage-account.bicep
  infra/sec/application-gateway/application-gateway.bicep
  infra/sec/network/network-security-group.bicep
  infra/sec/operational-insights/log-analytics-workspace.bicep
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-sec-env.yaml

powerPlatformIpEurope
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/key-vault-public/key-vault-public.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

test
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/key-vault/application-keyvault-public-params/key-vault.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

point to latest branch
  .azuredevops/deploy-platform-core-env.yaml
Due: none

added resourceLockEnabled
  infra/core/env/key-vault/application-keyvault-public-params/key-vault.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

resourceLockEnabled bool value
  infra/core/env/key-vault/application-keyvault-public-params/key-vault.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

406122 : Public Keyvault (#218)
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/key-vault/application-keyvault-public-params/key-vault.parameters.json
  infra/core/env/key-vault/key-vault.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

removed aad-group module
  scripts/modules/aad-groups/aad-groups.psd1
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml

capacity
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/open-ai/open-ai.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

updated branch
  .azuredevops/deploy-platform-core-env.yaml
Due: none

408875: open ai model capacity update (#220)
  infra/core/env/open-ai/open-ai.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

point branch to main
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  .azuredevops/deploy-platform-core-env-shared.yaml
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-core-iam.yaml
Due: none

405056 : Common Scripts (#219)
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  .azuredevops/deploy-platform-core-env-shared.yaml
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-core-iam.yaml
  infra/bootstrap/tenant/scripts/Create-AADGroups.ps1
  scripts/modules/aad-groups/aad-groups.psd1
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Fux Configuration Settings
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml
