Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1, scripts/modules/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-fluxnotification.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-fluxnotificationapi.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor

'refs/heads/main'
  .azuredevops/deploy-platform-core-fluxnotification.yaml
Due: none

Added subenvironment tag
  infra/core/env-shared/flux-notification-apis/storage-account/storage-account.bicep
  infra/core/env-shared/flux-notification-apis/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

333875: Notification Api Baseline Infra two Manage Identities (#156)
  .azuredevops/deploy-platform-core-fluxnotification.yaml
  infra/core/env-shared/flux-notification-apis/managed-identity/adocallbackapp-managed-identity.bicep
  infra/core/env-shared/flux-notification-apis/managed-identity/adocallbackapp-managed-identity.bicepparam
  infra/core/env-shared/flux-notification-apis/managed-identity/fluxnotificationapp-managed-identity.bicep
  infra/core/env-shared/flux-notification-apis/managed-identity/fluxnotificationapp-managed-identity.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Update branch to main
  .azuredevops/deploy-platform-core-fluxnotification.yaml
Due: none

Update tst branch to refs heads main
  .azuredevops/deploy-platform-core-fluxnotification.yaml
Due: none

Add Reader roles for Cluster and Key Vault for Platform Users Group (#155)
  infra/bootstrap/env-shared/key-vault/platform-key-vault.parameters.json
  infra/core/env-shared/portal/key-vault/key-vault.bicep
  infra/core/env-shared/portal/key-vault/key-vault.bicepparam
  infra/core/env/key-vault/application-keyvault-params/key-vault.bicepparam
  infra/core/env/key-vault/key-vault.bicep
  infra/core/env/key-vault/platform-keyvault-params/key-vault.bicepparam
  infra/core/env/managed-cluster/.bicep/cluster-rbac.bicep
  infra/core/env/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

update feature branch
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

333875: Notification Api Baseline Infra Storage Account (#157)
  .azuredevops/deploy-platform-core-fluxnotification.yaml
  infra/core/env-shared/flux-notification-apis/storage-account/storage-account.bicep
  infra/core/env-shared/flux-notification-apis/storage-account/storage-account.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Comment out event-hub-secret-rbac
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Comment out event-hub-secret-rbac (#158)
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Removed eventhub key value from config
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Add App Config Reader role to the Platform Team group.
  infra/core/env/app-configuration/configuration-store.bicep
  infra/core/env/app-configuration/configuration-store.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

333875: Remove eventhub key value from appconfig deployment (#159)
  infra/core/env/app-configuration/config-data/config-data.json
  infra/core/env/app-configuration/configuration-store.bicep
  infra/core/env/app-configuration/configuration-store.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Initial investigtion for renaming subnets nsgs
  .azuredevops/deploy-platform-core-portal.yaml
  infra/core/env-shared/network/network-security-group.bicepparam
  infra/core/env-shared/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

remove additional #
  infra/core/env-shared/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Create NSGs for DEV and TST
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  infra/core/env-shared/network/network-security-group.bicep
  infra/core/env-shared/network/network-security-group.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Update if statement
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
Due: none

Update bootstrap pipeline to point to feature branch
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
Due: none

Update nsg and and subnet names
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  infra/core/env-shared/network/network-security-group.bicepparam
  infra/core/env-shared/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

add existing subnets while testing
  infra/core/env-shared/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Update network subnets
  infra/core/env-shared/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Upadte pipelien
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
Due: none

Revert repo branch
  .azuredevops/deploy-platform-sec-env.yaml
Due: none

Refactor NSG and pipeline
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  infra/core/env-shared/network/network-security-group.bicepparam
  infra/core/env-shared/network/virtual-network.parameters.json
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Variable changes.
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-core-env.yaml
  infra/bootstrap/env-shared/event-hub/namespace.bicepparam
  infra/core/env-shared/flux-notification-apis/event-hub/event-hub.bicepparam
  infra/core/env-shared/network/network-security-group.bicepparam
  infra/core/env-shared/network/virtual-network.parameters.json
  infra/core/env/app-configuration/config-data/config-data.json
  infra/core/env/event-hub/event-hub-secret-rbac.bicepparam
  infra/core/env/managed-cluster/aks-cluster.bicepparam
  infra/core/env/observability/grafana.parameters.json
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Update NSG name
  infra/core/env-shared/network/network-security-group.bicep
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Change all refes of ssvInfraResourceNamePrefix to infraResourceNamePrefix
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  .azuredevops/deploy-platform-core-env.yaml
  infra/bootstrap/env-shared/event-hub/namespace.bicepparam
  infra/core/env-shared/flux-notification-apis/event-hub/event-hub.bicepparam
  infra/core/env/app-configuration/config-data/config-data.json
  infra/core/env/event-hub/event-hub-secret-rbac.bicepparam
  infra/core/env/managed-cluster/aks-cluster.bicepparam
  infra/core/env/observability/grafana.parameters.json
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Added Platform - All
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
Due: none

Update.
  infra/bootstrap/env-shared/key-vault/platform-key-vault.parameters.json
Due: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap.yaml

Update.
  .azuredevops/deploy-platform-core-portal.yaml
Due: none

Update.
  infra/core/env-shared/portal/key-vault/key-vault.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

flux notifications point to feature/renameSsvSharedEnvResources
  .azuredevops/deploy-platform-core-fluxnotification.yaml
Due: none

Deploy event hubs as part of bootstrap shared
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  infra/core/env-shared/event-hub/event-hub.bicep
  infra/core/env-shared/event-hub/subenvironment1-event-hub-params/event-hub.bicepparam
  infra/core/env-shared/event-hub/subenvironment2-event-hub-params/event-hub.bicepparam
  infra/core/env-shared/flux-notification-apis/event-hub/event-hub.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Fix parameter path
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
Due: none

Update variable to infraResourceNamePrefix
  infra/core/env-shared/event-hub/subenvironment1-event-hub-params/event-hub.bicepparam
  infra/core/env-shared/event-hub/subenvironment2-event-hub-params/event-hub.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

Test Key vault changes from bootstrap env shared
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml
  infra/core/env-shared/key-vault/key-vault.bicep
  infra/core/env-shared/key-vault/subenvironment1-key-vault-params/key-vault.bicepparam
  infra/core/env-shared/key-vault/subenvironment2-key-vault-params/key-vault.bicepparam
Due: .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core.yaml

updated env
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

test in dev
  .azuredevops/deploy-platform-bootstrap-env.yaml
  infra/common/policy/policy-diagnostic-settings-assignment.bicep
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml
