Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml

Path conditions:
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus

Correct arguments.
  .azuredevops/deploy-platform-build-agent.yaml
  infra/build-agent/Create-AdoBuildAgent.ps1
Due: .azuredevops/deploy-platform-build-agent.yaml

Update.
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

private dns zone
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

privateDNSZone
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Update.
  .azuredevops/publish-platform-nginxplus.yaml
Due: none

a record
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
Due: .azuredevops/deploy-platform-core.yaml

workloadProfileType
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Consumption workload
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

updated domain name
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Updated AzureSubscription param to use $(subscriptionName) from var files.
  .azuredevops/publish-platform-nginxplus.yaml
Due: none

267512: Custom roles (#80)
  .azuredevops/deploy-platform-core-env-tenant.yaml
  infra/core/tenant/role-definitions/flexible-server.bicep
  infra/core/tenant/role-definitions/flexible-server.parameters.json
  infra/core/tenant/role-definitions/servicebus.bicep
  infra/core/tenant/role-definitions/servicebus.parameters.json
  infra/core/tenant/role-definitions/storageaccount.bicep
  infra/core/tenant/role-definitions/storageaccount.parameters.json
Due: .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Removed developmentEnvironment: true from ssv5
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

updated ip
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
Due: .azuredevops/deploy-platform-core.yaml

Refer from main branch
  .azuredevops/deploy-platform-core-env-tenant.yaml
Due: none

Refer from main branch (#81)
  .azuredevops/deploy-platform-core-env-tenant.yaml
Due: none

259849: Added DEV1 and SSV5 envs to the pipelines (#77)
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-build-agent.yaml
  .azuredevops/deploy-platform-core-env-shared.yaml
  .azuredevops/publish-platform-nginxplus.yaml
  infra/build-agent/Create-AdoBuildAgent.ps1
Due: .azuredevops/deploy-platform-build-agent.yaml

correct the environment links.
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

container apps env dns record
  .azuredevops/deploy-platform-core-env-shared.yaml
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

update app base url
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

updated ip address
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
Due: .azuredevops/deploy-platform-core.yaml

private link
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Updated container apps
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
Due: .azuredevops/deploy-platform-core.yaml

privateLinkDeployment
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
Due: .azuredevops/deploy-platform-core.yaml

test
  infra/core/env-shared/network/virtual-network.parameters.json
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
Due: .azuredevops/deploy-platform-core.yaml

Update to the env links.
  .azuredevops/deploy-platform-bootstrap-env.yaml
Due: none

Fix build agent script.
  .azuredevops/deploy-platform-build-agent.yaml
  infra/build-agent/Create-AdoBuildAgent.ps1
Due: .azuredevops/deploy-platform-build-agent.yaml

Custom Role Definition config
  infra/core/env/app-configuration/config-data/config-data.json
Due: .azuredevops/deploy-platform-core.yaml

Update.
  infra/build-agent/Create-AdoBuildAgent.ps1
Due: .azuredevops/deploy-platform-build-agent.yaml

updated network and container apps
  infra/core/env-shared/network/virtual-network.parameters.json
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

updated load balancer name
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
Due: .azuredevops/deploy-platform-core.yaml

use container app env 04
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Nginx Pipeline use infra template
  .azuredevops/publish-platform-nginxplus.yaml
Due: none

projectName parameter
  .azuredevops/publish-platform-nginxplus.yaml
Due: none

Environment links.
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

261316: Use infra template in Nginx pipeline (#83)
  .azuredevops/publish-platform-nginxplus.yaml
Due: none

190121: Platform Ad Groups automation (#75)
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
  infra/bootstrap/tenant/scripts/Create-AADGroups.ps1
  scripts/modules/aad-groups/aad-groups.psd1
  scripts/modules/aad-groups/aad-groups.psm1
  scripts/modules/ado/ado.psd1
Due: .azuredevops/deploy-platform-bootstrap.yaml

internal env
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicep
Due: .azuredevops/deploy-platform-core.yaml

disable private link
  infra/core/env-shared/portal/container-apps-env/container-apps-env.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Update.
  .azuredevops/deploy-platform-build-agent.yaml
Due: none

259849: Update build agent VM properties (#84)
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-build-agent.yaml
  infra/build-agent/Create-AdoBuildAgent.ps1
Due: .azuredevops/deploy-platform-build-agent.yaml
