Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/publish-platform-nginxplus.yaml

.azuredevops/deploy-platform-bootstrap-serviceconnections.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-CDO-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-bootstrap.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-build-agent.yaml:
  extends:
    template: /pipelines/common-script-deploy.yaml@ADPPipelineCommon
    parameters:
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SND1-VMSS
        deploymentBranches:
        - '*'
        developmentEnvironment: true
  ...

.azuredevops/deploy-platform-core-shared-services.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
        serviceConnection: $(ssv3Subscription)
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd2
        serviceConnection: AZD-CDO-SND2
        deploymentBranches:
        - '*'
  ...

.azuredevops/publish-platform-nginxplus.yaml:
  extends:
    template: /pipelines/common-script-deploy.yaml@ADPPipelineCommon
    parameters:
      privateAgentName: DEFRA-COMMON-ubuntu2204-SSV3
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
        serviceConnection: $(ssv3Subscription)
  ...

push objectid of tier2 app
  infra/bootstrap/config/app-registrations/tier2-app-registration.json
Due: .azuredevops/deploy-platform-bootstrap.yaml

test app reg
  infra/bootstrap/config/app-registrations/tier2-app-registration.json
Due: .azuredevops/deploy-platform-bootstrap.yaml

rollback service connection change
  infra/bootstrap/config/app-registrations/tier2-app-registration.json
Due: .azuredevops/deploy-platform-bootstrap.yaml

objectId to be used instead of client id
  infra/core/app-configuration/configuration-store.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

SPObjectid
  infra/core/app-configuration/configuration-store.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Use the module to deploy Public DNS
  bicepconfig.json
  infra/core/public-dns-zone/dns-zone.bicep
Due: .azuredevops/deploy-platform-core.yaml

Front door endpoints
  infra/core/front-door/front-door.bicep
Due: .azuredevops/deploy-platform-core.yaml

Front Door - Core
  .azuredevops/deploy-platform-core.yaml
Due: none

240599 : App config role assignment (#46)
  infra/core/app-configuration/configuration-store.bicep
  infra/core/app-configuration/configuration-store.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

environment name update
  infra/core/front-door/front-door.bicep
  infra/core/front-door/front-door.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Updates
  .azuredevops/deploy-platform-core.yaml
Due: none

Added ASO MI with FedCred and role assignments
  infra/core/managed-cluster/.bicep/contributor.bicep
  infra/core/managed-cluster/.bicep/userAccessAdministrator.bicep
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

workspace version update
  infra/core/operational-insights/workspace.bicep
Due: .azuredevops/deploy-platform-core.yaml

point to ACR in SSV Defra
  bicepconfig.json
Due: none

Updated cluster endpoint name
  infra/core/front-door/front-door.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Use single re-usable module for subscription RBAC
  infra/core/managed-cluster/.bicep/contributor.bicep
  infra/core/managed-cluster/.bicep/subscription-rbac.bicep
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Updated federated credential name to match Mi Name
  infra/core/managed-cluster/aks-cluster.bicep
Due: .azuredevops/deploy-platform-core.yaml

Add new custom role definitions for ASB
  infra/core/role-definitions/serviceBusCustomRole.bicep
  infra/core/role-definitions/serviceBusCustomRole.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

renamed files
  infra/core/role-definitions/servicebus-customrole.bicep
  infra/core/role-definitions/servicebus-customrole.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Update var
  infra/core/role-definitions/servicebus-customrole.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

231044: AKS FrontDoor Endpoint (#48)
  bicepconfig.json
  infra/core/front-door/front-door.bicep
  infra/core/front-door/front-door.parameters.json
  infra/core/operational-insights/workspace.bicep
  infra/core/public-dns-zone/dns-zone.bicep
Due: .azuredevops/deploy-platform-core.yaml

AB#242695 - Create ASO Managed Identity for Platform Team (#49)
  infra/core/managed-cluster/.bicep/subscription-rbac.bicep
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Changes to enable Flux to connect to private ACR
  .azuredevops/deploy-platform-core.yaml
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Corrected postBuild variables
  infra/core/managed-cluster/aks-cluster.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

244242: Changes to enable Flux to connect to private ACR (#51)
  .azuredevops/deploy-platform-core.yaml
  infra/core/managed-cluster/aks-cluster.bicep
  infra/core/managed-cluster/aks-cluster.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Assign Key Vault Secrets Officer role
  infra/core/key-vault/application-key-vault.bicep
  infra/core/key-vault/application-key-vault.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Update pull_request_template.md
  pull_request_template.md
Due: none

Use new variables
  .azuredevops/deploy-platform-core.yaml
  infra/core/front-door/front-door.parameters.json
Due: .azuredevops/deploy-platform-core.yaml

Change templates to deployments
  .azuredevops/deploy-platform-bootstrap.yaml
  .azuredevops/deploy-platform-core-shared-services.yaml
  .azuredevops/deploy-platform-core.yaml
Due: none

Use feature branch
  .azuredevops/deploy-platform-core-shared-services.yaml
Due: none

Removed grafana from shared
  .azuredevops/deploy-platform-core-shared-services.yaml
Due: none

Updated the common script path
  .azuredevops/deploy-platform-bootstrap.yaml
Due: none

Update scripts path
  .azuredevops/deploy-platform-bootstrap.yaml
Due: none

248404: Update the Pull Request Template (#53)
  pull_request_template.md
Due: none

Refer token replacement branch
  .azuredevops/deploy-platform-core.yaml
Due: none

Refer feature branch
  .azuredevops/deploy-platform-core.yaml
Due: none

Path conditions:
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
