Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml

.azuredevops/deploy-platform-bootstrap-serviceconnections.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-CDO-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-bootstrap.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-build-agent.yaml:
  extends:
    template: /pipelines/common-script-deploy.yaml@ADPPipelineCommon
    parameters:
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SND1-VMSS
        deploymentBranches:
        - '*'
        developmentEnvironment: true
  ...

.azuredevops/deploy-platform-core-shared-services.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      keyVaultName: $(ssvPlatformKeyVaultName)
  ...

.azuredevops/deploy-platform-kmskeyrotation.yaml:
  extends:
    template: /pipelines/common-script-deploy.yaml@ADPPipelineCommon
    parameters:
      deployFromFeature: ${{ parameters.deployFromFeature }}
      scriptsList:
      - displayName: Initialize or Rotate KMS Key
        scriptPath: infra/core/scripts/Rotate-AksKmsKey.ps1
        type: AzureCLI
  ...

.azuredevops/deploy-tenant-resources.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: defradev
  ...

.azuredevops/publish-platform-nginxplus.yaml:
  extends:
    template: /pipelines/common-script-deploy.yaml@ADPPipelineCommon
    parameters:
      privateAgentName: DEFRA-COMMON-ubuntu2204-SSV3
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
        serviceConnection: $(ssv3Subscription)
  ...

Bootstrap tenant folder
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
  infra/bootstrap/tenant/scripts/Create-AADGroups.ps1
Due: .azuredevops/deploy-platform-bootstrap.yaml

Add environments to pipeline
  .azuredevops/deploy-platform-kmskeyrotation.yaml
Due: none

Core folder to env
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Env shared folder
  .azuredevops/deploy-platform-core-env-shared.yaml
Due: none

Update default-tags path
  infra/bootstrap/env/key-vault/platform-key-vault.bicep
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defra.json
  infra/core/env-shared/container-registry/platform-container-registry.bicep
  infra/core/env/app-configuration/configuration-store.bicep
  infra/core/env/container-registry/application-container-registry.bicep
  infra/core/env/front-door/azure-waf.bicep
  infra/core/env/front-door/front-door.bicep
  infra/core/env/insights/component.bicep
  infra/core/env/key-vault/application-key-vault.bicep
  infra/core/env/managed-cluster/aks-cluster.bicep
  infra/core/env/managed-identity/managed-identity.bicep
  infra/core/env/observability/azure-monitor-workspace.bicep
  infra/core/env/observability/grafana.bicep
  infra/core/env/operational-insights/workspace.bicep
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/private-dns-zone/aks-cluster-zone.bicep
  infra/core/env/private-dns-zone/flexible-server-zone.bicep
  infra/core/env/public-dns-zone/dns-zone.bicep
  infra/core/env/redis-cache/redis-cache.bicep
  infra/core/env/service-bus/namespace.bicep
  infra/core/env/storage-account/application-storage-account.bicep
Due: .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core.yaml

Fixed path issue
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Core tenant pipeline
  .azuredevops/deploy-platform-core-env-tenant.yaml
Due: none

Refer from feature branch
  .azuredevops/deploy-platform-core-env-tenant.yaml
Due: none

Branch name update
  .azuredevops/deploy-platform-core-env-tenant.yaml
Due: none

Empty regional files
  .azuredevops/deploy-platform-core-env-tenant.yaml
Due: none

Removed conditions
  .azuredevops/deploy-platform-core-env-tenant.yaml
Due: none

Use SSV3
  .azuredevops/deploy-platform-core-env-tenant.yaml
Due: none

Added exponential retry
  .azuredevops/deploy-platform-core.yaml
  infra/core/scripts/Rotate-AksKmsKey.ps1
Due: .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml

Use infra deploy for script deployment
  .azuredevops/deploy-platform-kmskeyrotation.yaml
Due: none

Add project name parameter
  .azuredevops/deploy-platform-kmskeyrotation.yaml
Due: none

Add scriptType parameter
  .azuredevops/deploy-platform-kmskeyrotation.yaml
Due: none

Create or Update AD group module and script
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defra.json
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defradev.json
  infra/bootstrap/tenant/scripts/Create-AADGroups.ps1
  scripts/modules/aad-groups/aad-groups.psd1
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap.yaml

token fix
  infra/bootstrap/tenant/scripts/Create-AADGroups.ps1
Due: .azuredevops/deploy-platform-bootstrap.yaml

Get-AccessToken function
  infra/bootstrap/tenant/scripts/Create-AADGroups.ps1
Due: .azuredevops/deploy-platform-bootstrap.yaml

Set-StrictMode commented
  infra/bootstrap/tenant/scripts/Create-AADGroups.ps1
Due: .azuredevops/deploy-platform-bootstrap.yaml

Added AccessToken ParameterType check
  infra/bootstrap/tenant/scripts/Create-AADGroups.ps1
Due: .azuredevops/deploy-platform-bootstrap.yaml

Test error logging
  infra/core/scripts/Rotate-AksKmsKey.ps1
Due: .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml

Test throwing error in pipeline
  infra/core/scripts/Rotate-AksKmsKey.ps1
Due: .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml

Remove test code
  infra/core/scripts/Rotate-AksKmsKey.ps1
Due: .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml

Initial revised KMS changes
  .azuredevops/deploy-platform-core-env.yaml
  .azuredevops/deploy-platform-kmskeyrotation.yaml
  infra/core/env/key-vault/application-key-vault.parameters.json
  infra/core/env/key-vault/application-keyvault-params/key-vault.bicepparam
  infra/core/env/key-vault/key-vault.bicep
  infra/core/env/key-vault/platform-keyvault-params/key-vault.bicepparam
  infra/core/env/managed-cluster/.bicep/keyvault-rbac.bicep
  infra/core/env/managed-cluster/aks-cluster.bicep
  infra/core/env/managed-cluster/aks-cluster.bicepparam
  infra/core/env/scripts/kms-key-rotation/Rotate-AksKmsKey.ps1
Due: .azuredevops/deploy-platform-core.yaml

Pass variables files
  .azuredevops/deploy-platform-core-env-tenant.yaml
Due: none

Remove commented out code
  infra/core/env/scripts/kms-key-rotation/Rotate-AksKmsKey.ps1
Due: .azuredevops/deploy-platform-core.yaml

Update environment name
  .azuredevops/deploy-platform-core-env-tenant.yaml
Due: none

Update
  .azuredevops/deploy-platform-core-env-tenant.yaml
Due: none

removed pshelper
  infra/bootstrap/tenant/scripts/Create-AADGroups.ps1
  scripts/modules/aad-groups/aad-groups.psm1
Due: .azuredevops/deploy-platform-bootstrap.yaml

Move key rotation script
  .azuredevops/deploy-platform-kmskeyrotation.yaml
  infra/core/env/kms-key-rotation/Rotate-AksKmsKey.ps1
Due: .azuredevops/deploy-platform-core.yaml

removed Invoke-CommandLine
  scripts/modules/aad-groups/aad-groups.psm1
Due: none

fix -BodyParameter $groupParameters
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  scripts/modules/aad-groups/aad-groups.psm1
Due: none

temp comment ssv5
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
Due: none

Rename to ADO-DefraGovUK-AAD-CDO-SSV5
  .azuredevops/deploy-platform-bootstrap-tenant.yaml
  infra/bootstrap/tenant/config/aad-groups/platformAADGroups.defra.json
Due: .azuredevops/deploy-platform-bootstrap.yaml

Service bus custom role
  .azuredevops/deploy-platform-core-env-tenant.yaml
  infra/core/tenant/role-definitions/servicebus-customrole.bicep
  infra/core/tenant/role-definitions/servicebus-customrole.bicepparam
Due: .azuredevops/deploy-platform-core.yaml

Deployment name
  .azuredevops/deploy-platform-core-env-tenant.yaml
Due: none

Deploy resources
  .azuredevops/deploy-platform-core-env-tenant.yaml
Due: none

Path conditions:
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/scripts/Rotate-AksKmsKey.ps1
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
