Repository DEFRA/adp-infrastructure-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/deploy-platform-bootstrap-env-shared.yaml, .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml, .azuredevops/deploy-platform-bootstrap-tenant.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-build-agent.yaml, .azuredevops/deploy-platform-core-env-shared.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-fluxnotification.yaml, .azuredevops/deploy-platform-core-fluxnotificationapi.yaml, .azuredevops/deploy-platform-core-iam.yaml, .azuredevops/deploy-platform-core-portal.yaml, .azuredevops/deploy-platform-core-shared-services.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml, .azuredevops/deploy-platform-env-shared.yaml, .azuredevops/deploy-platform-kmskeyrotation.yaml, .azuredevops/deploy-platform-sec-env.yaml, .azuredevops/deploy-tenant-resources.yaml, .azuredevops/publish-platform-nginxplus.yaml, .azuredevops/publish-powershell-docker-image.yaml

.azuredevops/deploy-platform-bootstrap-env-shared.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv3
  ...

.azuredevops/deploy-platform-bootstrap-env.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
  ...

.azuredevops/deploy-platform-bootstrap-serviceconnections.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-CDO-SSV3
        deploymentBranches:
        - '*'
  ...

.azuredevops/deploy-platform-bootstrap-tenant.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      variableFiles:
      - /pipelines/vars/common.yaml@_self
  ...

.azuredevops/deploy-platform-bootstrap.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-build-agent.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: snd1
        serviceConnection: AZD-ADP-SND1-VMSS
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core-env-shared.yaml:
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      environments:
      - name: ssv_dev
        serviceConnection: AZD-ADP-SSV3
        deploymentBranches:
  ...

.azuredevops/deploy-platform-core-env-tenant.yaml:
  name: 1.0.$(BuildID)-${{ parameters.deployResources }}
  extends:
    template: /pipelines/common-infra-deploy.yaml@ADPPipelineCommon
    parameters:
      projectName: $(projectName)
      deployFromFeature: ${{ parameters.deployFromFeature }}
      variableFiles:
      - /pipelines/vars/common.yaml@_self
  ...

Updating DNS name
  infra/core/env/ai-document-intelligence/ai-document-intelligence.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

feat #PL-153: use latest tag for vars
  .azuredevops/deploy-platform-core-env.yaml
Due: none

Ml/di dns (#242)
  .azuredevops/deploy-platform-core-env.yaml
  infra/core/env/ai-document-intelligence/ai-document-intelligence-depolyment-1-params/ai-document-intelligence.parameters.json
  infra/core/env/ai-document-intelligence/ai-document-intelligence.bicep
  infra/core/env/private-dns-zone/ai-document-intelligence-zone.bicep
  infra/core/env/private-dns-zone/ai-document-intelligence-zone.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Pl153 postgres and routing washup (#241)
  .azuredevops/deploy-platform-core-env.yaml
  infra/common/network/route-table.bicep
  infra/common/network/route-table.parameters.json
  infra/common/network/virtual-network-flow-logs.bicep
  infra/common/network/virtual-network-flow-logs.parameters.json
  infra/common/network/virtual-network.parameters.json
  infra/core/env/postgre-sql/flexible-server.bicep
  infra/core/env/postgre-sql/flexible-server.bicepparam
Due: .azuredevops/deploy-platform-bootstrap-env.yaml, .azuredevops/deploy-platform-bootstrap.yaml, .azuredevops/deploy-platform-core-env-tenant.yaml, .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core-tenant.yaml, .azuredevops/deploy-platform-core.yaml

Exposing outbound comnns allowed
  infra/core/env/ai-document-intelligence/ai-document-intelligence.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Exposing outbound comnns allowed (#243)
  infra/core/env/ai-document-intelligence/ai-document-intelligence.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Adding MI Changes
  infra/core/env/ai-document-intelligence/ai-document-intelligence-depolyment-1-params/ai-document-intelligence.parameters.json
  infra/core/env/ai-document-intelligence/ai-document-intelligence.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

managed ID changes
  infra/core/env/ai-document-intelligence/ai-document-intelligence-depolyment-1-params/ai-document-intelligence.parameters.json
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

managed ID changes
  infra/core/env/ai-document-intelligence/ai-document-intelligence-depolyment-1-params/ai-document-intelligence.parameters.json
  infra/core/env/ai-document-intelligence/ai-document-intelligence.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

managed ID changes
  infra/core/env/ai-document-intelligence/ai-document-intelligence.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Lock not supported
  infra/core/env/ai-document-intelligence/ai-document-intelligence.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Adding User Managed Identity (#244)
  infra/core/env/ai-document-intelligence/ai-document-intelligence-depolyment-1-params/ai-document-intelligence.parameters.json
  infra/core/env/ai-document-intelligence/ai-document-intelligence.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

DI does not support User Managed MIs. Moving to System
  infra/core/env/ai-document-intelligence/ai-document-intelligence-depolyment-1-params/ai-document-intelligence.parameters.json
  infra/core/env/ai-document-intelligence/ai-document-intelligence.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

DI does not support User Managed MIs. Moving to System (#245)
  infra/core/env/ai-document-intelligence/ai-document-intelligence-depolyment-1-params/ai-document-intelligence.parameters.json
  infra/core/env/ai-document-intelligence/ai-document-intelligence.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Exposing whether local keys can be used
  infra/core/env/ai-document-intelligence/ai-document-intelligence-depolyment-1-params/ai-document-intelligence.parameters.json
  infra/core/env/ai-document-intelligence/ai-document-intelligence.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Exposing whether local keys can be used (#246)
  infra/core/env/ai-document-intelligence/ai-document-intelligence-depolyment-1-params/ai-document-intelligence.parameters.json
  infra/core/env/ai-document-intelligence/ai-document-intelligence.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Update max count to read from parameter
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Add quotes
  infra/core/env/managed-cluster/aks-cluster.bicepparam
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Remove snd1, snd2 and snd3
  .azuredevops/deploy-platform-bootstrap-env.yaml
  .azuredevops/deploy-platform-build-agent.yaml
  .azuredevops/deploy-platform-sec-env.yaml
  .azuredevops/publish-platform-nginxplus.yaml
Due: none

disable the shared key access
  infra/core/env/storage-account/application-storage-account.bicep
Due: .azuredevops/deploy-platform-core-env.yaml, .azuredevops/deploy-platform-core.yaml

Add Azure DevOps pipeline for removing resource locks
  .azuredevops/deploy-platform-core-env-shared-rm-lock.yaml
Due: none

Set default resource ID for Azure DevOps pipeline to remove resource locks
  .azuredevops/deploy-platform-core-env-shared-rm-lock.yaml
Due: none

Enhance lock removal script to parse resource ID and list locks by resource group, namespace, type, and name
  .azuredevops/deploy-platform-core-env-shared-rm-lock.yaml
Due: none

Refactor Azure DevOps pipeline to simplify lock removal process by removing resource ID parameter and related parsing logic
  .azuredevops/deploy-platform-core-env-shared-rm-lock.yaml
Due: none

Set default Azure service connection to AZR-ADP-PRD1 for lock removal pipeline
  .azuredevops/deploy-platform-core-env-shared-rm-lock.yaml
Due: none

Path conditions:
  .azuredevops/deploy-platform-bootstrap-env-shared.yaml: any of: infra/bootstrap/env-shared, infra/common/policy-assignment
  .azuredevops/deploy-platform-bootstrap-env.yaml: any of: infra/bootstrap/env, infra/common
  .azuredevops/deploy-platform-bootstrap-serviceconnections.yaml: any of: infra/config/app-registrations, infra/config/service-connections, scripts/service-connection, scripts/Assign-RBAC-Subscription.ps1, but not: scripts/Create-AdoBuildAgent.ps1
  .azuredevops/deploy-platform-bootstrap-tenant.yaml: any of: infra/bootstrap/tenant/config/aad-groups
  .azuredevops/deploy-platform-bootstrap.yaml: any of: infra/bootstrap, infra/common
  .azuredevops/deploy-platform-build-agent.yaml: any of: infra/build-agent
  .azuredevops/deploy-platform-core-env-shared.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-env-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core-env.yaml: any of: infra/core/env, infra/common
  .azuredevops/deploy-platform-core-fluxnotification.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-fluxnotificationapi.yaml: any of: infra/core/env-shared/flux-notification-apis
  .azuredevops/deploy-platform-core-iam.yaml: any of: infra/core/iam
  .azuredevops/deploy-platform-core-portal.yaml: any of: infra/core/env-shared
  .azuredevops/deploy-platform-core-shared-services.yaml: any of: infra/core-shared-services
  .azuredevops/deploy-platform-core-tenant.yaml: any of: infra/core/tenant, infra/common
  .azuredevops/deploy-platform-core.yaml: any of: infra/core, infra/common
  .azuredevops/deploy-platform-env-shared.yaml: any of: infra/env-shared
  .azuredevops/deploy-platform-kmskeyrotation.yaml: any of: infra/core/env/kms-key-rotation
  .azuredevops/deploy-platform-sec-env.yaml: any of: infra/sec
  .azuredevops/deploy-tenant-resources.yaml: any of: infra/bootstrap/config/aad-groups, infra/scripts/ado/Create-AADGroups.ps1
  .azuredevops/publish-platform-nginxplus.yaml: any of: nginxplus
  .azuredevops/publish-powershell-docker-image.yaml: any of: powershell-executor
